<app-menu [type]="role"></app-menu>
<section [class]="!showData ? 'dashboard attorney-dashboard mainLogoscreen' : 'd-none'">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/menu.svg" alt="menu" (click)="OpenMenu()">
		</div>
		<div class="page-title">
			<h2>Dashboard</h2>
		</div>
		<div></div>
	</div>

	<!-- tabbing -->
	<div class="page-contain">
		<div class="client-box" *ngFor="let i of AttorneyClientsArr" (scrolled)="hidden=false;onWindowScroll()">
			<div class="client-box-contain" (click)="openUserDetails(i,'crush')">
				<div class="client-img">
					<img [src]="i.crush.profile_url ? i.crush.profile_url : 'assets/images/no-image-user.png' "
						alt="client">
				</div>
				<div class="client-detail">
					<h4 class="client-name">{{i.crush.full_name}}</h4>
					<h6 class="client-age">Age,{{i.crush.age}}</h6>
				</div>
			</div>
			<div class="client-box-contain" (click)="openUserDetails(i,'user')">
				<div class="client-img">
					<img [src]="i.user.profile_url ? i.user.profile_url  : 'assets/images/no-image-user.png' "
						alt="client">
				</div>
				<div class="client-detail">
					<h4 class="client-name">{{i.user.full_name}}</h4>
					<h6 class="client-age">Age,{{i.user.age}}</h6>
				</div>
			</div>
			<!-- Chat-btn -->
			<div class="chat-btn">
				<img src="assets/images/svg/color-messages.svg" alt="chat" (click)="redirectToChat(i)">
			</div>
		</div>
		<div #loading></div>

		<div *ngIf="noDataList" (click)="ClientsList()">
			<img class="imgdata" src="assets/images/color-logo.png"><br>
			<h2 class="nodata">No data avaiable to show.</h2>
			<p class="refresh">Click here to refresh</p>
		</div>
	</div>
</section>

<app-friend-list *ngIf="showData" [attorneyData]="userData" (hideFriendList)="hideFriendList()"></app-friend-list>