<section class="menu-bar">
	<div class="user-pic">
		<img [src]="this.user_profile_url ? this.user_profile_url:'assets/images/no-image-user.png'" alt="user"
			[routerLink]="menu ? ['/main/profile'] : ['/main//attorney/attorney-profile']" (click)="CloseMenu()">
	</div>
	<h1 class="user-name">{{full_name }}</h1>
	<h4 class="user-email" [hidden]="menu">{{email}}</h4>
	<div class="menu-links-part">
		<ul class="">
			<li class="menu-links">
				<div class="menu-icon">
					<img src="assets/images/svg/home.svg" alt="home">
				</div>
				<a href="javascript:;" class="text-link"
					[routerLink]="menu ? ['/main/dashboard'] : ['/main/attorney/attorney-dashboard']"
					(click)="CloseMenu()">Home</a>
			</li>
			<li class="menu-links">
				<div class="menu-icon">
					<img src="assets/images/svg/video 2.svg" alt="Connections">
				</div>
				<a href="javascript:;" class="text-link" [routerLink]="['/main/connections']"
					(click)="CloseMenu()">Connections</a>
			</li>
			<li class="menu-links" *ngIf="chatHide">
				<div class="menu-icon">
					<img src="assets/images/svg/messages.svg" alt="Chats">
				</div>
				<a href="javascript:;" class="text-link"
					[routerLink]="menu ? ['/main/chat','user1'] : ['/main/chat','attorney1']"
					(click)="CloseMenu()">Chats</a>
			</li>
			<li class="menu-links">
				<div class="menu-icon">
					<img src="assets/images/svg/notifications.svg" alt="Notifications">
				</div>
				<a href="javascript:;" class="text-link"
					[routerLink]="menu ? ['/main/notification'] : ['/main/attorney/attorney-notification']"
					(click)="CloseMenu()">Notifications</a>
			</li>
			<li class="menu-links">
				<div class="menu-icon">
					<img src="assets/images/svg/settings.svg" alt="Settings">
				</div>
				<a href="javascript:;" class="text-link"
					[routerLink]="menu ? ['/main/setting'] : ['/main/attorney/attorney-setting']"
					(click)="CloseMenu()">Settings</a>
			</li>
		</ul>
	</div>
</section>
<div class="remove-menu" (click)="CloseMenu()"></div>