<!--Forgot Passowrd-->
<div class="loginpage resetpage forgot-password">
    <div class="back-header">
        <img src="assets/images/icons/color-back.png" [routerLink]="['/sign-in']" width="17">
    </div>
    <div class="login-logo text-center">
        <img src="assets/images/color-logo.png">
    </div>
    <h3 class="text-center mb-5">Please enter your registered Email ID here. A reset link will be sent on your mail
    </h3>
    <div class="login-signin w-100">
        <div class="form-outer">
            <form autocomplete="off" class="loginForm" #forgotMailForm="ngForm"
                (ngSubmit)="forgotPasswordMail(forgotMailForm, user)">
                <div class="form-group">
                    <label class="form-label">Email ID</label>
                    <div [ngClass]="((submitted ) && email.invalid)?'has-danger':''">
                        <input class='form-control' type="text" name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                            [(ngModel)]="user.email" placeholder="Enter Email ID" id="email" required #email="ngModel"
                            autocomplete="off" />
                        <div class="error-block" *ngIf="((submitted ) && email.invalid)">
                            <i class="la la-exclamation-triangle pr-2"></i>{{showError('email', email.errors)}}
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <a href="javascript:;" class="email-link"></a>
                </div>
                <div class="form-group text-center col-12">
                    <button class="btn btn-primary btn-block" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- success message -->
<div *ngIf="successMessage">
    <div class="success"><i class="la la-check pr-2"></i>{{successMessageStatus}}</div>
</div>

<!-- error message -->
<div *ngIf=errorMessageStatus>
    <div class="error-block"><i class="la la-exclamation-triangle pr-2"></i>{{errorMessageStatus1}}</div>
</div>