<!-- Sign Up opational Page -->
<div class="loginpage" *ngIf="!singUp">
    <div class="back-header text-center">
        <h2>Are you?</h2>
    </div>
    <div class="login-signin">
        <div class="form-outer">
            <div class="custom-radio-box">
                <div class="radio">
                    <label (click)="optionSelected('user')">
                        <input type="radio" value="100000" name="size">
                        <div class="inner">
                            <img src="assets/images/svg/user.svg">
                            <h2>User</h2>
                            <span>Looking for Love</span>
                        </div>
                    </label>
                    <label (click)="optionSelected('attorney')">
                        <input type="radio" value="100000" name="size">
                        <div class="inner">
                            <img src="assets/images/svg/att.svg">
                            <h2>Attorney</h2>
                            <span>Looking to Help</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="form-group text-center col-12">
                <button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit"
                    (click)="over(size)">Done</button>
                <div class="error-block" *ngIf="usertype">
                    <i class="la la-exclamation-triangle pr-2"></i>Please select user type to continue
                </div>
            </div>
            <div class="text-center link-with-text">
                <span class="text-grey">Already have an account? </span>
                <a href="javascript:;" class="text-link" [routerLink]="['/sign-in']">Sign In</a>
            </div>
        </div>
    </div>
</div>

<!-- Sign Up Page -->
<div class="loginpage" *ngIf="singUp">
    <div class="back-header">
        <img src="assets/images/icons/color-back.png" (click)="back()" width="17">
        <h2></h2>
    </div>
    <div class="login-logo text-center">
        <img src="assets/images/color-logo.png">
    </div>
    <h3 class="text-center m-0">Sign up using your email address and create a Profile</h3>
    <div class="login-signin">
        <div class="form-outer">
            <form autocomplete="off" class="loginForm" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm, signup)">
                <div class="form-group" *ngIf='signup'>
                    <label class="form-label">Full Name</label>
                    <div [ngClass]="((submitted ) && fullname.invalid)?'has-danger':''">
                        <input class='form-control' type="text" name="full_name" [(ngModel)]="signup.full_name"
                            maxlength="50" placeholder="Full Name" id="full_name" required #fullname="ngModel"
                            autocomplete="off">
                        <div class="form-control-feedback error-block" *ngIf="((submitted ) && fullname.invalid)">
                            <i class="la la-exclamation-triangle pr-2"></i>{{showError('fullname', fullname.errors)}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Email ID</label>
                    <div>
                        <input class='form-control' type="text" name="email"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (keydown)="RestrictSpace($event)"
                            [(ngModel)]="signup.email" placeholder="Email ID" id="email" required #email="ngModel"
                            autocomplete="off" />
                        <div class="error-block" *ngIf="((submitted1 ) && email.invalid)">
                            <i class="la la-exclamation-triangle pr-2"></i>{{showError('email', email.errors)}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <div class="input-iconright">
                        <input class='form-control' type="{{passtype}}" name="password" [(ngModel)]="signup.password"
                            placeholder="Password" id="password" required #password="ngModel" autocomplete="off">
                        <i class="iconright iconright-view" [ngClass]=" this.show? 'la la-eye-slash' : 'la la-eye' "
                            (click)="showpass()"></i>
                        <!-- <span class="info-label">Minimum 8 characters: Caps, Special character and numeric</span> -->
                        <div class="error-block" *ngIf="passwordMsg">
                            <i class="la la-exclamation-triangle pr-2"></i>{{passwordMsg}}
                        </div>
                        <div class="error-block" *ngIf="pswLength">
                            <i class="la la-exclamation-triangle pr-2"></i> {{pswLength}}
                        </div>
                    </div>
                </div>
                <div class="text-center link-with-text">
                    <div class="checkbox-btn">
                        <label>
                            <input type="checkbox" name="policyTerms" [(ngModel)]="signup.policyTerms"
                                #policyTerms="ngModel" required>
                            <span></span>
                        </label>
                    </div>
                    <span class="text-grey">I agree to the</span>
                    <a href="javascript:;" class="text-link" (click)="OpenFilter()"> Terms & Conditions* </a>
                    <span>
                        <div class="error-block" *ngIf="((submitted3 ) && policyTerms.invalid)">
                            <i
                                class="la la-exclamation-triangle pr-2"></i>{{showError('policyTerms',policyTerms.errors)}}
                        </div>
                        <!-- *ngIf="(!singup.policyTerms && submitted)" -->
                    </span>
                </div>
                <div class="form-group text-center col-12">
                    <button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit">SIGN UP</button>
                </div>
            </form>
            <div class="sign-in-facebook" *ngIf="!activefb">
                <div class="form-group text-center">
                    <h5 class="text-grey">OR</h5>
                </div>
                <app-social-login [register]="'userRegister'"></app-social-login>
            </div>
        </div>
    </div>
</div>
<div *ngIf=errorMessageStatus>
    <div class="error-block"><i class="la la-exclamation-triangle pr-2"></i>{{errorMessageStatus1}}</div>
</div>

<!-- Custom modal for terms and conditions -->
<div class="custom-modal">
    <div class="custom-modal-header">
        <h2>Terms & Conditions</h2>
        <img src="assets/images/svg/color-close.svg" alt="menu" (click)="CloseFilter()" class="closefilter">
    </div>
    <div class="cmswrap">
        <app-user-terms></app-user-terms>
    </div>
    <div class="text-center col-12">
        <button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit"
            (click)="CloseFilter()">Done</button>
    </div>
</div>