<section class="dashboard profile-page attorney-profile mainLogoscreen">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/back.svg" alt="menu" (click)="back()">
		</div>
		<div class="page-title">
			<h2>Reviews</h2>
		</div>
		<div></div>
	</div>
	<div class="page-contain">
		<div class="rater">
			<div class="rating-person-name">
				<h2>{{ratingReview.attorney_name }}</h2>
			</div>
			<div class="review-star">
				<star-rating value="{{ratingReview.avgRating}}" checkedcolor="red" uncheckedcolor="black" size="24px"  ></star-rating>
			</div>
		</div>
		<div class="rating-box" *ngFor="let i of ratingUsers">
			<div class="rater-img">
				<img src="{{i.profile_url}}" alt="rater">
			</div>
			<div class="rating-detail">
				<div class="rater-person-box">
					<h4 class="rater-name">{{i.full_name}}</h4>
					<h6 class="last-rating">{{moment(i.createdAt).fromNow()}}</h6>
				</div>
				<div class="rating-count">
					<h5>RATED <span>{{i.star}}<i class="la la-star"></i></span></h5>
				</div>
				<div class="rating-contain">
					<p>{{i.review}}</p>
				</div>
			</div>
		</div>
	</div>
</section>