<!-- start section-->
<section class="friend-list mainLogoscreen" [ngClass]="{'active':FriendListFlag}" (swipedown)="onSwipeDown()">
	<div class="friend-img">
		<img [src]="friendsData.profile_url ?friendsData.profile_url:'assets/images/no-image-user.png'">
	</div>
	<div class="friend-detail-box">
		<div class="friend-detail">
			<h2>{{friendsData.full_name}}</h2>
			<h4><img src="assets/images/svg/location.svg" alt="location" class="pr-2">{{friendsData.live_in}} </h4>
			<h4><img src="assets/images/svg/username.svg" alt="user" class="pr-2">@{{friendsData.username}}</h4>
		</div>
		<div class="friend-counter">
			<span><img alt="male" class="mr-1" src="assets/images/svg/male.svg">{{friendsData.age}}</span>
		</div>
		<div *ngIf="attorney" class="chat-btn" (click)="redirectToChatDetail()"><img alt="chat"
				src="assets/images/svg/color-messages.svg"></div>
	</div>
	<div class="my-detail pt-0">
		<h5 class="profile-page-label">About</h5>
		<p class="my-contain">{{friendsData.about_me}}
		</p>
	</div>
	<div class="row my-detail">
		<div class="form-group col-6">
			<label class="form-label">Do I have children?
				<h4>{{ friendsData.have_child == true ? 'Yes' : 'No'}}</h4>
			</label>
		</div>
		<div class="form-group col-6">
			<label class="form-label">Do I want children?
				<h4>{{ friendsData.want_child == true ? 'Yes' : 'No'}}</h4>
			</label>
		</div>
		<div class="form-group col-6">
			<label class="form-label">Do I smoke?
				<h4>{{ friendsData.i_smoke == true ? 'Yes' : 'No'}}</h4>
			</label>
		</div>
		<div class="form-group col-6">
			<label class="form-label">Do I drink?
				<h4>{{ friendsData.i_drink == true ? 'Yes' : 'No'}}</h4>
			</label>
		</div>
		<div class="form-group col-6">
			<label class="form-label">Highest Education
				<h4>{{ friendsData.education ? friendsData.education : '--'}}</h4>
			</label>
		</div>
		<div class="form-group col-6">
			<label class="form-label">Birth year
				<h4>{{birthdayYear}}</h4>
			</label>
		</div>
		<div class="text-center col-12" *ngIf="attorney">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="button"
				(click)="attorneyList(friendsData)">Talk to attorney</button>
		</div>
		<div class="logout report">
			<button *ngIf="reportabuse" class="btn btn-primary logout-btn btn-block" type="submit"
				(click)="ReportFlagOpen()">REPORT
				ABUSE</button>
		</div>
	</div>

	<!-- report-modal -->
	<div class="report-modal" [ngClass]="{'active':ReportFlag}">
		<div class="report-modal-header text-center">
			<h2>Report</h2>
		</div>
		<div class="report-modal-body">
			<div class="round-radio">
				<div class="radio">
					<label>
						<input type="radio" value="Nudity" name="report" [(ngModel)]="report">
						<div class="inner">
						</div>
						<small>Nudity</small>
					</label>
					<label>
						<input type="radio" value="Harassment" name="report" [(ngModel)]="report">
						<div class="inner">
						</div>
						<small>Harassment</small>
					</label>
					<label>
						<input type="radio" value="Offensive comments (e.g. Racism)" name="report" [(ngModel)]="report">
						<div class="inner">
						</div>
						<small>Offensive comments (e.g. Racism)</small>
					</label>
					<label>
						<input type="radio" value="Bot" name="report" [(ngModel)]="report">
						<div class="inner">
						</div>
						<small>Bot</small>
					</label>
				</div>
			</div>
			<div class="form-group text-center col-12">
				<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit"
					(click)="reportAbuse(report)">Submit</button>
			</div>
		</div>
	</div>
</section>
<!-- end section-->

<div class="page-overlay" [ngClass]="{'active':PageOverlayFlag}" (click)="ReportFlagClose()"></div>
<ng-template #template>
	<div class="modal-header text-center">
		<h4 class="modal-title mx-auto">We’re Sorry!</h4>
	</div>
	<div class="modal-body text-center">
		<div>
			<img src="assets/images/svg/sorry.svg" alt="spread">
		</div>
		<div class="modal-body-contain">
			<p>This service is not available in your current region. But keep checking as we are constantly adding new
				countries and hope to offer services to every nation in future.</p>
		</div>
		<div class="form-group text-center">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit">Continue</button>
		</div>
	</div>
</ng-template>