<app-menu [type]="role"></app-menu>
<!-- start section-->
<section class="dashboard profile-page setting-page mainLogoscreen">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/menu.svg" alt="menu" (click)="OpenMenu()">
		</div>
		<div class="page-title">
			<h2>Notifications</h2>
		</div>
		<div></div>
	</div>
	<div class="page-contain" style="overflow: inherit; height: auto;">
		<!--start notifications list -->
		<div class="older">
			<div class="notification-box" *ngFor="let i of notificationArr" (scrolled)="onWindowScroll()">
				<div class="notification-user">
					<img [src]="i.profile_url ? i.profile_url:'assets/images/no-image-user.png'">
				</div>
				<div class="notification-user-detail">
					<div class="notification-user-name">
						<h4>{{i.message}}</h4>
					</div>
					<div class="notification-time">
						<span>{{(i?.agoTime).indexOf('minutes')==-1 ? i?.agoTime : 'just now'}}</span>
					</div>
				</div>
			</div>
			<div *ngIf="noDataList" (click)="getNoDataList()">
				<img class="imgdata" src="assets/images/color-logo.png"><br>
				<h2 class="nodata">No data avaiable to show.</h2>
				<p class="refresh">Click here to refresh</p>
			</div>
		</div>
		<!--end notifications list -->
	</div>
</section>
<div class="tester" #loading></div>
<!-- end section-->