<div class="loginpage">
    <div class="login-logo text-center">
        <img src="assets/images/color-logo.png">
    </div>
    <h3 class="text-center m-0">Sign in with your registered email ID and password</h3>
    <div class="login-signin">
        <div class="form-outer">
            <!-- Login Form -->
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm, user)" autocomplete="off" class="loginForm">
                <!-- Email Id -->
                <div class="form-group">
                    <label class="form-label">Email ID</label>
                    <div>
                        <input class='form-control' type="text" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            (keydown)="RestrictSpace($event)" [(ngModel)]="user.email" placeholder="Email ID" id="email"
                            required #email="ngModel" autocomplete="off" />
                        <div class="error-block" *ngIf="((submitted1 ) && email.invalid)">
                            <i class="la la-exclamation-triangle pr-2"></i>{{showError('email', email.errors)}}
                        </div>
                    </div>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <div [ngClass]="((submitted1 ) && password.invalid)?'has-danger':''">
                        <input class='form-control' type="password" name="password" [(ngModel)]="user.password"
                            placeholder="Enter Password" id="password" required #password="ngModel" autocomplete="off">
                        <div class="error-block" *ngIf="passwordValMsg">
                            <i class="la la-exclamation-triangle pr-2"></i>{{passwordValMsg}}
                        </div>
                    </div>
                </div>
                <div class="form-group text-center col-12">
                    <button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit">SIGN IN</button>
                </div>
                <!-- Forget Password -->
                <div class="form-group text-center">
                    <div class="forgotlink">
                        <a href="javascript:;" class="text-link" [routerLink]="['/forgotpassword']">Forgot your
                            Password?</a>
                    </div>
                </div>
            </form>
            <!-- or btn -->
            <div class="sign-in-facebook">
                <div class="form-group text-center">
                    <h5 class="text-grey">OR</h5>
                </div>
                <app-social-login [register]="'login'"></app-social-login>
                <div class="text-center link-with-text">
                    <span class="text-grey">Don't have an account? </span>
                    <a href="javascript:;" class="text-link" [routerLink]="['/sign-up']">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Error Message -->
<div *ngIf="errorMessageStatus">
    <div class="error-block"><i class="la la-exclamation-triangle pr-2"></i>{{errorMessageStatus1}}</div>
</div>