<div class="text-center col-12 mt-3 d-inline-block" *ngIf="facebook">
    <button class="btn btn-primary btn-block" type="submit" (click)="socialSignIn('facebook')"><img class="pr-3"
            src="assets/images/icons/facebook.png" alt="facebook" title="facebook"> Sign up with Facebook</button>
</div>
<div class="text-center col-12 mt-3 d-inline-block" *ngIf="!facebook">
    <button class="btn btn-primary btn-block" type="submit" (click)="socialSignIn('facebook')"><img class="pr-3"
            src="assets/images/icons/facebook.png" alt="facebook" title="facebook"> Sign In with Facebook</button>
</div>