<app-menu [type]="role"></app-menu>
<!-- start section-->
<section [class]="!showData ? 'dashboard top-header-tab mainLogoscreen' : 'd-none'">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/menu.svg" alt="menu" (click)="OpenMenu()">
		</div>
		<div class="page-title">
			<h2>Connections</h2>
		</div>
		<div *ngIf="!noDone"></div>
		<div *ngIf="noDone" [ngClass]="{'d-none':EditBtnFlag}">
			<img src="assets/images/svg/edit.svg" alt="edit" (click)="EditBtn('edit',tabs)">
		</div>
		<div class="done" *ngIf="noDone" [ngClass]="{'d-block':OpenBtnFlag}" (click)="DoneBtn(tabs)">
			<h3>Done</h3>
		</div>
	</div>
	<div>
		<tabset #staticTabs>
			<!-- 1st tab for Interests-->
			<tab heading="Interests" id="tab1" (selectTab)="page = 1;getInterestList()">
				<div>
					<div class="page-contain" [ngClass]="{'active':EditFlag}">
						<div class="user-data">
							<div class="user-box" *ngFor="let i of interestArr" (scrolled)="onWindowScroll()">
								<div (click)="UserDetailOpen('interest',i);">
									<div class="user-box-img">
										<img [src]="i.profile_url ? i.profile_url : 'assets/images/no-image-user.png'"
											alt="user">
									</div>
									<div class="user-info">
										<h5 class="user-names">{{i.full_name }}</h5>
										<h6 class="user-age">Age,{{i.age}}</h6>
									</div>
								</div>
								<div class="checkbox-btn">
									<label>
										<input name="checkbox" type="checkbox" value="0" (change)="selectUsers(i)">
										<span> </span>
									</label>
								</div>
							</div>
						</div>
						<div *ngIf="noDataInterest" (click)="interestData()">
							<img class="imgdata" src="assets/images/color-logo.png"><br>
							<h2 class="nodata">No data avaiable to show.</h2>
							<p class="refresh">Click here to refresh</p>
						</div>
					</div>
					<div #loading></div>
				</div>
			</tab>
			<!-- 2nd tab for Crush-->
			<tab heading="Crush" (selectTab)="page = 1;getCrushList()" (scrolled)="onWindowScroll()">
				<div>
					<div class="page-contain" [ngClass]="{'active':EditFlag}">
						<div class="user-data">
							<div class="user-box" *ngFor="let j of crushArr" (scrolled)="onWindowScroll()
							">
								<div (click)="UserDetailOpen('crush',j);">
									<div class="user-box-img">
										<img [src]="j.image ? imagePath+j.image :'assets/images/no-image-user.png'"
											alt="user">
									</div>
									<div class="user-info">
										<h5 class="user-names">{{j.fullname }}</h5>
										<!-- <h6 class="user-age">Age,{{j.age}}</h6> -->
									</div>
								</div>
								<div class="checkbox-btn">
									<label>
										<input name="checkbox" type="checkbox" (change)="selectUsers(j)">
										<span></span>
									</label>
								</div>
							</div>
						</div>
						<div *ngIf="noDataCrush" (click)="crushData()">
							<img class="imgdata" src="assets/images/color-logo.png"><br>
							<h2 class="nodata">No data avaiable to show.</h2>
							<p class="refresh">Click here to refresh</p>
						</div>
					</div>
					<div #loading></div>
				</div>
			</tab>
			<!-- 3rd tab for Requested-->
			<tab heading="Requested" (selectTab)="page = 1;getRequestedList()" (scrolled)="onWindowScroll()
			">
				<div>
					<div class="page-contain" [ngClass]="{'active':EditFlag}">
						<div class="user-data">
							<div class="user-box" *ngFor="let j of requestedArr" (scrolled)="onWindowScroll()">
								<div (click)=" UserDetailOpen('requested',j);">
									<div class="user-box-img">
										<img [src]="j.image ? imagePath+j.image : 'assets/images/no-image-user.png'"
											alt="user">
									</div>
									<div class="user-info">
										<h5 class="user-names">{{j.fullname }}</h5>
										<!-- <h6 class="user-age">Age,{{j.age}}</h6> -->
									</div>
								</div>
								<div class="checkbox-btn">
									<label>
										<input name=" checkbox" type="checkbox" value="0" (change)="selectUsers(j)">
										<span> </span>
									</label>
								</div>
							</div>
						</div>
						<div *ngIf="noDataRequest" (click)="requestData()">
							<img class="imgdata" src="assets/images/color-logo.png"><br>
							<h2 class="nodata">No data avaiable to show.</h2>
							<p class="refresh">Click here to refresh</p>
						</div>
					</div>
					<div #loading></div>
				</div>
			</tab>
		</tabset>
	</div>
</section>
<!-- end section-->
<!-- success message-->
<div *ngIf="successMessage">
	<div class="success"><i class="la la-check pr-2"></i>{{successMessageStatus}}</div>
</div>
<!-- User Details -->
<div class="user-detail" [ngClass]="{'active':UserDetailFlag}" (swiperight)="onSwipeRight(userData)"
	(swipeup)="onSwipeTop(userData)" (swipedown)="onSwipeDown(userData)" *ngIf="!showData">
	<div *ngIf="!video">
		<img src="assets/images/svg/back.svg" alt="menu" (click)="back()">
	</div>
	<div *ngIf="video">
		<img src="assets/images/svg/back.svg" alt="menu" (click)="back1(tabs)">
	</div>
	<div class="img-part">
		<img *ngIf="!video" [src]="userData.profile_url ? userData.profile_url : 'assets/images/no-image-user.png'"
			alt="user" style="cursor: pointer;" (click)="showNextImage(userData)">
		<video width="100%" height="100%" *ngIf="video" class="library" muted controls autoplay playsinline>
			<source [src]="video_url" type='video/mp4'>
		</video>
		<div *ngIf="videourl">
			<div class="error-block"><i class="la la-exclamation-triangle pr-2"></i>{{videourlStatus}}</div>
		</div>
	</div>
	<div class="user-detail-bottom">
		<div class="like-close" *ngIf="likeButton">
			<div class="close-icn">
				<img src="assets/images/svg/close-grey.svg" alt="close" (click)="UserDetailClose(userData,'close');">
			</div>
			<div class="like">
				<i class="la la-heart" (click)="UserDetailClose(userData,'like');"></i>
			</div>
		</div>
		<div *ngIf="!video">
			<h2>{{userData.full_name }}</h2>
		</div>
	</div>
</div>
<app-friend-list *ngIf="showData" [data1]="userData" (hideFriendList)="hideFriendList()"></app-friend-list>