.success
{
    color: green;
    background: lightgreen;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
}
.imgdata{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top :150px;
  width: 9%;
}
.nodata
{
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    color: lightslategray;
    font-weight: 600;

}
.refresh
{
    text-align: center;
    font-size: 19px;
    color:lightslategray;
}
.library
{
    display: block;
    width:100%;
    height:100%
}