.overlay {
    position: absolute !important;
    top: 248px;
    left: 124px;
    width: 17%;
    height: 9%;
    z-index: 99999!important;
}
.terms
{
    color:red;
    font-weight: bold
}
.policy
{
    color:red;
    font-weight: bold;
    margin-top:20px;
}