
<app-menu [type]="role"></app-menu>
<section class="dashboard profile-page setting-page mainLogoscreen">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/menu.svg" alt="menu" (click)="OpenMenu()">
		</div>
		<div class="page-title">
			<h2>Settings</h2>
		</div>
		<div></div>
	</div> 
	<div class="page-contain">
		<h5 class="profile-page-label">Notifications</h5>
		<div class="setting-box">
			<div class="setting-contain">
				<h4>New Clients</h4>
				<ui-switch defaultBgColor="#FFF" defaultBoColor="#EDEDED" (change)="notifications($event,'new_client')"
					[(ngModel)]="user.new_clients"></ui-switch>
			</div>
			<div class="setting-contain">
				<h4>New Message</h4>
				<ui-switch defaultBgColor="#FFF" defaultBoColor="#EDEDED" (change)="notifications($event,'new_message')"
					[(ngModel)]="user.new_message"></ui-switch>
			</div>
		</div>
		<h5 class="profile-page-label">Legal</h5>
		<div class="setting-box">
			<div class="setting-contain" (click)="OpenPolicy()">
				<h4>Privacy Policy</h4>
			</div>
			<div class="setting-contain" (click)="OpenTerms()">
				<h4>Terms & Conditions </h4>
			</div>
			<div class="setting-contain" (click)="OpenFaqs()">
				<h4>FAQs</h4>
			</div>
		</div>
		<h5 class="profile-page-label">Password</h5>
		<div class="setting-box">
			<div class="setting-contain" [routerLink]="['/main/change-password','attorney']">
				<h4>Change Password</h4>
			</div>
		</div>
		<div class="form-group text-center col-12" *ngIf="user.showButton">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit"
					(click)="openModal(template)">Get Premium Account</button>
		</div>
        <div class="logout">
        	<button class="btn btn-primary logout-btn btn-block" type="submit" (click)="logout1()">LOGOUT</button>
        </div>
	</div>
</section>

<!-- Get Premium Account-->
<ng-template #template>
	<div class="modal-header text-center">
		<h4 class="modal-title mx-auto">Get Premium Account</h4>
	</div>
	<div class="modal-body text-center">
		<div>
			<img src="assets/images/svg/spread-love.svg" alt="spread">
		</div>
		<div class="modal-body-contain">
			<p>Get our Premium account starting from just $25.0</p><br>
			<p>Subscriptions(Monthly) will be charged automatically to your credit card through your play store
					account.Your subscription will automatically renew unless cancelled at least 24 hours before the end of
					the current period.Your subscription can be turned off by going to your Account Settings at any time.
		</p>
	</div>
	<div class="terms" (click)="OpenTerms()">TERMS OF SERVICES</div>
		<div class="policy" (click)="OpenPolicy()">PRIVACY POLICY</div>
		<div class="form-group text-center">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="button"
			(click)="openPremiumModal(template1)">Get Premium Account</button>
		</div>
	</div>
</ng-template>
	
<!-- open modal for Terms&conditions,Privacy&Policy,Faq's -->
<div class="custom-modal">
	<div class="custom-modal-header">
		<h2 *ngIf="terms">Terms & Conditions</h2>
		<h2 *ngIf="policy">Privacy Policy</h2>
		<h2 *ngIf="faq">FAQs</h2>
		<img src="assets/images/svg/color-close.svg" alt="menu" (click)="CloseFilter()" class="closefilter">
	</div>
	<div *ngIf="terms" [innerHTML]="user.term_cond" class="cmswrap"></div>
	<div *ngIf="faq" [innerHTML]="user.faq" class="cmswrap"></div>
	<div *ngIf="policy" [innerHTML]="user.privacy_policy" class="cmswrap"></div>
</div>
	
<ng-template #template1>
	<div class="modal-header text-center">
		<h4 class="modal-title mx-auto">Payment</h4>
	</div>
	<div class="modal-body text-center">
		<ngx-braintree *ngIf="load" [getClientToken]="getClientTokenFunction.bind(this)" 
				[createPurchase]="createPurchase.bind(this)" autocomplete="off"
				[chargeAmount]="chargeAmount" [showCardholderName]="true" [buttonText]="'Payment'" [currency]="'USD'" [enablePaypalCheckout]="true">
		</ngx-braintree>
	</div>
</ng-template>
	
<!-- success messge-->
<div *ngIf="paymentMessage">
	<div class="success"><i class="la la-check pr-2"></i>{{paymentMessage}}</div>
</div>