<div class="home-page">
	<div class="homeslider-wrap">
		<owl-carousel-o [options]="customOptions" #owlCarousel>
			<ng-container *ngFor="let slide of banners">
				<ng-template carouselSlide>
					<img class="home-banner" [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
					<span class="text-center iconImg"><img *ngIf="(!(slide.id == 5) && !(slide.id == 6))" [src]="slide.icon" alt="" width="15"></span>
					<span class="text-center iconImg" *ngIf="((slide.id == 5) && (slide.id == 6))"></span><br>
					<h6 style=" font-size:15px;line-height: 1.5;font-weight:lighter" class="text-center sliderTitle">
						{{slide.title}}</h6>
				</ng-template>
			</ng-container>
		</owl-carousel-o>
	</div>
	<div class="home-bottom">
		<div class="home-bottom-contain">
			<button class="btn btn-primary btn-block" type="submit" [routerLink]="['/sign-up']">Sign Up</button>
			<div class="text-center link-with-text">
				<span class="text-grey">Already have an account? </span>
				<a href="javascript:;" class="text-link" [routerLink]="['/sign-in']">Sign In</a>
			</div>
		</div>
	</div>
</div>