@charset "utf-8";
@import "~@ng-select/ng-select/themes/default.theme.css";

/* Font Face for SF UI Display */
@font-face { font-family: 'SF_UI_Display_Ultralight'; font-style: normal; font-weight: normal;
  src: local('SF UI Display Ultralight'), url('../fonts/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}
@font-face { font-family: 'SF_UI_Display_Thin'; font-style: normal; font-weight: normal;
  src: local('SF UI Display Thin'), url('../fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}
@font-face { font-family: 'SF_UI_Display_Light'; font-style: normal; font-weight: normal;
  src: local('SF UI Display Light'), url('../fonts/sf-ui-display-light-58646b33e0551.woff') format('woff');
}
@font-face { font-family: 'SF_UI_Display_Medium'; font-style: normal; font-weight: normal;
  src: local('SF UI Display Medium'), url('../fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
}
@font-face { font-family: 'SF_UI_Display_Semibold'; font-style: normal; font-weight: normal;
  src: local('SF UI Display Semibold'), url('../fonts/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}
@font-face { font-family: 'SF_UI_Display_Bold'; font-style: normal; font-weight: normal;
  src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}
@font-face { font-family: 'SF_UI_Display_Heavy'; font-style: normal; font-weight: normal;
  src: local('SF UI Display Heavy'), url('../fonts/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}
@font-face { font-family: 'SF_UI_Display_Black'; font-style: normal; font-weight: normal;
  src: local('SF UI Display Black'), url('../fonts/sf-ui-display-black-58646a6b80d5a.woff') form at('woff');
}
  
/* =Toolkit--------------------------------------------------------------------------------------------------*/
/* general purpose classes */
ul,li, ol { margin: 0; padding: 0; list-style-type: none }
.btn{ padding:15px 20px; line-height: 20px;letter-spacing: 0.32px; font-size: 15px; border:none; box-shadow: none;font-weight:bold; border-radius:0; margin: 0; text-align: center; letter-spacing: 0.03em; background-image: linear-gradient(269deg, #017FA4 0%, #EF2D95 98%); box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56);border-radius: 30px;text-transform: uppercase;}
.btn-sm{padding:8px 15px;line-height:20px; font-size: 12px;}
/*.btn-primary{ background:#007AEB; color: #fff; }*/
.btn-primary[disabled]{ background:#E2EFF7;opacity: 1;color: #8DA3C4; pointer-events: none;}
.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{background-image: linear-gradient(-269deg, #017FA4 0%, #EF2D95 98%);box-shadow: none;}
.btn-secondary{ background:#8B8B8B;}
.btn-secondary:hover,.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle,.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus{background:#797878;box-shadow: none;}
.link{color:#007AEB; position: relative; font-weight: 500;}
.link:hover{color:#007AEB;}
.link:after{display: block;content: '';position: absolute;bottom: 0;top: 1rem;left: 0;width: 0%;-webkit-transition: width 0.3s ease;-moz-transition: width 0.3s ease;-ms-transition: width 0.3s ease;-o-transition: width 0.3s ease;transition: width 0.3s ease;}
.link:hover:after{ width: 100%;border-bottom: 1px solid #007AEB; opacity: 0.8;}
.label-tag{width: 20px; height: 20px; background: #F2C94C; border-radius: 50%; display: flex; align-items: center; justify-content: center;}
.label-tag i{color: #fff; font-size: 12px;}
.btn-tag {padding: 7px 15px; line-height: 20px; font-size: 12px; background: #007AEB; color: #fff; border-radius: 4px; }
.btn-radius{border-radius: 4px;}
.no-style{background: transparent; border: none;outline: none;}
.no-style:focus{outline: none;}
.text-link{font-size: 15px; color: #22A3C8;font-weight: 600;}
.email-link{font-size: 17px; color: #4A4A4A;text-decoration: underline;}
.logout-btn{font-size: 13px; color: #8C97A0;background: #FAFAFA;padding: 16px;box-shadow: none;border-radius: 0;font-weight: 600;}/*.btn-block{width: 100%;}*/

.content[_ngcontent-c2]{left: 0;}

/* End Toolkit========================================================*/
/* remember to define focus styles! */
:focus,.btn:focus ,a:focus{ outline: 0; box-shadow:none; }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{ outline: 0;}
/* =Typography--------------------------------------------------------------------------------------------------*/
/* Setting up the fonts */
body {font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: normal; letter-spacing: 0.03em; color: #4A4A4A; -webkit-font-smoothing: antialiased; font-weight: normal;/*overflow: hidden; */}
body,html{/*height:100vh;*/}
/* End Typography--------------------------------------------------------------------------------------------------*/
/* =Headings--------------------------------------------------------------------------------------------------*/
h1 { margin: 0;font-size:31px; line-height:42px; color:#FFFFFF; margin-top: 0; font-weight: 600; }
h2 { font-size:20px; line-height:28px; color:#2D3448; margin-top: 0; font-weight: 600; }
h3 { font-size:18px; line-height:24px;color: #3D3D3D; margin-top: 0;}
h4 {font-size: 18px; line-height: 23px;color: #3D3D3D;font-weight: 700;}
h5 {font-size:15px; line-height:23px;color: #3D3D3D; font-weight: 500;}
h6 {font-size: 9px; line-height: 13px; font-weight: 400; color: #FFFFFF;}
/* End Headings--------------------------------------------------------------------------------------------------*/


/* Custom color --------------------------------------------------------------------------------------------------*/
.text-grey{color: #C3C0C0!important;font-weight: 600;}

/* =Links--------------------------------------------------------------------------------------------------*/
a { text-decoration:none; color:#000; cursor:pointer; outline: 0; }
a:hover{ text-decoration:none; outline:0; color:#007AEB; }
.gradient-text{background-image: linear-gradient(90deg, #017FA4 0%, #EF2D95 90%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
/* End Links
--------------------------------------------------------------------------------------------------*/
/* =helper Classes--------------------------------------------------------------------------------------------------------*/
p { padding:0 0 10px 0; margin:0; }
img{max-width: 100%;}
/* End Branding
--------------------------------------------------------------------------------------------------------*/
/* ====Begin: Navigation*/
.nav-toggle {z-index: 999999; padding:0; cursor: pointer; }
.nav-toggle:focus { outline: none; }
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after { content: ""; position: absolute; display: block; width: 35px; height: 3px; border-radius: 1px; background: #B82F2D; cursor: pointer; top: 10px;}
.nav-toggle span:before { top: -10px; }
.nav-toggle span:after { bottom: -10px; }
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after { -webkit-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
.nav-toggle.active span { background-color: transparent; }
.nav-toggle.active span:before, .nav-toggle.active span:after { top: 0; }
.nav-toggle.active span:before { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.nav-toggle.active span:after { top: 10px; -ms-transform: translatey(-10px) rotate(-45deg); -webkit-transform: translatey(-10px) rotate(-45deg); transform: translatey(-10px) rotate(-45deg); }
.navicon { position: fixed;z-index: 99999; height: 26px; right: 20px; top:26px;display: none; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; width: 35px; }


/* ===Forms Control*/
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */  color: #767676;}
input::-moz-placeholder { /* Firefox 19+ */  color: #767676;}
input:-ms-input-placeholder { /* IE 10+ */  color: #767676;}
input:-moz-placeholder { /* Firefox 18- */  color: #767676;}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */  color: #767676;}
textarea::-moz-placeholder { /* Firefox 19+ */  color: #767676;}
textarea:-ms-input-placeholder { /* IE 10+ */  color: #767676;}
textarea:-moz-placeholder { /* Firefox 18- */  color: #767676;}
textarea{ resize:none;}
textarea.form-control{height: 140px;}
.my-form{overflow-y: auto;height: 100%;}
.form-group{margin-bottom:16px;}
.form-control{font-size:17px; line-height: 1.3; border: 1px solid #c7c7c7; -webkit-appearance: none;  border-radius: 4px; background:  #F5F5F5; padding:15px 18px;color: #4A4A4A;height: 50px;font-weight: 500;border-radius: 8px;}
.form-control:focus,.form-control.ng-touched.ng-invalid{box-shadow: none;border:1px solid #22A3C8;;color: #3d3d3d;}
.control-label{color: #3d3d3d; font-size: 13px;font-weight:600; line-height: 18px; letter-spacing: 0.5px; margin-bottom:7px; text-transform: uppercase;}
.input-iconright{position: relative;}
.input-iconright .form-control{padding-right: 50px;}
.iconright-view{position: absolute;right: 18px;top: 15px; font-size: 18px;color: #c7c7c7;}
.form-group label{font-size: 12px; color: #22A3C8;font-weight: 600;}
.label-title{font-weight: normal;}
.sub-label{font-size: 13px; color: #9B9B9B;font-weight: 600;padding-bottom: 0;margin-bottom: 10px; width: 100%;}
.error-block{color: red; background: rgba(255, 0, 0, 0.1); padding: 15px; position: fixed; bottom: 0; left: 0; right: 0;z-index: 80;}
.grey-label{font-size: 13px; color: #9B9B9B;font-weight: 600;}
.info-label{font-size: 11px;text-align: right;display: block;}
/*===Begin: breadcrumb=*/
.breadcrumb{background: none; padding: 0 67px 0 0; margin-bottom: 30px;}
.breadcrumb-item{font-size: 24px; color: #3d3d3d; font-weight: 600; letter-spacing: 0.15px; line-height: 33px;}
.breadcrumb-item a{color: #B82F2D;}
.breadcrumb-item+.breadcrumb-item::before{color: #8B8B8B;font: normal normal normal 14px/1 FontAwesome;content: "\f105";font-size: 20px;position: relative;top: -1px;}
.breadcrumb-item.active{color: #3d3d3d;}
/*===Begin:Table*/
/*========Checkbox and Radio*/
.vertical.checkbox, .vertical.checkbox, .vertical.radio, .vertical.radio { display: block; }
.radio,.checkbox{vertical-align:top;display: inline-block; margin: 0 -7.5px; width: calc(100% + 15px);}
.checkbox label,
.radio label{cursor: pointer;position: relative;margin:0 7.5px 15px; }
.checkbox input[type="checkbox"],
.radio input[type="radio"] {display: none;}
.checkbox input[type="checkbox"] + .inner{display: flex; align-items: center;justify-content: center; transition: all 0.4s;padding:20px; border-radius: 4px; cursor: pointer;background: rgba(210,221,236,0.3);flex-wrap: wrap;}
.checkbox input[type="checkbox"]:checked + .inner{background: #448ef6;}
.checkbox input[type="checkbox"]:checked + .inner h5{color: #fff;}
.checkbox input[type="checkbox"] + .inner span{font-weight:700; line-height: 22px;}
.checkbox input[type="checkbox"]:checked + .inner span{color: #fff;}

.radio input[type="radio"] + .inner{ display: flex; align-items: center;justify-content: center; transition: all 0.4s;padding:10px; border-radius: 4px; cursor: pointer;background: rgba(210,221,236,0.3);flex-wrap: wrap;flex-direction: column;}
.radio input[type="radio"]:checked + .inner{ background: #448ef6; box-shadow: 0 9px 18px rgba(68, 142, 246, 0.3);}
.radio input[type="radio"] + .inner span{font-weight:700; line-height: 24px;color: #8F94A3;}
.radio input[type="radio"] + .inner h5{margin:0;}
.radio input[type="radio"]:checked + .inner h5{color: #fff;margin: 0;}
.radio input[type="radio"]:checked + .inner span{color: #fff;}
.checkbox input[type="checkbox"]:disabled + span,
.radio input[type="radio"]:disabled + span {opacity: .5;}
.ie8 .checkbox input[type="checkbox"],.ie8 .radio input[type="radio"] {display: inline-block;}
.ie8 .checkbox span,.ie8 .radio span {display: none;}

.round-radio .radio label{display: flex;align-items: center;}
.round-radio .radio input[type="radio"] + .inner{width: 15px;height: 15px;border-radius: 50%;border: 2px solid #22A3C8;background: #fff;padding: 0;margin-right: 16px;}
.round-radio .radio input[type="radio"]:checked + .inner{background: #22A3C8;}
.round-radio .radio input[type="radio"] ~ small{font-size: 17px; color: #000000; width: calc(100% - 31px);}
.round-radio .radio input[type="radio"]:checked ~ small{color: #22A3C8;}

/* default checkbox */
.checkbox-btn {position: relative; display: inline-block;width: 22px; height: 22px;top: 7px; margin-right: 7px;}
.checkbox-btn label{margin-bottom: 0;padding:0 0 0 30px;cursor: pointer;width: 22px; height: 22px;}
.checkbox-btn input[type="checkbox"],
.checkbox-btn input[type="checkbox"] + span{content: ""; display: inline-block; width:20px; height:20px; position:absolute; left:0; background:#fff; border: 1px solid #c7c7c7;border-radius: 4px;padding: 8px;}
.checkbox-btn input[type="checkbox"]:checked + span{border: 1px solid #22A3C8;;background:#22A3C8;-moz-transition: all 0.8s;-ms-transition: all 0.8s;-o-transition: all 0.8s;transition: all 0.8s;}
.checkbox-btn input[type="checkbox"] ~ span:after{display: none; position: absolute; content:"";}
.checkbox-btn input[type="checkbox"]:checked ~ span:after{top: 50%;left: 50%;margin-left: -2px;margin-top: -6px;width: 5px;height: 10px;border-width: 0 2px 2px 0 !important;transform: rotate(45deg);  display: block;border: solid #fff;}

/* checkbox-btn */
.custom-radio-box .radio label{width: 100%;margin: 0;margin-bottom: 40px;}
.custom-radio-box .radio input[type="radio"] + .inner{width: 250px; margin: 0 auto;background: #FFFFFF; box-shadow: 0 3px 52px 0 rgba(189,189,189,0.68); border-radius: 16px;height: 200px;}
.custom-radio-box .radio input[type="radio"] + .inner img{margin-bottom: 5px;}
.custom-radio-box .radio input[type="radio"] + .inner h2{margin-bottom: 0;}
.custom-radio-box .radio input[type="radio"] + .inner span{opacity: 0.4; font-size: 13px; color: #004C62;font-weight: 600;}
.custom-radio-box .radio input[type="radio"]:checked + .inner{border: 3px solid #E6E6E6;box-shadow: none; }

/*==Begin: NGX bootstarp Datepicker=*/
.bs-datepicker {-webkit-box-shadow: 0 0 15px 1px rgba(69,65,78,.2);box-shadow: 0 0 15px 1px rgba(69,65,78,.2);border-radius: 4px;}
.bs-datepicker-head bs-datepicker-navigation-view{display: flex;align-items: center;justify-content: space-between;}
.bs-datepicker-head button.next span, .bs-datepicker-head button.previous span{font-size: 24px;}
/*===Begin: Ng select Dropdown=*/
.ng-select .ng-select-container{font-size:14px; line-height: 1.3; border: 1px solid #c7c7c7;  border-radius: 8px; background: #F5F5F5; padding:15px 18px;color: #3d3d3d !important;}
.ng-select .ng-select-container .ng-value-container{padding-left: 0;}
.ng-select .ng-select-container .ng-value-container .ng-placeholder{color:#767676;}
.ng-select .ng-arrow-wrapper{width: 10px; padding-right: 0;}
.ng-select .ng-arrow-wrapper .ng-arrow{font: normal normal normal 14px/1 FontAwesome;border:none;font-size: 16px;}
.ng-select .ng-arrow-wrapper .ng-arrow:before{content: "\f0d7";color:#22A3C8; font-family: FontAwesome;}
.ng-select.ng-select-opened>.ng-select-container .ng-arrow{top:0;}
.ng-select.ng-select-opened>.ng-select-container .ng-arrow:before{content:"\f0d8";color:#22A3C8;}
.ng-select.ng-select-single .ng-select-container{height: auto;}
.ng-select.ng-select-opened>.ng-select-container{border-color:#22A3C8;}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{top: 15px;}
.ng-dropdown-panel{border:1px solid #c7c7c7;}
.ng-dropdown-panel.ng-select-bottom{margin-top: 0;}
.ng-dropdown-panel.ng-select-top{margin-bottom: 0;}
.ng-select.ng-select-focused:not(.ng-select-opened) .ng-select-container{box-shadow: none;border:1px solid #22A3C8;}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{background-color: #b82f2d;color: #fff;}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected{background: #b82f2d; color: #fff;}


/*====Begin: Custom Scroll bar
=======================================================================*/
.mCSB_inside > .mCSB_container{margin-right: 0;}
/*.mCSB_outside + .mCSB_scrollTools{right: 0;}*/
.horizontalScroll .mCSB_horizontal .mCSB_container{margin-bottom: 0px;}
.horizontalScroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{height:4px; background:#448EF6; }
.horizontalScroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{background-color: #448EF6;height: 4px;}
.verticalScroll .mCSB_draggerRail{background-color: #fff; width: 4px; }
.verticalScroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:4px; background:#D2DDEC;}

/* ======== uploade images ========*/
.profile-pic-wrapper{width: 100px;height: 100px;border-radius: 50%;text-align: center; margin: 0 auto;position: relative;}
.profile-pic-wrapper .center-block{width: 100px;height: 100px;border-radius: 50%; text-align: center; margin: 0 auto;object-fit: cover;}
.photo-upload{margin-bottom: 0;width: 30px;height: 30px;padding: 5px; border-radius: 50%; border: 1px solid #22A3C8; display: flex; justify-content: center; align-items: center;    position: absolute; bottom: 8px; right: 0; background: #fff;cursor: pointer;}
.photo-upload .file-input{display: none;}
.photo-upload .add-user{position: relative; top: -2px;}


/* ======== uploade video ========*/
.upload-video .profile-pic-wrapper{border-radius: 10px;margin: 0;background: #d0d0d0;display: flex;justify-content: center;align-items: center;overflow: hidden;}
.upload-video{display: flex;align-items: center;}
.video-upload{margin: 0;}
.video-upload p{padding: 0;margin: 0;font-size: 13px; color: #22A3C8;font-weight: bold;}
.video-upload .file-input{display: none;} 
/* .upload-video .profile-pic-wrapper a{height: 100%;width: 100%;border-radius: 10px;overflow: hidden;}
.upload-video .profile-pic-wrapper img{height: 100%;width: 100%;object-fit: cover;} */

/* ======== switch ======== */
.custom-switch .switch-medium.switch-labeled{width: 160px!important;height: 50px!important; border-width: 2px!important;}
.custom-switch .switch .on,.switch .off{width: 70px;height: 36px;opacity: 1!important;font-size: 15px; color: #59565B!important;font-weight: 600;text-align: center;transform: translateY(-50%); display: flex; align-items: center; justify-content: center;top: 50%!important;text-transform: uppercase;}
.custom-switch .switch .on{left: 10px!important;}
.custom-switch .switch .off{right: 10px!important;}
.custom-switch .switch-medium small{width: 70px!important;height: 36px!important;border-radius: 17px!important;top: 50%!important;transform: translateY(-50%);left: 10px!important;background: #22A3C8!important;}
.custom-switch .switch-medium.switch-labeled.checked{background: transparent!important;}
.custom-switch .switch-medium.switch-labeled.checked small{right: 10px!important;left: inherit!important;}
.custom-switch .switch-medium.switch-labeled .on{color: #fff!important;}
.custom-switch .switch-medium.switch-labeled.checked .on{color: #59565B!important;}
.custom-switch .switch-medium.switch-labeled.checked .off{color: #fff!important;}


/* Animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* Page-loader */
.body-loader{overflow-y: hidden;}
.page-loader-screen{ display: flex;justify-content: center;flex-direction: column;background: #000;height: 100vh;align-items: center;background: url("assets/images/loader-img.png") no-repeat; background-size: cover;-webkit-animation: fadeIn 1s ease 1; -moz-animation: fadeIn 1s ease 1; -ms-animation: fadeIn 1s ease 1; -o-animation: fadeIn 1s ease 1; animation: fadeIn 1s ease 1;position: relative; z-index: 91;}
.page-loader-contain{position: relative;z-index: 99;}
.page-loader-screen:after{background-image: linear-gradient(-180deg, #017FA4 0%, #EF2D95 100%);position: absolute;content: "";top: 0;bottom: 0;width: 100%;z-index: 98;opacity: 0.5;}
.page-loader-logo{max-width: 80px;margin: 0 auto;}
.page-loader-screen.active{-webkit-animation: fadeOut 1s ease 1; -moz-animation: fadeOut 1s ease 1; -ms-animation: fadeOut 1s ease 1; -o-animation: fadeOut 1s ease 1; animation: fadeOut 1s ease 1;}
.body-loader .mainLogoscreen{display: none;}
.main-page-container{max-width: 1024px;margin: 0 auto;}

/* loginpage */

.loginpage{padding: 40px 15px;overflow-y: auto;height: 100%;max-width: 500px;margin: 0 auto;}
.login-logo{margin-bottom: 20px;}
.login-logo img{width: 40px;margin: 0 auto;}
.login-signin{margin-top: 55px;}
.loginForm{margin-bottom: 40px;}
.sign-in-facebook .btn{background: #fff;color: #3B5998;display: flex;align-items: center;justify-content: center;}
.sign-in-facebook .btn:hover{box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56);}
.sign-in-facebook .btn img{width: 25px;}
.link-with-text{margin-top: 40px;}
.video-block,.video-block2{position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;display: none;}
.canvas-block,.canvas-block2{position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;display: none;}
.open-option .canvas-block , .open-option .video-block{display: block;}
.take-photo{display: none;}
.open-option .take-photo{display: block;position: fixed; bottom: 50px; z-index: 101;left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  text-align: center;}
  .open-option2 .canvas-block2 , .open-option2 .video-block2{display: block;}
.take-photo-2{display: none;}
.open-option2 .take-photo-2{display: block;position: fixed; bottom: 50px; z-index: 101;left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  text-align: center;}

/* signuppage */
.back-header{position: relative;}
.back-header img{/*position: absolute;*/left: 0;top: 50%;transform: translateY(-50%);}
.back-header h2{padding: 0 20px;}

/* home-page */
.home-page{height: 100vh; background-image: linear-gradient(0deg, #017FA4 0%, #EF2D95 100%);position: relative;overflow: auto;display: block;}
.home-banner{background-image: url("assets/images/home-banner.png");object-fit: cover; background-repeat: no-repeat;width: 400px;background-position: center; max-height: 350px;}
.homeslider-wrap{display: inline-block; width: 100%; height: calc(100% - 220px);padding: 0 0 220px;}
.home-bottom{padding: 0 15px; position: absolute;width: 100%; bottom: 0;z-index: 1;}
.home-bottom-contain{background: #FFFFFF; box-shadow: 0 11px 32px 0 rgba(0,0,0,0.15); border-radius: 8px 8px 0 0;padding: 32px 16px;position: relative;z-index: 5}
.home-bottom-contain:after{position: absolute;content: "";background: rgba(255, 255, 255, 0.6);top: -10px; left: 20px; right: 20px; bottom: 0; z-index: -1;border-radius: 8px 8px 0 0;}
.home-bottom-contain:before{position: absolute;content: "";background: rgba(255, 255, 255, 0.6);top: -20px; left: 40px; right: 40px; bottom: 0; z-index: -1;border-radius: 8px 8px 0 0;}
/*.home-page .owl-carousel .owl-stage{height:calc(100% - 180px);}*/
.home-page .owl-item .iconImg img{width: 32px; margin: 20px auto;}
.home-page .owl-item .sliderTitle{text-align: center;line-height: 20px;padding: 0 20px 50px;}
.home-page .owl-dots .owl-dot span{width: 18px;height: 6px;border-radius: 50px;}
.home-page .owl-theme .owl-nav.disabled+.owl-dots {margin-top: -20px; }
.home-page .owl-theme .owl-nav{display: none}

/* Home page Popup */
.swal2-popup{
	border-radius: 0;
}
.swal2-title{
	font-size: 22px !important;
}
.swal2-content{font-size: 15px !important;}
.swal2-actions{text-align: center;}
.swal2-actions button{
	padding: 6px 12px;
	border-radius: 4px;
	margin: 0 5px !important;
	display: inline-block;
	min-width: 100px;
	border:none;
	cursor: pointer;
	box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56);
	text-transform: uppercase;
}
.swal2-confirm{
	background-image: linear-gradient(269deg, #017FA4 0%, #EF2D95 98%);
	color: #FFF;
}
.swal2-cancel{
	background-color: #DDDDDD ;
}
/* resetpage */
.resetpage {display: flex; align-items: center; flex-direction: column; height: 100vh; justify-content: center;}
.resetpage .login-logo{margin-bottom: 30px;}
.resetpage .login-signin{margin-top: 10px;}
.resetpage .email-link{margin-bottom: 100px;display: inline-block;}
.forgot-password{display: block;height: inherit;}


/* update-profile */
.page-wrapper{padding: 40px 15px;overflow-y: auto;height: 100%; }
.user-profile{margin-bottom: 40px;}
.uploaded-images{display: flex;justify-content: space-between;align-items:center;margin: 0 -6px;flex-wrap: wrap;}
.uploaded-images-wrapper{margin: 6px;border-radius: 8px;height: 106px;width: calc(100% - 12px);background: #C1C0C9;position: relative;}
.uploaded-images img{width: 100%; height: 100%; object-fit: cover;border-radius: 8px;}
.uploaded-images .uploaded-images-wrapper.main-images{min-height: 225px;max-height: 225px;}
.sub-imges{display: flex; align-items: center; flex-direction: column;}
.uploaded-images-wrapper .counter{width: 24px;height: 24px;display: flex;justify-content: center;align-items: center;background: #fff;border-radius: 50%; position: absolute; bottom: 10px; right: 10px;font-size: 13px; color: #4A4A4A;font-weight: 600;}
.page-header h4{color: #4A4A4A;font-weight: normal;padding:0 20px;}
.signupform{margin-top: 55px;}
.custom-switch{display: flex;align-items: center;justify-content: space-between;}

/* menu */
.menu-bar{padding: 30px;background-image: linear-gradient(5deg, #017FA4 0%, #EF2D95 100%);height: 100vh;position: fixed;left: -100%;width: 80%;transition: 0.5s ease-in all;overflow-y: auto;z-index: 99;max-width: 400px;}
.user-pic{width: 80px;height: 80px; border-radius: 50%;margin-bottom: 18px;}
.user-pic img{width: 80px;height: 80px;border-radius: 50%;object-fit: cover;}
.menu-links-part{margin-top: 80px;padding-left: 15px;}
.user-email{font-size: 17px; color: #FFFFFF;font-weight: normal;}
.menu-links{display: flex;align-items: center;margin-bottom: 16px;}
.menu-links img{margin-right: 15px;}
.menu-links a{font-size: 20px; color: #FFFFFF;}
.menu-icon{width: 36px;height: 36px;display: flex;justify-content: center;align-items: center;}
.menu-close{position: absolute;right: 30px;cursor: pointer;}
.open-menu .menu-bar{left: 0;}
.remove-menu{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, 0.5);;display: none;}
.open-menu .remove-menu{display: block;z-index: 98;}
.menu-bar .user-name{word-break: break-all;}

/* dashboard */

.dashboard{}
.top-header{padding: 25px 15px;background-image: linear-gradient(46deg, #017FA4 0%, #EF2D95 100%); box-shadow: 0 5px 10px 0 rgba(158,168,172,0.56);display: flex;justify-content: space-between;align-items: center;position: fixed;width: 100%;z-index: 60;left: 0;}
.page-title h2{font-size: 24px; color: #FFFFFF;font-weight: 600;margin-bottom: 0;}
.page-title h3{font-size: 19px; color: #FFFFFF;font-weight: 600;margin-bottom: 0;line-height:36px;}
.page-title h6{font-size: 15px;line-height: 10px; color: #FFFFFF;font-weight: 600;margin-bottom: 0;}
.top-header-tab .top-header{padding-bottom: 70px;}
.top-header .hdr-back-arrow{margin-right: 12px;}
.top-header .hdr-back-arrow img{width:25px;}

/* custom-modal */
.custom-modal{position: fixed;top: 100%; width: 100%;padding: 15px;background: #fff;transition: 0.5s ease-in all;z-index: 70;left: 0;right: 0;margin: 0 auto;max-width: 1024px;overflow-x: hidden;}
.custom-modal-header{background-color: #FFF; padding: 20px;position: absolute; max-width: 1024px; left: 0; margin: 0 auto; top: 0; right: 0; border-bottom: 1px solid #e9e9e9;}
.custom-modal-header h2{font-size: 24px; color: #444049;font-weight: 600;text-align: center;margin-bottom: 0;}
.closefilter{position: absolute;right: 20px; top: 50%; transform: translateY(-50%);}
.open-filter .custom-modal{bottom: 0;top: 0;overflow-y: auto;}
.cmswrap{display: inline-block;width: 100%; margin-top: 55px;overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 70px);}


.open-filter .custom-modal{overflow: hidden;height: 100vh;}
.signupform {
    margin-top: 55px;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 70px);
}

/* range slider */
.ng5-slider .ng5-slider-bar{height: 4px!important;}
.ng5-slider .ng5-slider-pointer{width: 15px!important;height: 15px!important;}
.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-min{background-color: #037fa2!important; border: 1px solid #037fa2!important;top: -6px!important;}
.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-max{background-color: #037fa2!important; border: 1px solid #037fa2!important;top: -6px!important;}
.ng5-slider .ng5-slider-pointer:after{display: none;}
.ng5-slider .ng5-slider-bar{background: #F5F5F5!important; border-radius: 3.5px!important;}
.ng5-slider .ng5-slider-selection{background: #22a3c8!important; border-radius: 3.5px!important;}
.ng5-slider .ng5-slider-bubble.ng5-slider-limit{display: none;}
/* page-contain */
body.open-filter{overflow-y: hidden;height: 100vh;}
.page-contain{padding: 8px;/*height: calc(100vh - 78px);overflow-y: auto;*/padding-top: 86px;}
.user-data{display: flex;flex-wrap: wrap;}
.user-box{width: calc(50% - 8px);margin: 4px;margin-bottom: 12px;position: relative;}
.user-box-img{background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 77%, rgba(0,0,0,0.50) 100%); border-radius: 5px 5px 0px 0px;height: 230px;border-radius: 5px 5px 0px 0px;}
.user-box-img img{height: 100%;width: 100%;object-fit: cover;border-radius: 5px 5px 0px 0px;}
.user-info{padding: 8px;background: #FFFFFF; box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56);border-radius: 0 0 5px 5px;}
.user-info h5{font-size: 15px; color: #4A4A4A;font-weight: bold;margin-bottom: 3px;white-space: nowrap; width: 100%;height: 22px; text-overflow: ellipsis; overflow: hidden;}
.user-info h6{font-size: 13px; color: #4A4A4A;margin: 0;}
.top-header-tab .page-contain{/*height: calc(100vh - 123px);*/padding-top: 131px;}
.user-box .checkbox-btn{position: absolute; bottom: 5px; right: 5px; top: inherit;display: none;}
.page-contain.active .user-box .checkbox-btn{display: block;}
.done{display: none;}
.done h3{color:#fff;margin-bottom: 0;}
.active .done{display: block;}

.user-detail{position: fixed;right: -100%;top: 0;width: 100%;height: 100vh;transition: 0.5s ease-in all;background: #000;z-index: 95;}
.user-detail.active{right: 0;}
.user-detail .img-part{height: 100%;opacity: 0.8;}
.user-detail .img-part img{height: 100%;object-fit: cover;}
.user-detail-bottom{position: absolute;bottom: 0px;width: 100%;padding: 40px 24px;}
.like-close{display: flex;align-items: center;justify-content: center;margin-bottom: 48px;}
.like-close .close-icn{margin-right: 48px;}
.like-close .close-icn , .like-close .like{width: 70px;height: 70px;display: flex;justify-content: center;align-items: center;background: #fff;border-radius: 50%;}
.like-close .like i{font-size: 40px;color: #b93f98;}
.user-detail-bottom h2{font-size: 24px; color: #FFFFFF;text-shadow: 0 2px 3px rgba(0,0,0,0.73);word-break: break-all;}


/* tabbing */

.top-header-tab .nav-tabs{position: fixed;left: 0;right: 0;top: 83px;z-index: 90;border-bottom: none;}
.nav-tabs .nav-link{font-size: 17px; color: rgba(255, 255, 255, 0.5); line-height: 22px;font-weight: 600;border: none;text-align: center;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{color: #fff;background: transparent;border: none;border-bottom: 3px solid #fff;}
.nav-tabs .nav-item{width: 33.33%;}

/* profile-page */
.profile-detail{display: flex;align-items: center;padding: 16px; margin: -16px -16px 0 -16px;border-bottom: 2px solid #DAE3E4;position: relative;}
.profile-page .page-contain{padding: 16px;padding-top: 96px;}
.profile-detail-img{background-image: linear-gradient(-180deg, #017FA4 0%, #EF2D95 100%);width: 80px;height: 80px;padding: 1px;border-radius: 50%;position: relative;}
.profile-detail-img .profile-user-img{border: 4px solid #fff;border-radius: 50%;width: 100%;height: 100%;object-fit: cover;}
.profile-name-detail{width: calc(100% - 80px);padding-left: 15px;}
.profile-name-detail h2{font-size: 24px; color: #4A4A4A;font-weight: 600;word-break: break-all;}
.profile-name-detail h4{font-size: 17px; color: #9B9B9B;font-weight: 500;word-break: break-all;}
.profile-page-label{font-size: 13px; color: #4A4A4A;font-weight: bold;margin-bottom: 8px;line-height: 18px;}
.slider-img{width: 108px;height: 108px;border-radius: 8px;}
.slider-img img{width: 108px;height: 108px;border-radius: 8px;object-fit: cover;}
.my-detail{padding: 16px 0;}
.my-detail .my-contain{font-size: 17px; color: #4A4A4A;font-weight: normal;}
.my-detail .form-group h4{font-size: 17px; color: #4A4A4A;font-weight: normal;}
.profile-detail-img span{background-image: linear-gradient(118deg, #017FA4 4%, #EF2D95 100%); border-radius: 12px;font-size: 10px; color: #FFFFFF;padding: 2px 5px;font-weight: bold; position: absolute; bottom: -8px; left: 50%; transform: translateX(-50%);}
.profile-page .page-contain{position: relative;}
.profile-page .page-contain .msg-box{ padding-bottom: 90px;}
  .chatcontainer{
    margin:50px 0 0; position: relative;
    display: inline-block;width: 100%;
  }
  .chatpagecontainer{padding: 120px 0 0 !important;}
/* Chat screen */
.search-bar{position: relative;margin-bottom: 16px;box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56);border-radius: 8px;z-index: 10;}
.search-bar img{position: absolute;left: 18px;top: 50%;transform: translateY(-50%);}
.search-bar .form-control{padding-left: 50px;background: #FFFFFF; border-radius: 8px;border: none;}
.chat-person{display: flex;align-items: center;padding: 16px; margin: 0 -16px;border-bottom: 2px solid #DAE3E4;}
.chat-user{width: 60px;height: 60px;border-radius: 50%;}
.chat-user img{width: 60px;height: 60px;border-radius: 50%;object-fit: cover;}
.chat-user-right {width: calc(100% - 60px);padding-left: 24px;}
.chat-user-name h5{font-size: 16px; color: #4A4A4A;font-weight: 600;text-overflow: ellipsis; max-width: 100%; overflow: hidden;}
.last-seen h6{font-size: 13px; color: rgba(155,155,155,0.70);}
.chat-user-detail {display: flex; align-items: center; justify-content: space-between; }
.last-msg h4{font-size: 17px; color: #9B9B9B;font-weight: normal;margin-bottom: 0;}
.last-msg-counter span{width: 24px;height: 24px;color: #fff;display: flex;margin-left: 194px;align-items: center;justify-content: center;border-radius: 50%;background: #22A3C8;font-size: 17px;}
.chat-user-name {padding-right: 5px;max-width: 120px; }
.last-seen {padding-left: 10px; }
.msg-box .msg-time h4{font-size: 17px; color: #9B9B9B;font-weight: normal;}
.msg-box{padding-bottom: 90px;position: relative;}
.msg-box h4{font-size: 17px; color: #4A4A4A;font-weight: 600;}
.msg-box h4 span{color: #4A4A4A; font-size: 10px; line-height: 14px; display: block;}
.send-msg{text-align: right;padding: 0 16px 0 0;}
.send-msg h4{max-width: 90%;background: #97DEF2; border-radius: 12px;padding: 6px 15px;margin: 8px 0;display: inline-block;word-break: break-word;}
.send-msg h4 span{color: #4A4A4A; font-size: 10px; line-height: 14px; display: block;}
.received-msg{padding: 0 16px;}
.received-msg h4{max-width: 90%;background: rgba(207,207,207,0.57); border-radius: 12px;padding: 12px 16px;margin: 8px 0;display: inline-block;}
.msg-type-area{display: flex; align-items: center; padding: 16px; margin: 0; border-top: 1px solid #CDD6D7; position: fixed; bottom: 0; left: 0; right: 0; z-index: 80;background: #fff;}
.msg-type-area textarea{margin: 0 20px;width: calc(100% - 40px);border: 1px solid #4A4A4A; border-radius: 30px;padding: 15px; max-height: 100px; min-height: 55px !important; overflow: auto !important;line-height: 22px;}
.send-img{width: 160px;height: 160px;border-radius: 8px;margin: 8px 0;display: inline-block;}
.send-img img{width: 160px;height: 160px;border-radius: 8px;object-fit: cover;}
.received-img{width: 160px;height: 160px;border-radius: 8px;margin: 8px 0;display: inline-block;}
.received-img img{width: 160px;height: 160px;border-radius: 8px;object-fit: cover;}
.chatlist-wrap .page-title{
  align-items: center;
    display: flex;
}
.chatlist-wrap .page-title .nameBox
{
  margin-left:10px;
}
.chatlist-wrap{justify-content: start;} 
/* setting */
.setting-box{background: #FFFFFF; box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56); border-radius: 3px;margin-bottom: 16px;}
.setting-contain{padding: 15px;display: flex;align-items: center;justify-content: space-between;border-bottom: 1px solid #F5F5F5;}
.setting-contain:last-child{border-bottom: none;}
.setting-contain h4{font-size: 17px; color: #4A4A4A;font-weight: normal;margin-bottom: 0;}
.setting-box .switch-medium.checked{background: rgba(34, 163, 200, 0.5)!important;border-color: transparent !important;}
.setting-page .page-contain {background: #f1f7f8; height: 100vh; overflow: hidden; overflow-y: auto;}
.logout{ margin: 0 -16px; margin-top: 30px; z-index: 70;}

/* New swith style */
.setting-box .switch-medium{background-color: #DDD !important;height: 15px !important;width: 40px !important;}
.setting-box .switch-medium small{
	background-color: #F0F0F0 !important;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) !important;
	top: -5px !important;
	left: -2px !important;
	width: 24px !important;
    height: 24px !important;
}
.setting-box .switch-medium.checked small{
	left: 18px !important;
    top: -5px !important;
    background-color: #346da1 !important;
}
.fancybox-button--zoom{display: none !important;}
.fancybox-close-small{background: #FFF;
  color: #000;
  width: 30px;
  height: 30px;
  padding: 0;}
.loadmore-msgbtn{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #017FA4;
  border: none;
  padding: 10px 15px;
  color: #FFF;
  font-size: 14px;
}
/* notification */
.notification-box{background: #FFFFFF; box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56); border-radius: 3px;padding: 16px;display: flex;align-items: center;margin: 0 -16px;}
.notification-user{width: 50px;height: 50px;border-radius: 50%;}
.notification-user img{width: 50px;height: 50px;border-radius: 50%; object-fit: cover;}
.notification-user-detail{width: calc(100% - 50px);margin-left: 15px;}
.notification-user-name h4{font-size: 16px; color: #4A4A4A;font-weight: normal;margin-bottom: 0;}
.notification-user-name span{font-weight: bold;}
.notification-time span{font-size: 13px; color: rgba(155,155,155,0.70);font-weight: normal;}
.recent,.older{margin-bottom: 16px;}


/* attorney-dashboard */

.attorney-dashboard .page-contain{padding: 16px;padding-top:86px;}
.attorney-dashboard .nav-tabs .nav-item{width: 50%;}
.client-box{background: #FFFFFF; box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56); border-radius: 5px;margin-bottom: 16px;position: relative;}
.client-box-contain{padding: 16px;display: flex;align-items: center;border-bottom: 1px solid #DAE3E4;}
.client-box-contain:last-child{border-bottom: none;}
.client-img{width: 37px;height: 37px;border-radius: 50%;}
.client-img img{width: 37px;height: 37px;border-radius: 50%; object-fit: cover;}
.client-detail{width: calc(100% - 37px);margin-left: 16px;}
.client-name{font-size: 15px; color: #4A4A4A;margin-bottom: 0;}
.client-age{font-size: 13px; color: #4A4A4A;margin-bottom: 0;}
.chat-btn{background: #fff;border-radius: 50%; box-shadow: 0 6px 14px 0 rgba(158,168,172,0.77);display: flex;justify-content: center;align-items: center;width: 50px;height: 50px;position: absolute;top: 50%;transform: translateY(-50%);right: 20px;}

/* attorney-profile */

.attorney-profile .profile-detail-img{width: 70px;height: 70px;padding: 0;}
.attorney-profile .profile-detail-img .profile-user-img{border: none;}
.form-group-icn{display: flex; }
.form-group-icn h4{margin-bottom: 0;}
.form-group-icn label{margin-bottom:4px;}
.label-icn{margin-top: 5px;}
.licence-img{width: 100px;height: 70px;border-radius: 4px;}
.licence-img img{width: 100px;height: 70px;border-radius: 4px; object-fit: cover;}
.attorney-profile{background: #f1f7f8; }
.label-detail{width: calc(100% - 20px);}
.attorney-profile .page-contain {background: #f1f7f8; height: 100vh; overflow: hidden; overflow-y: auto;}


.review-box{background: #FFFFFF; box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56); border-radius: 5px;padding: 16px;}
.review-star-part{display: flex;justify-content: space-between;align-items: center;margin-bottom: 18px;}
.review-star-number h5{margin-bottom: 0;font-size: 17px; color: #22A3C8;font-weight: 600;}
.review-star .star.on{font-size: 20px;margin-right: 8px;color: #017fa4!important;background-image: linear-gradient(90deg, #017FA4 0%, #EF2D95 90%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.review-star .star.on:nth-child(2){color: #017fa4!important;}
.review-star .star.on:nth-child(3){color: #017fa4!important;}
.review-star .star.on:nth-child(4){color: #017fa4!important;}
.review-star .star.on:nth-child(5){color: #017fa4!important;}
.review-star .star{font-size: 20px!important;margin-right: 8px;color: #D8D8D8!important;}
.star:before {content: "\f318"!important; font-family: LineAwesome; }
.show-review {display: flex; align-items: center; }
.review-person span{width: 37px;height: 37px;border-radius: 50%;}
.review-person span:nth-child(2){margin-left: -5px;}
.review-person span:nth-child(3){margin-left: -5px;}
.review-person span img{width: 37px;height: 37px;border-radius: 50%; object-fit: cover;}
.show-btn{display: flex;justify-content: space-between;align-items: center;width: calc(100% - 101px);padding-left: 8px;}
.show-btn p{font-size: 12px; color: #9B9B9B;padding-bottom: 0;}
.show-btn a{font-size: 13px; color: #FF689A;font-weight: 600;}
.attorney-profile .upload-video .profile-pic-wrapper{background: #fff;}

/* ratting-view */
.rater{margin-bottom: 30px;}
.rating-person-name h2{font-size: 24px; color: #4A4A4A;font-weight: 600;margin-bottom: 0;}
.rating-box{display: flex;padding: 16px;margin: 0 -16px;border-bottom: 1px solid #DAE3E4;}
.rater-img{width: 30px;height: 30px;border-radius: 50%;}
.rater-img img{width: 30px;height: 30px;border-radius: 50%;object-fit: cover;}
.rating-detail{width: calc(100% - 30px);margin-left: 16px;}
.rater-person-box{display: flex;justify-content: space-between;align-items: center;}
.rater-person-box .rater-name{font-size: 17px; color: #4A4A4A;font-weight: 600;}
.rater-person-box .last-rating{font-size: 13px; color: rgba(155,155,155,0.70);}
.rating-box .rating-count h5{font-size: 13px; color: #9B9B9B;margin: 0;}
.rating-box .rating-count span{background: rgba(34, 163, 200, 0.4); border-radius: 6px;font-size: 13px; color: #4A4A4A;text-align: center;padding: 1px 5px;}
.rating-box .rating-count span i{color: #22A3C8;}
.rating-detail .rating-contain p{font-size: 16px; color: #4A4A4A;line-height: 22px;}

/* friend-list */
.friend-list{padding: 16px;overflow-y: auto; height: 100vh;transition: 0.5s ease-in all;margin-top: 100vh;}
.friend-list.active{margin-top: 0;}
.friend-img{height: 180px;border-radius:0 0 8px 8px; box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56);margin: -16px;margin-bottom: 16px;}
.friend-img img{width: 100%;height: 180px;border-radius:0 0 8px 8px;object-fit: cover;}
.friend-detail-box{display: flex;justify-content: space-between;align-items: flex-end;position: relative;margin-bottom: 20px;}
.friend-detail-box .chat-btn{top: -15px;}
.friend-detail h2{font-size: 24px; color: #4A4A4A;font-weight: 600;margin-bottom: 4px;}
.friend-detail h4{font-size: 17px; color: #9B9B9B;font-weight: normal;margin-bottom: 4px;}
.friend-counter span{background-image: linear-gradient(118deg, #017FA4 4%, #EF2D95 100%); border-radius: 12px; font-size: 10px; color: #FFFFFF; padding: 2px 5px; font-weight: bold;margin-bottom: 4px;}
.logout.report{position: inherit;margin: 0;margin-top: 24px;width: 100%;}


/* report-modal */
.page-overlay{background: rgba(0,0,0,0.40);position: fixed;z-index: 80;left: 0;right: 0;top: 0;bottom: 0;display: none;}
.page-overlay.active{display: block;}
.report-modal{background: #FFFFFF; border-radius: 16px 16px 0px 0px;padding: 16px 32px;position: fixed;bottom: -100%;transition: 0.5s ease-in all;z-index: 90;left: 0;right: 0;}
.report-modal.active{bottom: 0;}
.report-modal-header h2{font-size: 24px; color: #4A4A4A;}

/* user-attorney-list */

.attorney-person{display: flex;align-items: center;padding: 16px; margin: 0 -16px;border-bottom: 2px solid #DAE3E4;}
.attorney-user{width: 60px;height: 60px;border-radius: 50%;}
.attorney-user img{width: 60px;height: 60px;border-radius: 50%;object-fit: cover;}
.attorney-user-right {width: calc(100% - 60px);padding-left: 24px;}
.attorney-user-name h5{font-size: 16px; color: #4A4A4A;font-weight: bold;}
.attorney-experience h6{font-size: 13px; color: rgba(155,155,155,0.70);}
.attorney-user-detail {display: flex; align-items: center; justify-content: space-between; }
.attorney-location h4{font-size: 17px; color: #9B9B9B;font-weight: normal;margin-bottom: 0;}
.attorney-experience-year span{font-size: 13px; color: #22A3C8;}
.white-box{background: #FFFFFF; box-shadow: 0 6px 14px 0 rgba(158,168,172,0.56); border-radius: 5px; padding: 16px;}

.rate-now-section{display: flex;align-items: center;justify-content: space-between;}
.rate-now a{font-size: 17px;font-weight: 600;}
.review-star.large-star .star {font-size: 30px!important;}

.custom-dropdown{position: fixed; bottom: 0;background: #fff; z-index: 100; left: 0; right: 0;display: none;}
.custom-dropdown.active{display: block;}
.custom-dropdown-item {display: block; padding: 15px; border-bottom: 1px solid #d5d5d5; width: 100%; }


/*modal*/
.modal{display: flex!important;align-items: center;justify-content: center;overflow-y: auto;overflow-x: inherit!important;}
/*.modal-dialog{padding: 50px 0; overflow: hidden; overflow-y: auto;height: 100%;}*/
.modal-header{padding: 40px 15px;border-bottom: none;}
.modal-title{font-size: 24px; color: #4A4A4A;font-weight: 600;line-height: 33px;}
.modal-body{padding: 15px;padding-top: 0;}
.modal-body-contain{padding: 40px 0;}
.modal-body-contain p{font-size: 17px; color: #4A4A4A;padding: 0;}

@media screen and (max-width: 414px){
	.home-banner{height: 180px;}
 	.home-bottom-contain .link-with-text{margin-top: 25px;}
 	.profile-name-detail h2{font-size: 18px;}
 .profile-name-detail h4{font-size: 14px;}
 .menu-bar .user-name{font-size: 22px;}
}
@media (max-height: 414px){
 .modal-dialog{transform: translate(0 , 60px)!important;}
}

@media (min-width: 767.99px) and (max-width: 1024.99px) {
  .user-box {width: calc(25% - 8px);}

}
@media (min-width: 1025px){
  	.user-box {width: calc(25% - 8px);}
  	.main-page-container{position: relative;overflow: hidden;}
  	.page-contain,.page-wrapper {border: 1px solid #d1d1d1; }
  	.page-contain{min-height: 100vh;}
  	.top-header-tab .nav-tabs{margin: 0 auto; max-width: 1024px; }

  	
	/* Menu bar */
	.menu-bar {background-image: linear-gradient(5deg,#017fa4 0,#ef2d95 100%); height: 100vh; position: absolute; left: -100%; width: 0; transition: .5s ease-in all; overflow-y: auto; z-index: 99; max-width: 400px; }
	.open-menu .menu-bar {width: 80%; height: 100%; }
	.report-modal{margin: 0 auto; max-width: 1024px; }
	/* Top Header */
	.top-header {padding: 25px 15px; background-image: linear-gradient(46deg,#017fa4 0,#ef2d95 100%); box-shadow: none; display: flex; justify-content: space-between; align-items: center; /*position: sticky;*/ width: 100%; z-index: 60; top: 0; max-width: 1024px; margin: 0 auto; left: 0; right: 0; }
	/* .page-contain {
	padding: 12px 8px 8px;

	}*/
	/* custom-modal */
	.custom-modal{padding: 30px;}
	.user-detail {position: absolute;height: 100%;}
	.user-detail .img-part img{width: 100%;}
	.custom-dropdown{max-width: 1024px; margin: 0 auto;}

	/* loginpage */
	.loginpage{padding: 30px; border: 1px solid #d1d1d1;}

	.friend-img,.friend-img img{height: 300px;}

	/* chat*/
	.msg-type-area{margin: 0 auto; max-width: 1022px; }
	





}

@media (min-width: 577px){
	.uploaded-images-wrapper{height: 150px;}
	.uploaded-images .uploaded-images-wrapper.main-images{max-height: 300px;min-height: 300px;}

}
@media (min-width: 768px){
	.uploaded-images-wrapper{height: 200px;}
	.uploaded-images .uploaded-images-wrapper.main-images{max-height: 400px;min-height: 400px;}

}

.success
{
    color: green;
    background: lightgreen;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
}

/* Video Control Buttons */

.video-control-btnGroup{
  display: flex;
  justify-content: space-between;
  bottom:10% !important;
}
.video-control-btnGroup button {
  color: #FFF;
    opacity: 1;
    background: #000;
    padding: 4px 12px;
    border-radius: 50px;
    width: auto;
    margin: 0 2%;
    font-size: 14px;
    box-shadow: none;
    border: 1px solid #FFF;
}

.fancybox-video{
  display: block !important;
}

/* loader style */
.la-ball-clip-rotate {position: fixed; right: 0; left: 0; top:0; bottom:0;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

















