/* .videorec{
    width: 100%;
    display: block;
    height: 100vh;
    object-fit: fill;
}*/
/* .videorec video{
    height:100vh;
}
#icon{
    font: normal normal normal 16px/1 LineAwesome;
    font-size: inherit;
    font-size: -webkit-xxx-large;
    text-decoration: blink;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
} */

.myVideo-dimensions{
    z-index: 1;
    background: #FFF;
}
.myVideo-dimensions video{height: 100%;}
.video-control-btnGroup{
    z-index: 2;
}




