<app-menu [type]="role"></app-menu>
<form #userProfileForm="ngForm" (ngSubmit)="submitUserForm(userProfileForm, user)" autocomplete="off" class="my-form">
	<div class="update-profile page-wrapper" *ngIf="!nextData">
		<div class="back-header">
			<img src="assets/images/icons/color-back.png" width="17" [routerLink]="['/main/update-profile']">
			<h2></h2>
		</div>
		<!-- Upload-profile-pic Starts -->
		<div class="user-profile">
			<div class="profile-pic-wrapper">{{imagePath +image}}
				<div>
					<img class="center-block" [src]="image  ? (imagePath +image):'assets/images/no-image-user.png'" />
				</div>
				<label class="photo-upload">
					<a href="javascript:;" (click)="OpenOption();">
						<span class="add-user"><img src="assets/images/camera.png">
						</span>
					</a>
					<div class="custom-dropdown" [ngClass]="{'active':OptionFlag}">
						<input class="center-block file-input" type="file" id="profile" #profile
							(click)="profile.value = null" name="profile_photo" accept="image/*"
							(change)="fileChangeEvent($event,'profile')">
						<a class="custom-dropdown-item" href="javascript:;" (click)="openfile($event)">
							<i style="vertical-align: text-top;"></i> Use Gallery
						</a>

						<a class="custom-dropdown-item" href="javascript:;" (click)="CloseOption();">
							<i style="vertical-align: text-top;"></i> Cancel
						</a>
					</div>
				</label>
				<div *ngIf="imgError" class="error-block">
					<span> <i class="la la-exclamation-triangle pr-2"></i>
						{{imgMessage}}</span>
				</div>
			</div>
		</div>
		<!-- Upload-profile-pic Ends -->

		<!-- Username Starts -->
		<div class="row">
			<div class="form-group col-12">
				<label class="form-label">Username</label>
				<div>
					<input class='form-control' type="text" name="username" [(ngModel)]="user.username"
						placeholder="Username" id="username" required #username="ngModel" />
				</div>
				<div *ngIf="userNameError" class="error-block">
					<span> <i class="la la-exclamation-triangle pr-2"></i>
						{{userNameMessage}}</span>
				</div>
			</div>
			<!-- Username Ends -->

			<!-- Upload 6 images starts-->
			<div class="form-group col-12">
				<label class="form-label">Upload images</label>
				<p class="sub-label">You can also upload these images later from your Profile</p>
				<div class="uploaded-images">
					<!-- firstImage Starts -->
					<div class="col-8 p-0">
						<div class="uploaded-images-wrapper main-images">
							<a id="profileDropdown1" (click)="FirstOpenOption(0)">
								<img
									[src]="(SecondImageArray[0].profile2? (SecondImageArray[0].profile2 |safeHtml):SecondImageArray[0].profile2)">
							</a>
						</div>
					</div>
					<!-- firstImage Ends -->

					<!-- SecondImage Starts -->
					<div class="col-4 p-0 sub-imges">
						<div class="uploaded-images-wrapper">
							<a id="profileDropdown1" (click)="FirstOpenOption(1)">
								<img
									[src]="(SecondImageArray[1].profile2? (SecondImageArray[1].profile2 |safeHtml):SecondImageArray[1].profile2)">
							</a>
						</div>
						<!-- SecondImage Ends -->

						<!-- third image Starts -->
						<div class="uploaded-images-wrapper">
							<a id="profileDropdown1" (click)="FirstOpenOption(2)">
								<img
									[src]="(SecondImageArray[2].profile2? (SecondImageArray[2].profile2 |safeHtml):SecondImageArray[2].profile2)">
							</a>
						</div>
					</div>
					<!-- third image Ends -->

					<!-- fourth image Starts -->
					<div class="col-12 p-0 d-flex">
						<div class="uploaded-images-wrapper">
							<a id="profileDropdown1" (click)="FirstOpenOption(3)">
								<img
									[src]="(SecondImageArray[3].profile2? (SecondImageArray[3].profile2 |safeHtml):SecondImageArray[3].profile2)">
							</a>
						</div>
						<!-- fourth image ends -->
						<div class="uploaded-images-wrapper">
							<a id="profileDropdown1" (click)="FirstOpenOption(4)">
								<img
									[src]="(SecondImageArray[4].profile2? (SecondImageArray[4].profile2 |safeHtml):SecondImageArray[4].profile2)">
							</a>
						</div>
						<!-- fourth image Ends -->
						<!-- fifth image Starts -->
						<div class="uploaded-images-wrapper">
							<a (click)="FirstOpenOption(5)">
								<img
									[src]="(SecondImageArray[5].profile2? (SecondImageArray[5].profile2 |safeHtml):SecondImageArray[5].profile2)">
							</a>

						</div>
					</div>
					<!-- fifth image ends -->
					<!-- 6 images dropdowns starts -->
					<div class="custom-dropdown text-center" [ngClass]="{'active':FirstOptionFlag}">
						<input style="display:none" class="center-block file-input " type="file" #profile2
							(click)="profile2.value = null" [id]="'profile2'+currentImageIndex" name="profile2"
							accept=" image/*" (change)="fileChangeEvent($event,'profile2',currentImageIndex)">
						<a class=" custom-dropdown-item" href="javascript:;" (click)="FirstOpenFile($event)">
							<i style="vertical-align: text-top;"></i> Use Gallery
						</a>

						<a class="custom-dropdown-item" href="javascript:;" (click)="FirstCloseOption();">
							<i style="vertical-align: text-top;"></i> Cancel
						</a>
					</div>
					<!-- 6 images dropdowns ends -->

				</div>


				<!-- video upload starts -->
				<div class="form-group col-12 p-0">
					<label class="form-label">Upload Video</label>
					<p class="sub-label">If You Would Like To Introduce Yourself By A Video Greeting, Please Upload
						It
						Here.A Video Greeting Is The Best Way To Showcase Your Personality. </p>

					<div class="upload-video">
						<div class="profile-pic-wrapper">
							<a (click)="VideoOpenOption()">
								<img [src]="videoPreview ? videoPreview :'assets/images/svg/video.svg'">
							</a>
						</div>
						<label class="video-upload ml-3">
							<span class="add-video">
								<p>UPLOAD VIDEO</p>
							</span>
						</label>
					</div>
					<div class="custom-dropdown text-center" [ngClass]="{'active':VideoOpenOptionFlag}">
						<input style="display:none" class="center-block file-input " type="file" #profile3
							[id]="'profile3'+currentImageIndex" name="profile3" accept="video/*"
							(click)="profile3.value = null"
							(change)="fileChangeEvent($event,'profile3',currentImageIndex)">
						<a class=" custom-dropdown-item" href="javascript:;" (click)="FirstOpenFile($event,'video')">
							<i style="vertical-align: text-top;"></i> Use Gallery
						</a>

						<a class="custom-dropdown-item" href="javascript:;" (click)="VideoCloseOption();">
							<i style="vertical-align: text-top;"></i> Cancel
						</a>
					</div>
					<!-- video upload dropdown ends -->
				</div>
				<!-- More about me starts-->
				<div class="form-group col-12 p-0">
					<label class="form-label">More about me</label>
					<div>
						<textarea class='form-control' type="text" name="about_me" [(ngModel)]="user.about_me"
							placeholder="Short bio about yourself" id="about"></textarea>
					</div>
					<div *ngIf="aboutError" class="error-block">
						<span> <i class="la la-exclamation-triangle pr-2"></i>
							<span class="text-center">{{aboutMessage}}</span></span>
					</div>
				</div>
				<!-- More about me ends-->
			</div>
		</div>
		<div class="text-center col-12" *ngIf="!nextData">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="button"
				(click)="over(user.about_me,user.username,image,user.gender,user.interested_in)">Next</button>
		</div>

	</div>


	<!-- Next Button Starts*ngIf="dataVisible" -->
	<div>
		<div class="update-profile page-wrapper" *ngIf="nextData">
			<div class="back-header">
				<img src="assets/images/icons/color-back.png" (click)="back()" width="17">
			</div>
			<div class="page-header text-center mt-2">
				<h4 class="m-0"> You’re all set! Complete your Profile to start browsing</h4>
			</div>

			<!-- Select Gender starts-->
			<div class="row">
				<div class="form-group col-12">
					<label class="form-label">Select Gender</label>
					<div>
						<ng-select [items]="gender" bindLabel="name" autofocus bindValue="name"
							placeholder="Select Gender" name="name" #name="ngModel" [(ngModel)]="user.gender"
							[clearable]='false'>
						</ng-select>
					</div>
					<div *ngIf="genderError" class="error-block"><span> <i class="la la-exclamation-triangle pr-2"></i>
							{{genderMessage}}</span>
					</div>
				</div>
				<!-- Select Gender ends-->

				<!-- Interested In starts -->
				<div class="form-group col-12">
					<label class="form-label">Interested In </label>
					<div>
						<ng-select [items]="gender" bindLabel="name" autofocus bindValue="name"
							placeholder="Select Gender" name="name" #name="ngModel" [(ngModel)]="user.interested_in"
							[clearable]='false'>
						</ng-select>
					</div>
					<div *ngIf="interestedError" class="error-block"><span> <i
								class="la la-exclamation-triangle pr-2"></i>
							{{interestedMessage}}</span>
					</div>
				</div>

				<!-- Interested In ends -->


				<!-- birthday starts -->
				<div class="form-group col-12">
					<label class="form-label">Birthday</label>
					<div>
						<input type="text" class="form-control" name="birthday" [(ngModel)]="user.birthday"
							autocomplete="off" bsDatepicker (bsValueChange)="onValueChange($event)">

						<div *ngIf="birthdayError" class="error-block"><span> <i
									class="la la-exclamation-triangle pr-2"></i>
								{{birthdayMessage}}</span>
						</div>
					</div>
				</div>
				<!-- birthday ends -->

				<!-- I live in starts -->
				<div class="form-group col-12">
					<label class="form-label">I live in</label>
					<div>
						<ng-select [items]="countryArr" name="live_in" [(ngModel)]="user.live_in" #countryname="ngModel"
							id="countryname" bindLabel="name" bindValue="name" placeholder="Select Country"
							[clearable]='false' required>
						</ng-select>
						<div *ngIf="liveinError" class="error-block"><span> <i
									class="la la-exclamation-triangle pr-2"></i>
								{{liveinMessage}}</span>
						</div>
					</div>
				</div>
				<!-- I live in ends -->

				<!-- I’m a citizen of starts -->
				<div class="form-group col-12">
					<label class="form-label">I’m a citizen of</label>
					<div>
						<ng-select [items]="countryArr" name="citizen_of" [(ngModel)]="user.citizen_of"
							#countryname="ngModel" id="countryname" bindLabel="name" bindValue="name"
							[clearable]='false' placeholder="Select Country" required>
						</ng-select>
						<div *ngIf="citizenError" class="error-block"><span> <i
									class="la la-exclamation-triangle pr-2"></i>
								{{citizenMessage}}</span>
						</div>
					</div>
				</div>
				<!-- I’m a citizen of ends -->


				<!-- Do you want Children? starts -->
				<div class="form-group col-12 custom-switch" *ngIf="user">
					<label class="form-label">Do you want Children? </label>
					<ui-switch labelOn="Yes" labelOff="No" name="want_child" defaultBgColor="#fff"
						defaultBoColor="#EDEDED" checked (change)="changeStatus($event,'want_child')">
					</ui-switch>
				</div>
				<!-- Do you want Children? ends -->

				<!-- Do I smoke? starst-->
				<div class="form-group col-12 custom-switch" *ngIf="user">
					<label class="form-label">Do I smoke?</label>
					<ui-switch labelOn="Yes" labelOff="No" name="i_smoke" defaultBgColor="#fff" defaultBoColor="#EDEDED"
						checked (change)="changeStatus($event,'i_smoke')">
					</ui-switch>
				</div>
				<!-- Do I smoke? ends-->
			</div>

			<div class="text-center col-12">
				<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit">Done</button>
			</div>
		</div>
	</div>

</form>
<div class="error-block" *ngIf="birthdayVal">
	<span>
		<i class="la la-exclamation-triangle pr-2"></i>{{birthdayVal}}
	</span>
</div>