<style>
	#myVideo {
		position: fixed;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
	}

	video::-webkit-media-controls-fullscreen-button {
		display: none !important;
	}

	.content {
		position: fixed;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5);
		color: #f1f1f1;
		width: 100%;
		padding: 20px;
	}

	#myBtn {
		width: 200px;
		font-size: 18px;
		padding: 10px;
		border: none;
		background: #000;
		color: #fff;
		cursor: pointer;
	}

	#myBtn:hover {
		background: #ddd;
		color: black;
	}
	.fancybox-video{
		display: block !important;
	}
</style>

<!-- menu for user -->
<app-menu [type]="role"></app-menu>


<!-- start chat contants-->
<section class="dashboard profile-page mainLogoscreen" [hidden]="Chat">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/menu.svg" alt="menu" (click)="OpenMenu()">
		</div>
		<div class="page-title">
			<h2>Chats</h2>
		</div>
		<div>
		</div>
	</div>
	<div class="page-contain" *ngIf="contacts?.length">
		<div class="chat-person" *ngFor="let contact of contacts; let index = index"
			(click)="retriveMessage(contact?._id,contact?.name,contact?.occupants_ids,contact?.xmpp_room_jid,contact?.last_message_date_sent,contact?.photo,true)">
			<div class="chat-user">
				<img [src]="contact?.photo?contact?.photo:'assets/images/no-image-user.png'" [alt]="contact.name">
			</div>
			<div class="chat-user-right">
				<div class="chat-user-detail">
					<div class="chat-user-name">
						<h5>{{ contact?.name }}</h5>
					</div>
					<div class="last-seen">
						<h6>{{contact?.last_message_date_sent?((moment.unix(contact?.last_message_date_sent)| timeago:false).indexOf('seconds ago')==-1?(moment.unix(contact?.last_message_date_sent)| timeago:false):'just now') :''}}
						</h6>
					</div>
				</div>
				<div class="chat-user-detail">
					<div class="last-msg">
						<h4>{{contact?.last_message}}</h4>
					</div>
					<div class="last-msg-counter" *ngIf="contact?.unread_messages_count!=0">
						<span>{{contact?.unread_messages_count}}</span>
					</div>
					<div class="angle-right"><i class="la la-angle-right"></i></div>
				</div>
			</div>

		</div>
	</div>
	<div class="page-contain" *ngIf="noDataChat" (click)="chatNoData()">
		<img class="imgdata" src="assets/images/color-logo.png"><br>
		<h2 class="nodata">No data avaiable to show.</h2>
		<p class="refresh">Click here to refresh</p>
	</div>
</section>
<!-- end chat contants-->

<!-- start chatting with user-->
<section class="dashboard profile-page mainLogoscreen" [hidden]="!Chat" #scrollMe>
	<div class="top-header chatlist-wrap">
		<div class="hdr-back-arrow">
			<img src="assets/images/svg/back.svg" alt="menu" (click)="back()">
		</div>
		<div class="page-title">
				<div class="chat-user">
					<img [src]="selectedUser?.photo?selectedUser?.photo:'assets/images/no-image-user.png'">
				</div>
				<div class="nameBox">
					<h3>{{selectedUser?.name}}</h3>
					<h6 *ngIf="selectedUser?.last_message_date_sent">{{((moment.unix(selectedUser?.last_message_date_sent)| timeago:false).indexOf('second')==-1?(moment.unix(selectedUser?.last_message_date_sent)| timeago:false):'just now')}}</h6>
				</div>
		</div>
		<div></div>
	</div>
	<div class="page-contain chatpagecontainer">
		<div class="msg-box">
			<!-- Msg-time -->
			<button class="loadmore-msgbtn" *ngIf="totalCount>chatData.length" (click)="loadPrevious()">Load Earlier Messages</button>
			<div class="chatcontainer" *ngFor="let dateArray of uniqueDateArray;let i=index;">
				<div class="msg-time text-center">
					<h4>{{dateArray |checkDate}}</h4>
				</div>
				<div [ngClass]="(message.sender_id == session.user_id) ? 'send-msg' : 'received-msg'"
					*ngFor="let message of chatData;let y=index;" (swipeleft)="deleteMessage(message,y)">
					<div *ngIf="dateArray==moment(message.updated_at).format('YYYY-MM-DD')">
						<h4 *ngIf="!message?.attachments?.length">
							<h2 *ngIf="selectedUser[message.sender_id] && message.sender_id != session.user_id && !message.recipient_id" style="font-weight:bold">{{selectedUser[message.sender_id]}}</h2>
							{{message.message}}
							<h5> {{moment.unix(message.date_sent) |ConvertTime}}</h5>
						</h4>
						<div [ngClass]="(message.sender_id == session.user_id) ? 'send-img' : 'received-img'"
							class="send-img" *ngIf="message?.attachments?.length">
							<h2 *ngIf="selectedUser[message.sender_id] && message.sender_id != session.user_id && !message.recipient_id" style="font-weight:bold">{{selectedUser[message.sender_id]}}</h2>
							<a data-fancybox [href]="message.imageUrl" class="fancybox" title="Sample title" *ngIf="message?.attachments[0].type=='photo'">
									<img [src]="message.imageUrl" alt="user" >						
							</a>
							<a data-fancybox [href]="'#'+(i+y)" *ngIf="message?.attachments[0].type=='video'">
									<video style="width:100%;" class="chatVideo" [id]="i+y" 
									poster="" [controls]="message.controls" (loadeddata)="message.controls=false"
									[autoplay]="message.autoplay" [src]="message?.imageUrl" preload="auto" muted
									>
								</video>								
							</a>				
							
							<!-- <span *ngIf="message?.attachments[0].type=='video' && !message.controls"><i
									class="fa fa-play" aria-hidden="true" (click)="playVideo(message,i,y)"></i></span> -->
							<h5>{{moment.unix(message.date_sent) |ConvertTime}}</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center" *ngIf="chatData?.length==0">
				<h4>Please initialize conversation</h4>
			</div>
			<div #AutoScroll></div>
		</div>
		<div *ngIf="videoCapture" id="videodiv" #videodiv>
			<video #video id="myVideo" autoplay class="video-js"></video>
			<img [src]="image" *ngIf="imageVisible" id="myVideo">
			<canvas class="canvas-block" *ngIf="canvasVisible" #canvas id="canvas"></canvas>
			<div class="content">
				<button type="button" (click)="takePic('canvas')" class="btn btn-primary col-md-6 mb-3"
					*ngIf="!imageVisible">TAKE
					PHOTO</button>
				<button type="button" class="btn btn-primary col-md-6" (click)="methodCancel()">
					Cancel</button>
				<button md-raised-button color="primary" (click)="startRecording()"> Start</button>
				<button md-raised-button color="primary" (click)="stopRecording()"> Stop</button>
				<button md-raised-button color="primary" (click)="uploadVideo(imageVisible)"> Save</button>
			</div>
		</div>
		<div class="msg-type-area" *ngIf="!videoCapture">
			<a href="javascript:;" (click)="OpenOption();"><img src="assets/images/svg/file-upload.svg" alt=""></a>
			<textarea placeholder="Type a Message..." name="message" autosize [(ngModel)]="message" rows="1"></textarea>
			<a href="javascript:;"
				(click)="onEnter(selectedUser.receipientId?selectedUser.receipientId:selectedUser.dialogId,message,selectedUser.receipientId?'chat':'groupchat')"><img
					src="assets/images/svg/send-icon.svg" alt=""></a>
		</div>
	</div>
</section>
<!-- end chatting with user-->

<div class="custom-dropdown text-center" [ngClass]="{'active':OptionFlag}">
	<input class="center-block file-input"  capture="false" type="file" (change)="sendAttachment($event)" accept="video/*,image/*,.mp4"
		id="fileInput">
	<a class="custom-dropdown-item" href="javascript:;" (click)="openFileUpload($event)">
		<i style="vertical-align: text-top;"></i> Use Gallery
	</a>
	<a class="custom-dropdown-item" href="javascript:;" (click)="CloseOption()">
		<i style=" vertical-align: text-top;"></i> Cancel
	</a>
</div>
<div class="page-overlay" [ngClass]="{'active':PageOverlayFlag}" (click)="CloseOption()"></div>