.file-input{
    display: none;
}
.imgdata{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top :150px;
    width: 9%;
  }
  .nodata
  {
      text-align: center;
      font-size: 20px;
      line-height: 28px;
      color: lightslategray;
      font-weight: 600;
  
  }
  .refresh
  {
      text-align: center;
      font-size: 19px;
      color:lightslategray;
  }
  .angle-right
  {
      font-size: 25px;
      color: rgba(155,155,155,0.70);
      font-weight: bold
  }