<section class="dashboard profile-page attorney-profile mainLogoscreen" *ngIf="!Rate">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/back.svg" alt="menu" [routerLink]="['/main/attorney-list']">
		</div>
		<div class="page-title">
			<h2>Reviews</h2>
		</div>
		<div></div>
	</div>
	<div class="page-contain">
		<div class="rater rate-now-section">
			<div>
				<div class="rating-person-name">
					<h2>{{ratingReview.attorney_name}}</h2>
				</div>
				<div class="review-star">
					<star-rating value="{{ratingReview.avgRating}}" checkedcolor="red" uncheckedcolor="black"
						size="20px" ></star-rating>
				</div>
			</div>
			<div class="rate-now">
				<a class="gradient-text" href="javascript:;" (click)="RateNow()">RATE NOW</a>
			</div>
		</div>
		<div class="rating-box" *ngFor="let i of ratingUsers">
			<div class="rater-img">
				<img src="{{i.profile_url}}" alt="rater">
			</div>
			<div class="rating-detail">
				<div class="rater-person-box">
					<h4 class="rater-name">{{i.full_name }}</h4>
					<h6 class="last-rating">{{moment(i.createdAt).fromNow()}}</h6>
				</div>
				<div class="rating-count">
					<h5>RATED <span>{{i.star}}<i class="la la-star"></i></span></h5>
				</div>
				<div class="rating-contain">
					<p>{{i.review}}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="dashboard profile-page attorney-profile mainLogoscreen" *ngIf="Rate">
	<form #attorneyratingForm="ngForm" (ngSubmit)="addEditAttorneyRatings(attorneyratingForm, attorneyreview)"
		autocomplete="off" class="my-form">
		<div class="top-header">
			<div>
				<img *ngIf="showVisible" src="assets/images/svg/back.svg" alt="menu" (click)="back()">
				<img *ngIf="rateVisible" src="assets/images/svg/back.svg" alt="menu" (click)="back1()">
			</div>
			<div class="page-title">
				<h2>Rating & Review</h2>
			</div>
			<div></div>
		</div>
		<div class="page-contain">
			<div class="row">
				<div class="rating-person-name form-group col-12">
					<h2>{{ratingReview.attorney_name }}</h2>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Rate your experience</label>
					<div>
						<h6 class="grey-label">Just tap on the star to rate!</h6>
					</div>
				</div>
				<div class="form-group col-12">
					<div class="review-star large-star">
						<star-rating [(value)]="reviewStar" checkedcolor="red" uncheckedcolor="black" size="30px"
							readonly="false" (rate)="onRate($event)"></star-rating>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Start writing your review</label>
					<div>
						<textarea class='form-control' type="text" name="review"
							[(ngModel)]="attorneyreview.review"></textarea>
					</div>
				</div>
			</div>
			<div class="text-center col-12">
				<button class="btn btn-primary btn-block mt-5 d-inline-block" type="submit">Submit</button>
			</div>
		</div>
	</form>
</section>
<!-- Error Message -->
<div *ngIf="errorMessageStatus">
	<div class="error-block"><i class="la la-exclamation-triangle pr-2"></i>{{errorMessageStatus1}}</div>
</div>