<div class="page-loader-screen" [ngClass]="{'active':screenLoaderFlag , 'd-none':removescreenLoaderFlag}">
	<div class="page-loader-contain">
		<div class="page-loader-logo">
			<img [src]="gethomeImage()">
		</div>
		<div class="text-center">
			<h1>Loveternational</h1>
			<h6>LET YOUR LOVE TRAVEL.</h6>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
<div *ngIf="status1" class="error-block">
	<span> <i class="la la-exclamation-triangle pr-2"></i>
		{{status1}}</span>
</div>
<ngx-spinner bdOpacity=0.5 bdColor="" size="default" color="rgba(43,86,183,0.87)" type="ball-clip-rotate"
	[fullScreen]="true">
</ngx-spinner>