<!-- start section-->
<section class="dashboard profile-page mainLogoscreen">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/back.svg" alt="menu" (click)="back()">
		</div>
		<div class="page-title">
			<h2>Change Password</h2>
		</div>
		<div></div>
	</div>
	<div class="page-contain">
		<form autocomplete="off" class="changePwdForm" #changePwdForm="ngForm"
			(ngSubmit)="submitChangePassword(changePwdForm, changepwd)" *ngIf="changepwd">
			<div class="form-group">
				<label class="form-label">Old Password</label>
				<div class="input-iconright">
					<input class='form-control' type="password" name="oldPassword" [(ngModel)]="changepwd.oldPassword"
						id="oldPassword" required #oldPassword="ngModel" autocomplete="off">
					<div *ngIf="oldPassMsgError" class="error-block"><span> <i
								class="la la-exclamation-triangle pr-2"></i>
							{{oldPassMsg}}</span>
					</div>
				</div>
			</div>
			<!-- {{showError('oldPassword',oldPassword.errors)}} -->
			<div class="form-group">
				<label class="form-label">New Password</label>
				<div class="input-iconright">
					<input class='form-control' type="{{passtype}}" name="newPassword"
						[(ngModel)]="changepwd.newPassword" id="newPassword" required #newPassword="ngModel"
						autocomplete="off">
					<i class="iconright iconright-view" [ngClass]=" this.show? 'la la-eye-slash' : 'la la-eye' "
						(click)="showpass()"></i>
					<!-- <span class="info-label">Minimum 8 characters: Caps, Special character and
						numeric</span> -->
					<div *ngIf="NewPassMsgError" class="error-block"><span> <i
								class="la la-exclamation-triangle pr-2"></i>
							{{NewPassMsg}}</span>
					</div>
				</div>
			</div>
			<div class="form-group text-center submit col-12">
				<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit">SUBMIT</button>
			</div>
		</form>
	</div>
</section>
<!-- end section-->

<!-- success messge-->
<div *ngIf="successMessage">
	<div class="success"><i class="la la-check pr-2"></i>{{successMessageStatus}}</div>
</div>

<!-- error message-->
<div *ngIf=errorMessageStatus>
	<div class="error-block"><i class="la la-exclamation-triangle pr-2"></i>{{errorMessage}}</div>
</div>