<div class="loginpage resetpage">
    <div class="login-logo text-center">
        <img src="assets/images/color-logo.png">
    </div>
    <h3 class="text-center m-0">A link has been sent on your registered email ID:</h3>
    <div class="login-signin w-100">
        <div class="form-outer">
            <form autocomplete="off" class="loginForm m-0">
                <div class="form-group text-center">
                    <a href="javascript:;" class="email-link">{{email}}</a>
                </div>
                <div class="form-group text-center col-12">
                    <button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit"
                        [routerLink]="['/sign-in']">SIGN IN</button>
                </div>
            </form>
        </div>
    </div>
</div>