<section class="update-profile page-wrapper">
	<form #attorneyUpdateForm="ngForm" (ngSubmit)="attorneyUpdateProfile(attorneyUpdateForm, attorney)"
		autocomplete="off">
		<div class="back-header">
			<img src="assets/images/icons/color-back.png" width="17">
			<h2></h2>
		</div>
		<!-- Upload-profile-pic -->
		<div class="user-profile">
			<div class="profile-pic-wrapper">
				<div>
					<img class="center-block" [src]="image ? (image | safeHtml):'assets/images/no-image-user.png'" />
					<video class="video-block" *ngIf="videoVisible" #video id="video" autoplay></video>
					<canvas class="canvas-block" *ngIf="canvasVisible" #canvas id="canvas"></canvas>
				</div>
				<div class="take-photo row" *ngIf="takePicButton">
					<button type="button" (click)="takePic('canvas')" class="btn btn-primary col-md-6 mb-3">TAKE
						PHOTO</button>
					<button type="button" class="btn btn-primary col-md-6" (click)="methodCancel()">
						Cancel</button>
				</div>
				<label class="photo-upload">
					<a href="javascript:;" (click)="OpenOption('photo');">
						<span class="add-user"><img src="assets/images/camera.png">
						</span>
					</a>
					<div class="custom-dropdown" [ngClass]="{'active':OptionFlag}">
						<input class="center-block file-input" type="file" id="photo" #photo
							(click)="photo.value = null" name="photo" accept="image/*"
							(change)="fileChangeEvent($event,'profile')">
						<a class="custom-dropdown-item" href="javascript:;" (click)="openfile($event,'photo')">
							<i style="vertical-align: text-top;"></i> Use Gallery
						</a>
						<!-- <a class="custom-dropdown-item" href="javascript:;" (click)="changeCamera('useCamera')"
						>
						<i style="vertical-align: text-top;"></i> Use Camera
					</a> -->
						<a class="custom-dropdown-item" href="javascript:;" (click)="CloseOption();">
							<i style="vertical-align: text-top;"></i> Cancel
						</a>
					</div>
				</label>
				<div *ngIf="imgError" class="error-block">
					<span> <i class="la la-exclamation-triangle pr-2"></i>
						{{imgMessage}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-12">
				<label class="form-label">Name of Firm</label>
				<div>
					<input class='form-control' type="text" name="name_of_firm" [(ngModel)]="attorney.name_of_firm"
						id="name_of_firm" required #name_of_firm="ngModel" autocomplete="off">
					<div *ngIf="firmError" class="error-block">
						<span> <i class="la la-exclamation-triangle pr-2"></i>
							{{firmMessage}}</span>
					</div>
				</div>
			</div>
			<div class="form-group col-12">
				<label class="form-label">Country of License</label>
				<div>
					<ng-select [items]="countryArr" name="countryname" [(ngModel)]="attorney.country_id"
						#countryname="ngModel" id="countryname" bindLabel="countryname" bindValue="_id"
						(change)="changeCountry(attorney.country_id)" [clearable]="false" placeholder="Afghanistan"
						required>
					</ng-select>
				</div>
				<div *ngIf="countryError" class="error-block">
					<span><i class="la la-exclamation-triangle pr-2"></i>
						{{countryMessage}}</span>
				</div>
			</div>
			<div class="form-group col-12">
				<label class="form-label">State</label>
				<div>
					<ng-select [items]="stateArr" name="statename" [(ngModel)]="attorney.state_id" #statename="ngModel"
						id="statename" bindLabel="statename" bindValue="_id" [clearable]="false"
						placeholder="Badakhshan" required>
					</ng-select>
				</div>
				<div *ngIf="stateError" class="error-block">
					<span><i class="la la-exclamation-triangle pr-2"></i>
						{{stateMessage}}</span>
				</div>
			</div>
			<div class="form-group col-12">
				<label class="form-label">Experience</label>
				<div>
					<ng-select [items]="year" bindLabel="name" name="experience" [(ngModel)]="attorney.experience"
						#experience="ngModel" id="experience" autofocus bindValue="value" placeholder="1 Year"
						[clearable]="false" required>
					</ng-select>
				</div>
				<div *ngIf="experienceError" class="error-block">
					<span><i class="la la-exclamation-triangle pr-2"></i>
						{{experienceMessage}}</span>
				</div>
			</div>
			<div class="form-group col-12">
				<label class="form-label">Law License number</label>
				<div>
					<input class='form-control' type="text" name="license_no" [(ngModel)]="attorney.license_no"
						id="license_no" required #license_no="ngModel" autocomplete="off">
					<div *ngIf="licenseError" class="error-block">
						<span><i class="la la-exclamation-triangle pr-2"></i>
							{{licenseMessage}}</span>
					</div>
				</div>
			</div>
			<div class="form-group col-12">
				<label class="form-label">Upload License photo</label>
				<div class="upload-video">
					<div class="profile-pic-wrapper">
						<img [src]=" profileUrl1 ? (profileUrl1 | safeHtml) :'assets/images/svg/cam.svg'"
							(click)="OpenOption('license');" alt="camera">
						<video class="video-block" *ngIf="licensevideoVisible" #licensevideo id="licensevideo"
							autoplay></video>
						<canvas class="canvas-block" *ngIf="licensecanvasVisible" #licensecanvas
							id="licensecanvas"></canvas>
					</div>
					<div class="take-photo row" *ngIf="licensetakePicButton">
						<button type="button" (click)="takePic('licensecanvas')"
							class="btn btn-primary col-md-6 mb-3">TAKE PHOTO</button>
						<button type="button" class="btn btn-primary col-md-6" (click)="methodCancel()">Cancel</button>
					</div>
					<div class="custom-dropdown text-center" [ngClass]="{'active':OptionLicenseFlag}">
						<input class="center-block file-input" style="display:none" type="file" id="license" #license
							(click)="license.value = null" name="profile_photo" accept="image/*"
							(change)="fileChangeEvent($event,'license')">
						<a class="custom-dropdown-item" href="javascript:;" (click)="openfile($event,'license')">
							<i style="vertical-align: text-top;"></i> Use Gallery
						</a>
						<!-- <a class="custom-dropdown-item" href="javascript:;" (click)="changeCamera('useCamera')"
							>
							<i style="vertical-align: text-top;"></i> Use Camera
						</a> -->
						<a class="custom-dropdown-item" href="javascript:;" (click)="CloseOption();">
							<i style="vertical-align: text-top;"></i> Cancel
						</a>
					</div>
					<label class="video-upload ml-3">
						<span class="add-video">
							<p>UPLOAD PHOTO</p>
						</span>
					</label>
				</div>
				<div *ngIf="profileError" class="error-block">
					<span> <i class="la la-exclamation-triangle pr-2"></i>
						{{profileMessage}}</span>
				</div>
			</div>
			<div class="form-group col-12">
				<label class="form-label">PayPal Email address</label>
				<div [ngClass]="((submitted ) && paypal_email_address.invalid)?'has-danger':''">
					<input class='form-control' type="text" name="paypal_email_address"
						pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (keydown)="RestrictSpace($event)"
						[(ngModel)]="attorney.paypal_email_address" id="paypal_email_address" required
						#paypal_email_address="ngModel" autocomplete="off" />
					<div class="error-block" *ngIf="((submitted ) && paypal_email_address.invalid)">
						<i
							class="la la-exclamation-triangle pr-2"></i>{{showError('paypal_email_address', paypal_email_address.errors)}}
					</div>
				</div>
			</div>
			<div class="form-group col-12">
				<label class="form-label">Description of service</label>
				<div>
					<textarea class='form-control' type="text" name="about_me" [(ngModel)]="attorney.about_me"
						id="about_me" required #about_me="ngModel" autocomplete="off"></textarea>
					<div *ngIf="aboutError" class="error-block">
						<span> <i class="la la-exclamation-triangle pr-2"></i>
							{{aboutMessage}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center col-12">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit">Done</button>
		</div>
	</form>
</section>