
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">In
          this agreement, we have referred to the Loveternational service as
          the &quot;Service&quot;, to you as the &quot;User&quot; and to this
          contract as the &quot;Agreement&quot;.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>II.
          Relationship Between Loveternational And User: Providing Only a
          Venue</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          is an Internet forum that facilitates communication between legal
          professionals and potential users of legal services. Loveternational
          acts as a venue for providers and purchasers of legal services to
          exchange information with the goal of eventually forming a
          professional relationship. Loveternational does not guarantee that
          Users will successfully find legal representation through this
          system. Loveternational takes no position and offers no opinion on
          when or if an attorney-client relationship has been formed.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">In
          order to provide an optimal forum for clients and legal
          professionals, Loveternational does not involve itself in the
          agreements between members and clients or the actual representation
          of clients. Therefore, we cannot ensure the completion of the
          agreement or the integrity of either party. The User, and not
          Loveternational , is solely responsible for assessing the integrity,
          honesty, and trustworthiness of all persons with whom the User
          communicates on the Service.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H3 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4><B>Disclaimer
          of attorney-client relationship</B></FONT>
    </FONT>
  </FONT>
</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Any
          form of use of the Service by a subscribing member or potential
          client is not intended to and will not create an attorney-client
          relationship between any person or entity and Loveternational . Any
          electronic communication sent to Loveternational will not create an
          attorney-client relationship between the User and Loveternational ,
          such being expressly denied.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H3 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4><B>Loveternational
          does not screen or vouch for any of its Users</B></FONT>
    </FONT>
  </FONT>
</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Providing
          a service where potential clients and legal professionals can meet
          does not imply an endorsement of any subscribing attorney or service
          provider. Loveternational makes no representation concerning an
          attorney's qualifications (except that the attorney was licensed to
          practice law in at least one state at the time of registration), nor
          does it sanction statements an attorney may post on the system.
          Loveternational makes no representation concerning the
          qualifications of non-attorney legal service providers. Your case
          will not be viewed by non-attorney legal providers without your
          consent. Loveternational does not screen potential cases, or
          otherwise channel potential clients to selected attorneys.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H3 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4><B>Loveternational
          Does not provide legal advice</B></FONT>
    </FONT>
  </FONT>
</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          is not a law firm. Loveternational offers no legal advice,
          recommendations, mediation, or counseling under any circumstance.
          Loveternational encourages the User not to accept any information
          received from any source found on this service, unless it is from an
          attorney the User has retained.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H3 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4><B>Disclaimer
          of representations by Users</B></FONT>
    </FONT>
  </FONT>
</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          makes no representation, guarantee, or warranty (express or implied)
          as to the legal ability, competence, or quality of representation
          which may be provided by any of the attorneys, law firms or legal
          service providers which may submit bids and/or are listed through
          this Web site or any affiliate thereof.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>III.
          User Guidelines</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">In
          order to keep this system attractive and useful for all Users, it is
          important that Users follow the rules of the system. Some of these
          rules are described in this contract, and the rest in bulletins
          posted at various points in the system. Loveternational reserves the
          right to deny further access to its service to any User who violates
          these rules, is the subject of complaints by other Loveternational
          Users, for any other reason, or for no reason at all.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Users
          may not engage in any of the following activities on our system:</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<UL>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">do or say
          anything to injure or harm others</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">display material
          containing nudity or pornographic material of any kind</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">provide material
          that is grossly offensive to the online community, including blatant
          expressions of bigotry, prejudice, racism, hatred, or profanity</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">promote or
          provide instructional information about illegal activities, or
          promoting physical harm or injury against any group or individual</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">defame any
          person or group</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">display material
          that exploits children under 18 years of age</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">violate the
          rights of another, including but not limited to the intellectual
          property rights of another. This includes using the Service for acts
          of copyright, trademark, patent, trade secret, or other intellectual
          property infringement, including but not limited to offering pirated
          computer programs or links to such programs, information used to
          circumvent manufacturer-installed copy-protect devices, including
          serial or registration numbers for software programs, or any type of
          cracker utilities (this also includes files which are solely
          intended for game emulation)</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">violate Internet
          standards</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">use the Service
          for displaying harassing, abusive, threatening, harmful, vulgar,
          obscene, or tortuous material or invading other's privacy</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">interfere with
          or disrupting the Service or servers or networks connected to the
          Service by posting advertisements or links to competing services,
          transmitting &quot;junk mail&quot;, &quot;spam&quot;, &quot;chain
          letters&quot;, or unsolicited mass distribution of email</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">encourage any
          illegal activity, including anything to do with illegal drugs,
          gambling, pornography, prostitution, child pornography, robbery,
          spreading computer viruses, cracking into private computer systems,
          software infringement, trafficking in credit card codes, or other
          crimes</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">compromise the
          security of the Service Loveternational provides. Do not try to
          gain access to system areas private to Loveternational , or to other
          Users.</FONT>
      </FONT>
    </P>
</UL>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>IV.
          Ratings</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">As
          part of our service to all Users, Loveternational provides a forum
          for clients to comment on their experiences with the legal
          professionals reached by using the Service. Comments posted on the
          comment board will be available for review by all Loveternational
          Users and members. While we encourage open and unrestricted use of
          the forum, we do not tolerate offensive conduct. When using the
          discussion forum to comment on your experiences, please keep the
          comments accurate, constructive and civil. Bear in mind that use of
          disparaging and defamatory comments does not serve the purpose of the
          forum and may result in legal liability to the User. Loveternational
          reserves the right to terminate this agreement and restrict future
          access to the Service to Users who post comments that are defamatory,
          hostile, vulgar, or otherwise distasteful.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>V.
          Disclaimer of Information Obtained on the Service</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          provides legal professionals and potential clients with a forum that
          functions as an open market. Loveternational is not responsible for
          the content of materials posted on its Web sites. The opinions and
          views expressed are those of the individual Users of the Service and
          do not reflect those of Loveternational . Data submitted by other
          Users (both attorneys and lay persons) is not verified or reviewed in
          any way before it appears on the Loveternational Web site.
          Loveternational does not warrant the validity or accuracy of any
          such information. Please use caution and common sense when using this
          site.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          does not continuously review the standing of any attorney subscriber
          with any regulatory authority. When considering employing any
          attorney or law firm, Users should check the attorney's standing with
          the state bar. When considering employing a non-attorney legal
          service service provider, Users should check with the agency that
          certified the provider or the applicable regulatory body.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          makes every effort to verify that attorneys who subscribe to the
          Service are licensed and in good standing in at least one state
          within the United States at the time of registration. However,
          Loveternational is unable to track, verify, or monitor the standing
          of each attorney using the Service. Therefore, Loveternational makes
          no representation regarding the status, standing or ability of any
          attorney or law firm that submits bids, or is listed through this Web
          site.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Users
          are urged to make their own independent investigation and evaluation
          of any firm being considered. The determination of the need for legal
          services and the choice of legal representation are extremely
          important decisions and should not be based solely on advertisements,
          claims of expertise, or on the cost of rendering the requested legal
          services.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          is not responsible for, and in no way endorses, any description or
          indication of specialization or limitation of practice by an attorney
          or law firm. Please be aware that no agency or board may have
          certified such attorney as a specialist or expert in any indicated
          field of law practice. In addition, an attorney claiming
          specialization is not necessarily any more expert or competent than
          other attorneys. It is up to the User to question the attorneys and
          providers on the factual basis of any statement they make, ask for
          the names of the certifying agencies, and verify all information.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Users
          are encouraged to use caution when reviewing any information
          submitted by attorneys and other parties. Although Loveternational
          strongly encourages attorneys to comply with all regulations
          governing attorney conduct, it is impossible for Loveternational to
          monitor members' integrity or compliance with applicable rules of
          conduct.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          in no way endorses the content or legality of any responses,
          statements, or promises made by attorneys or any other parties, on or
          off this site.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>VI.
          Confidentiality</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          makes every effort to maintain the confidentiality of any
          information submitted by Users to our System and our database of
          members. However, because Loveternational cannot control the conduct
          of others, we cannot guarantee that this information will remain
          confidential. Please use caution in deciding what information to
          input into the System. Do not make any confessions or admissions. Do
          not use proper names or addresses. Do not provide any other highly
          personal, sensitive, or incriminating information. Loveternational
          is not responsible for the release or improper use of such
          information by other Users or any release due to error or failure in
          the System.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">User
          agrees that attorneys contacted by User through the System may report
          to Loveternational on whether their services were engaged by the
          User and the total attorney's fees paid.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>VII.
          Indemnification</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">The
          User agrees that Loveternational is not responsible for any harm
          that this service may cause. The User agrees to indemnify, defend,
          and hold Loveternational harmless from and against any and all
          liability and costs incurred in connection with any loss, liability,
          claim, demand, damage, and expenses arising from or in connection
          with the contents or use of the Service. The User agrees that this
          defense and indemnity shall also apply to any breach by the User of
          the Agreement or the foregoing representations, warranties and
          covenants. The User further agrees that this defense and indemnity
          shall include without limitation attorney fees and costs. The User
          also agrees that this defense and indemnity shall apply to
          Loveternational , its affiliates, directors, officers and employees.
          Loveternational reserves the right, at its own expense, to assume
          the exclusive defense and control of any matter otherwise subject to
          indemnification by the User and the User shall not in any event
          settle any matter without the written consent of Loveternational .</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>VIII.
          Communications and Other Data</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          is not responsible for any loss of data resulting from accidental or
          deliberate deletion, network or system outages, file corruption, or
          any other reasons.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>IX.
          Other Loveternational Rights</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          also reserves the following rights:</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<UL>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">to release
          current or past User information, pursuant to the terms of
          the&nbsp;</FONT>
      </FONT><A HREF="https://www.legalmatch.com/company/privacy_statement.html">
        <FONT COLOR="#1155cc">
          <FONT FACE="Open Sans, serif">Privacy
            Policy</FONT>
        </FONT>
      </A>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">,
          in the event Loveternational believes that accounts are in
          violation of the terms of service or page content guidelines, used
          to commit unlawful acts, if the information is subpoenaed, and/or if
          Loveternational deems it necessary and/or appropriate.</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">to deny service
          to offenders of these guidelines or the Agreement</FONT>
      </FONT>
    </P>
  <LI>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">to terminate or
          deny service to anyone for any reason or no reason</FONT>
      </FONT>
    </P>
</UL>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>X.
          Modifications to Terms of Service</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          may change the Agreement at any time. The User will be notified of
          the change and will be responsible for promptly reading and complying
          with the new terms and conditions. Continued use of the service will
          indicate acceptance of the new terms and conditions.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>XI.
          Modifications to Service</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          reserves the right to modify or discontinue, temporarily or
          permanently, the Service with or without notice to the User. The User
          agrees that Loveternational shall not be liable to the User or any
          third party for any modification or discontinuance of the Service.
          The User acknowledges and agrees that any termination of Service
          under any provision of this Agreement may be effected without prior
          notice, and acknowledges and agrees that Loveternational may
          immediately delete data and files in the User's account and bar any
          further access to such files or the Service.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>XII.
          Loveternational 's Proprietary Rights</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Loveternational
          owns certain things on this system, including the 'look and feel' of
          the system, the name of the system, and the collective work copyright
          in sequences of public messages on the system. Users cannot reproduce
          any message thread from the system, either electronically or in
          print, without Loveternational 's permission and the permission of
          all participants in the thread. This is not a complete list — other
          things on the system are also Loveternational property. Contact
          Loveternational before copying anything from the system with plans
          of reproducing it or distributing it.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">The
          User acknowledges and agrees that content, including but not limited
          to text, software, music, sound, photographs, graphics, video, page
          layout and design, or other material contained in the Service or
          information presented through the Service is protected by copyrights,
          trademarks, service marks, patents, or other proprietary rights and
          laws. The User acknowledges and agrees that the User is permitted to
          use this material and information only as expressly authorized by
          Loveternational or its Sponsors, and may not copy, reproduce,
          transmit, distribute, or create derivative works of such content or
          information without express authorization. The User acknowledges and
          agrees that Loveternational can display images and text throughout
          the Service.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>XIII.
          Disclaimer of Warranties and Limitation of Liability</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">A
          great danger for Loveternational , and for all operators of online
          systems, is that we might be held accountable for the wrongful
          actions of our Users. If one User libels another User, the injured
          User might blame us, even though the first User was really at fault.
          If a User uploads a program with a computer virus, and the other
          Users' computers are damaged, we might be blamed even though a User
          left the virus on our System. If a User transmits illegal or improper
          information to another User, we might be blamed even though we did
          nothing more than unknowingly carry the message from one User to
          another. Accordingly, we need all Users to accept responsibility for
          their own acts, and to accept that an act by another User that
          damages them must not be blamed on us, but only on the other User.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Although
          it is Loveternational 's goal to provide Users with a reliable,
          quality system, we may make mistakes or experience system failure
          from time to time. Such problems are inevitable in operating a system
          of this size. We would not be able to make this system available to
          Users if we had to accept blame or financial liability for any
          usability problems, system failures or errors, or mistakes or damages
          of any kind. In order to continue offering and improving our service,
          Loveternational must deny any warranties on this service and insure
          that our liability for any problems connected with the use of our
          system is strictly limited.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">These
          needs are accomplished by the following disclaimers:</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>Disclaimer
          of Warranties</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">The
          user expressly agrees that use of the service is at the user's sole
          risk. The service is provided on an &quot;as is&quot; and &quot;as
          available&quot; basis. Loveternational expressly disclaims all
          warranties of any kind, whether express or implied, including, but
          not limited to the implied warranties of merchantability, fitness for
          a particular purpose and non-infringement. Loveternational makes no
          warranty that the service will meet user's requirements, that the
          service will be uninterrupted, timely, secure, or error-free; nor
          does Loveternational make any warranty as to the results that may be
          obtained from the use of the service or as to the accuracy or
          reliability of any information obtained through the service or that
          defects in the software will be corrected. Loveternational makes no
          warranty regarding any goods or services purchased or information
          obtained through the service or any transactions entered into through
          the service.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">No
          advice or information, whether oral or written, obtained by the user
          from Loveternational shall create any warranty not expressly stated
          herein.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>Limitation
          of Liability</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">The
          user agrees that Loveternational shall not be liable for any direct,
          indirect, incidental, special or consequential damages resulting from
          the use or the inability to use the service or for cost of
          procurement of substitute goods and services or resulting from any
          goods or services purchased or obtained or messages received or
          transactions entered into through or from the service or resulting
          from unauthorized access to or alteration of user's transmissions or
          data, including, but not limited to damages for loss of profits, use,
          data or other intangibles, even if Loveternational has been advised
          of the possibility of such damages. The user further agrees that
          Loveternational shall not be liable for any damages arising from
          interruption, suspension or termination of service, including, but
          not limited to, direct, indirect, incidental, special, consequential
          or exemplary damages, whether such interruption, suspension or
          termination was justified or not, negligent or intentional,
          inadvertent or advertent.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>XIV.
          Arbitration</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%"><A NAME="_GoBack"></A>
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Any
          controversy or claim arising out of or relating to this Agreement or
          Loveternational services shall be settled by binding arbitration in
          accordance with the commercial arbitration rules of the American
          Arbitration Association. Any such controversy or claim shall be
          arbitrated on an individual basis, and shall not be consolidated in
          any arbitration with any claim or controversy of any other party. The
          arbitration shall be conducted in the County of Houston, Texas, and
          judgment on the arbitration award may be entered by any court having
          jurisdiction thereof. Either the User or Loveternational may seek
          any interim or preliminary relief from a court of competent
          jurisdiction in the County of Houston, Texas, necessary to protect
          the rights or property of the User or Loveternational pending the
          completion of arbitration. This arbitration clause does not prohibit
          either Loveternational or the User from seeking to have the
          arbitration dismissed or judicially terminated on the basis the
          claims in arbitration action fail to provide a legal basis upon which
          a claim for relief may be granted. Any motion or action to dismiss
          must be filed in a court of general jurisdiction within the County of
          Houston, Texas.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<H2 CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.02in; background: #ffffff">
  <FONT COLOR="#111111">
    <FONT FACE="Oswald, serif">
      <FONT SIZE=4 STYLE="font-size: 14pt"><B>XV.
          General</B></FONT>
    </FONT>
  </FONT>
</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">This
          agreement, the Agreement, incorporates by reference our Privacy
          Policy and any notice by Loveternational contained in any of the Web
          site pages and constitutes the entire understanding between the User
          and Loveternational regarding the User's relationship to our
          Service.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">Users
          can reach our Service from all fifty states and around the world.
          Each of these places has a different set of laws. Since
          Loveternational cannot keep track of all these laws and their
          requirements, the Agreement and the relationship between the User and
          Loveternational shall be governed by the laws of the State of Texas
          without regard to its conflict of law provisions.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">If
          Loveternational fails to exercise or enforce any right or provision
          of this Agreement, that failure shall not be used to prove that
          Loveternational has waived the right or provision. If any provision
          of this Agreement is found by a court of competent jurisdiction to be
          invalid, the parties nevertheless agree that the court should
          endeavor to give effect to the parties' intentions as reflected in
          the provision, and that the other provisions of the Agreement remain
          in full force and effect. The User agrees that regardless of any
          statute or law to the contrary, any claim or cause of action arising
          out of or related to use of the Service or the Agreement must be
          filed within one (1) year after such claim or cause of action arose
          or be forever barred. The section titles in the Agreement are for
          convenience only and have no legal or contractual effect.</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
  <FONT FACE="Times New Roman, serif">
    <FONT SIZE=3>
      <FONT COLOR="#000000">
        <FONT FACE="Open Sans, serif">We
          appreciate your interest and support and we welcome you to our
          community!</FONT>
      </FONT>
    </FONT>
  </FONT>
</P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>