@page { size: 8.5in 11in; margin: 1in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		H2 { margin-top: 0.03in; margin-bottom: 0in; direction: ltr; color: #2f5496; page-break-inside: avoid; widows: 2; orphans: 2 }
		H2.western { font-family: "Calibri Light", serif; font-size: 13pt; font-weight: normal }
		H2.cjk { font-family: "Arial"; font-size: 13pt; font-weight: normal }
		H2.ctl { font-family:"" ; font-size: 13pt; font-weight: normal }
		H3 { margin-top: 0.03in; margin-bottom: 0in; direction: ltr; color: #1f3763; page-break-inside: avoid; widows: 2; orphans: 2 }
		H3.western { font-family: "Calibri Light", serif; font-size: 12pt; font-weight: normal }
		H3.cjk { font-family: "Arial"; font-size: 12pt; font-weight: normal }
		H3.ctl { font-family:"" ; font-size: 12pt; font-weight: normal }
	A:link { color: #0000ff;}