<app-menu [type]="role"></app-menu>
<section class="dashboard profile-page attorney-profile mainLogoscreen" *ngIf="!Edit">
		<div class="top-header">
			<div>
				<img src="assets/images/svg/menu.svg" alt="menu" (click)="OpenMenu()">
			</div>
			<div class="page-title">
				<h2>Profile</h2>
			</div>
			<div>
				<img src="assets/images/svg/edit.svg" alt="edit" (click)="edit()">
			</div>
		</div>
		<div class="page-contain">
			<div class="profile-detail">
				<div class="profile-detail-img">
					<img src="{{attorneyArr.profile_url}}" class="profile-user-img">
				</div>
				<div class="profile-name-detail">
					<h2>{{attorneyArr.full_name}}</h2>
					<h4><img src="assets/images/svg/location.svg" alt="location"
							class="pr-2">{{attorneyArr.state}},{{attorneyArr.country}}</h4>
				</div>
			</div>
			<div class="my-detail">
				<div class="white-box">
					<div class="form-group form-group-icn">
						<div class="label-icn">
							<img src="assets/images/svg/firm.svg" alt="firm">
						</div>
						<div class="pl-3 label-detail">
							<label class="form-label">Name of firm</label>
							<h4>{{attorneyArr.name_of_firm}}</h4>
						</div>
					</div>
					<div class="form-group form-group-icn">
						<div class="label-icn">
							<img src="assets/images/svg/licence.svg" alt="licence">
						</div>
						<div class="pl-3 label-detail">
							<label class="form-label">Law License number</label>
							<h4>{{attorneyArr.license_no}}</h4>
						</div>
					</div>
					<div class="form-group form-group-icn">
						<div class="label-icn">
							<img src="assets/images/svg/licence.svg" alt="licence">
						</div>
						<div class="pl-3 label-detail">
							<label class="form-label">Law License photo</label>
							<div class="licence-img">
								<img src="{{attorneyArr.license_photo}}">
							</div>
						</div>
					</div>
					<div class="form-group form-group-icn">
						<div class="label-icn">
							<img src="assets/images/svg/username.svg" alt="username">
						</div>
						<div class="pl-3 label-detail">
							<label class="form-label">Description of Service</label>
							<p style="word-wrap: break-word;">{{attorneyArr.about_me}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="my-detail pt-0" *ngIf="!ratings">
				<h5 class="profile-page-label">Reviews & Ratings</h5>
				<div class="review-box">
					<div class="review-star-part">
						<div class="review-star">
							<star-rating value="{{ratingReview.avgRating}}" checkedcolor="red" uncheckedcolor="black"
								size="24px" ></star-rating>
						</div>
						<div class="review-star-number">
							<h5><span>{{ratingReview.avgRating}}</span>/5 stars</h5>
						</div>
					</div>
					<div class="show-review">
						<div class="review-person">
							<span *ngIf="reviewArr.image_1">
								<img [src]="reviewArr.image_1 ? reviewArr.image_1 : 'assets/images/no-image-user.png' "
									alt="user">
							</span>
							<span *ngIf="reviewArr.image_2">
								<img [src]="reviewArr.image_2 ? reviewArr.image_2 : 'assets/images/no-image-user.png'"
									alt="user">
							</span>
							<span *ngIf="reviewArr.image_3">
								<img [src]="reviewArr.image_3 ? reviewArr.image_3 : 'assets/images/no-image-user.png'"
									alt="user">
							</span>
						</div>
						<div class="show-btn">
							<p>and {{totalcount.totalRecord}} more people have reviewed this attorney</p>
							<a href="javascript:;" [routerLink]="['/main/attorney/attorney-rating',id]"
								class="gradient-text">Show</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<section class="dashboard profile-page attorney-profile mainLogoscreen" *ngIf="Edit">
	<form #attorneyUpdateForm="ngForm" (ngSubmit)="attorneyUpdateProfile(attorneyUpdateForm, attorney)" autocomplete="off"
			class="my-form">
		<div class="top-header">
			<div>
				<img src="assets/images/svg/back.svg" alt="menu" (click)="back()">
			</div>
			<div class="page-title">
				<h2>Edit Profile</h2>
			</div>
			<div>
				<!-- <img src="assets/images/svg/edit.svg" alt="edit" > -->
			</div>
		</div>
		<div class="page-contain">
			<!-- Upload-profile-pic -->
			<div class="user-profile">
				<div class="profile-pic-wrapper">
					<div>
						<img class="center-block"
							[src]="image ? (image | safeHtml):'assets/images/no-image-user.png'" />
						<!-- <video class="video-block" *ngIf="videoVisible" #video id="video" autoplay></video>
						<canvas class="canvas-block" *ngIf="canvasVisible" #canvas id="canvas"></canvas> -->
					</div>
					<!-- <div class="take-photo row" *ngIf="takePicButton">
					<button type="button" (click)="takePic('canvas')" class="btn btn-primary col-md-6 mb-3">TAKE
								PHOTO</button>
					<button type="button" class="btn btn-primary col-md-6" (click)="methodCancel()">
								Cancel</button>
				</div> -->
					<label class="photo-upload">
						<a href="javascript:;" (click)="OpenOption('photo');">
							<span class="add-user"><img src="assets/images/camera.png"></span>
						</a>
						<div class="custom-dropdown" [ngClass]="{'active':OptionFlag}">
							<input class="center-block file-input" type="file" id="photo" #photo
								(click)="photo.value = null" name="photo" accept="image/*"
								(change)="fileChangeEvent($event,'profile')">
							<a class="custom-dropdown-item" href="javascript:;" (click)="openfile($event,'photo')">
								<i style="vertical-align: text-top;"></i> Use Gallery
							</a>
							<!-- <a class="custom-dropdown-item" href="javascript:;" (click)="changeCamera('useCamera')"
							*ngIf="!captureButton && !cancelButton "><i style="vertical-align: text-top;"></i> Use Camera
						</a> -->
							<a class="custom-dropdown-item" href="javascript:;" (click)="CloseOption();">
								<i style="vertical-align: text-top;"></i> Cancel
							</a>
						</div>
					</label>
					<div *ngIf="imgError" class="error-block">
						<span> <i class="la la-exclamation-triangle pr-2"></i>{{imgMessage}}</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-12">
					<label class="form-label">Full Name</label>
					<div>
						<input class='form-control' type="text" name="full_name" [(ngModel)]="attorneyArr.full_name"
							id="full_name" required #full_name="ngModel" autocomplete="off">
						<div *ngIf="nameError" class="error-block">
							<span> <i class="la la-exclamation-triangle pr-2"></i>{{nameMessage}}</span>
						</div>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Name of Firm</label>
					<div>
						<input class='form-control' type="text" name="name_of_firm"
							[(ngModel)]="attorneyArr.name_of_firm" id="name_of_firm" required #name_of_firm="ngModel"
							autocomplete="off">
						<div *ngIf="firmError" class="error-block">
							<span> <i class="la la-exclamation-triangle pr-2"></i>{{firmMessage}}</span>
						</div>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Country of License</label>
					<div>
						<ng-select [items]="countryArr" name="countryname" [(ngModel)]="attorneyArr.country_id"
							#countryname="ngModel" id="countryname" bindLabel="countryname" bindValue="_id"
							(change)="changeCountry($event)" [clearable]="false" required>
						</ng-select>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">State</label>
					<div>
						<ng-select [items]="stateArr" name="statename" [(ngModel)]="attorneyArr.state_id"
							#statename="ngModel" id="statename" bindLabel="statename" bindValue="_id"
							[clearable]="false" required>
						</ng-select>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Experience</label>
					<div>
						<ng-select [items]="year" bindLabel="name" name="experience"
							[(ngModel)]="attorneyArr.experience" #experience="ngModel" id="experience" autofocus
							bindValue="value" [clearable]="false" required>
						</ng-select>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Law License number</label>
					<div>
						<input class='form-control' type="text" name="license_no" [(ngModel)]="attorneyArr.license_no"
							id="license_no" required #license_no="ngModel" autocomplete="off">
						<div *ngIf="licenseError" class="error-block">
							<span><i class="la la-exclamation-triangle pr-2"></i>{{licenseMessage}}</span>
						</div>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Upload License photo</label>
					<div class="upload-video">
						<div class="profile-pic-wrapper">
							<img [src]=" profileUrl1 ? (profileUrl1 | safeHtml) :'assets/images/svg/cam.svg'"
								(click)="OpenOption('license');" alt="camera">
							<!-- <video class="video-block" *ngIf="licensevideoVisible" #licensevideo id="licensevideo"
								autoplay></video>
							<canvas class="canvas-block" *ngIf="licensecanvasVisible" #licensecanvas
								id="licensecanvas"></canvas> -->
						</div>
						<!-- <div class="take-photo row" *ngIf="licensetakePicButton">
							<button type="button" (click)="takePic('licensecanvas')"
								class="btn btn-primary col-md-6 mb-3">TAKE PHOTO</button>
							<button type="button" class="btn btn-primary col-md-6"
								(click)="methodCancel()">Cancel</button>
						</div> -->
						<div class="custom-dropdown text-center" [ngClass]="{'active':OptionLicenseFlag}">
							<input class="center-block file-input" style="display:none" type="file" id="license"
								#license (click)="license.value = null" name="profile_photo" accept="image/*"
								(change)="fileChangeEvent($event,'license')">
							<a class="custom-dropdown-item" href="javascript:;" (click)="openfile($event,'license')">
								<i style="vertical-align: text-top;"></i> Use Gallery
							</a>
							<!-- <a class="custom-dropdown-item" href="javascript:;"    (click)="changeCamera('useCamera1')" *ngIf="!captureButton && !cancelButton ">
				    	<i style="vertical-align: text-top;"></i> Use Camera
				    </a> -->
							<a class="custom-dropdown-item" href="javascript:;" (click)="CloseOption();"><i
									style="vertical-align: text-top;"></i> Cancel
							</a>
						</div>
						<label class="video-upload ml-3">
							<span class="add-video">
								<p>UPLOAD PHOTO</p>
							</span>
						</label>
					</div>
					<div *ngIf="profileError" class="error-block">
						<span> <i class="la la-exclamation-triangle pr-2"></i>
							{{profileMessage}}</span>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">PayPal Email address</label>
					<div [ngClass]="((submitted ) && paypal_email_address.invalid)?'has-danger':''">
						<input class='form-control' type="text" name="paypal_email_address"
							pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (keydown)="RestrictSpace($event)"
							[(ngModel)]="attorneyArr.paypal_email_address" id="paypal_email_address" required
							#paypal_email_address="ngModel" autocomplete="off" />
						<div class="error-block" *ngIf="((submitted ) && paypal_email_address.invalid)">
							<i
								class="la la-exclamation-triangle pr-2"></i>{{showError('paypal_email_address', paypal_email_address.errors)}}
						</div>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Description of service</label>
					<div>
						<textarea class='form-control' type="text" name="about_me" [(ngModel)]="attorneyArr.about_me"
							id="about_me" required #about_me="ngModel" autocomplete="off"></textarea>
						<div *ngIf="aboutError" class="error-block">
							<span> <i class="la la-exclamation-triangle pr-2"></i>{{aboutMessage}}</span>
						</div>
					</div>
				</div>
				<div class="text-center col-12">
					<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit">Save</button>
				</div>
			</div>
		</div>
	</form>
</section>
