<app-menu [type]="role"></app-menu>
<!-- start section-->
<section [class]="!showData ? 'dashboard mainLogoscreen' : 'd-none'">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/menu.svg" (click)="OpenMenu()">
		</div>
		<div class="page-title">
			<h2>Discover</h2>
		</div>
		<div>
			<img src="assets/images/svg/filter.svg" (click)="OpenFilter('filter')">
		</div>
	</div>
	<div class="page-contain">
		<div class="user-data">
			<div class="user-box" (click)="UserDetailOpen(i);" *ngFor="let i of discoverListArr"
				(scrolled)="onWindowScroll()">

				<div class="user-box-img">
					<img [src]="i.image!='undefined'? imagePath+ i.image : 'assets/images/no-image-user.png'">
				</div>
				<div class="user-info">
					<h5 class="user-names">{{i.fullname }}</h5>
					<!-- <h6 class="user-age">Age,{{i.age}}</h6> -->
				</div>
			</div>
		</div>
		<div *ngIf="noDataList" (click)="dashboardList()">
			<img class="imgdata" src="assets/images/color-logo.png"><br>
			<h2 class="nodata">No data avaiable to show.</h2>
			<p class="refresh">Click here to refresh</p>
		</div>
	</div>
</section>
<div #loading></div>
<!-- end section-->

<!-- filter for users  -->
<div class="custom-modal">
	<div class="custom-modal-header">
		<h2 *ngIf="filter">Filters</h2>
		<h2 *ngIf="terms">Terms & Conditions</h2>
		<h2 *ngIf="policy">Privacy Policy</h2>
		<img src="assets/images/svg/color-close.svg" (click)="CloseFilter()" class="closefilter">
	</div>
	<form autocomplete="off" class="signupform" *ngIf="filter">
		<div class="row">
			<div class="form-group col-12">
				<label class="form-label">Citizen of</label>
				<div>
					<ng-select [items]="countryArr" name="citizen_of" [(ngModel)]="discArr.citizen_of"
						placeholder="Select Country" #countryname="ngModel" id="countryname" bindLabel="countryname"
						bindValue="_id" required [clearable]="false">
					</ng-select>
				</div>
			</div>
			<div class="form-group col-12">
				<label class="form-label">Highest Education</label>
				<div>
					<ng-select [items]="educationArr" name="_id" [(ngModel)]="discArr._id" #edu_name="ngModel"
						placeholder="Select Education" id="edu_name" bindLabel="edu_name" bindValue="_id" required
						[clearable]="false">
					</ng-select>
				</div>
			</div>
			<h4 class="col-12 label-title">Age range</h4>
			<div class="form-group col-12">
				<ng5-slider [(value)]="discArr.minValue" (valueChange)="minRangeValues($event)"
					(highValueChange)="maxRangeValues($event)" [(highValue)]="discArr.maxValue" [options]="options">
				</ng5-slider>
			</div>
			<h4 class="col-12 label-title">Preferences</h4>
			<div class="form-group col-12 custom-switch">
				<label class="form-label">Want Children?</label>
				<ui-switch labelOn="No" labelOff="Yes" name="want_child" [(ngModel)]="want_child" defaultBgColor="#fff"
					defaultBoColor="#EDEDED">
				</ui-switch>
			</div>
			<div class="form-group col-12 custom-switch">
				<label class="form-label">Smoke?</label>
				<ui-switch labelOn="No" labelOff="Yes" name="i_smoke" [(ngModel)]="i_smoke" defaultBgColor="#fff"
					defaultBoColor="#EDEDED">
				</ui-switch>
			</div>
			<div class="form-group col-12 custom-switch">
				<label class="form-label">Drink Alcohol?</label>
				<ui-switch labelOn="No" labelOff="Yes" name="i_drink" [(ngModel)]="i_drink" defaultBgColor="#fff"
					defaultBoColor="#EDEDED">
				</ui-switch>
			</div>
		</div>
		<div class="text-center col-12">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit"
				(click)="getDiscoverList('discArr')">Apply</button>
		</div>
		<div class="logout">
			<button class="btn btn-primary logout-btn btn-block" (click)="clearFilter()" type="button">CLEAR
				FILTER</button>
		</div>
	</form>
	<div *ngIf="terms">
		<app-user-terms></app-user-terms>
	</div>
	<div *ngIf="policy">
		<app-user-policy></app-user-policy>
	</div>
</div>
<!-- User details -->
<div class="user-detail" [ngClass]="{'active':UserDetailFlag}" *ngIf="!showData" (swiperight)="onSwipeRight()"
	(swipeup)="onSwipeTop(userData)" (swipedown)="onSwipeDown(userData)" (swipeleft)="onSwipeLeft(userData,template)">
	<div *ngIf="!videoEnabled" class="ml-3">
		<img src="assets/images/svg/back.svg" (click)="back()">
	</div>
	<div *ngIf="videoEnabled" class="ml-3">
		<img src="assets/images/svg/back.svg" alt="menu" (click)="back1()">
	</div>
	<div class="img-part" *ngIf="!videoEnabled" id="double" style="cursor: pointer;" (click)="showNextImage(userData)">
		<img [src]="userData.image ?imagePath+ userData.image : 'assets/images/no-image-user.png'">
	</div>
	<div class="user-detail-bottom" *ngIf="!videoEnabled">
		<div>
			<h2>{{userData.full_name }}</h2>
		</div>
	</div>
	<video width="100%" height="100%" class="library" *ngIf="videoEnabled" muted controls autoplay playsinline>
		<source [src]="video_url" type='video/mp4'>
	</video>
	<div *ngIf="videourl">
		<div class="error-block"><i class="la la-exclamation-triangle pr-2"></i>{{videourlStatus}}</div>
	</div>
</div>
<app-friend-list *ngIf="showData" [data]="userData" (hideFriendList)="hideFriendList()"></app-friend-list>
<!-- Get Premium Account-->
<ng-template #template>
	<div class="modal-header text-center">
		<h4 class="modal-title mx-auto">Get Premium Account</h4>
	</div>
	<div class="modal-body text-center">
		<div>
			<img src="assets/images/svg/spread-love.svg" alt="spread">
		</div>
		<div class="modal-body-contain">
			<p>{{premiumMessage}}</p><br>
			<p>Subscriptions(Monthly) will be charged automatically to your credit card through your play store
				account.Your subscription will automatically renew unless cancelled at least 24 hours before the end of
				the current period.Your subscription can be turned off by going to your Account Settings at any time.
			</p>
		</div>
		<div class="terms" (click)="OpenFilter('terms')">
			<p>TERMS OF SERVICES</p>
		</div>
		<div class="policy" (click)="OpenFilter('policy')">
			<p>PRIVACY POLICY</p>
		</div>
		<div class="form-group text-center">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="button"
				(click)="openPremiumModal(template1)">Get Premium Account</button>
		</div>
	</div>
</ng-template>
<ng-template #template1>
	<div class="modal-header text-center">
		<h4 class="modal-title mx-auto">Payment</h4>
	</div>
	<div class="modal-body text-center">
		<ngx-braintree *ngIf="load" [getClientToken]="getClientTokenFunction.bind(this)"
			[createPurchase]="createPurchase.bind(this)" autocomplete="off" [chargeAmount]="chargeAmount"
			[showCardholderName]="true" [buttonText]="'Payment'" [enablePaypalCheckout]="true" [currency]="'USD'">
		</ngx-braintree>
	</div>
</ng-template>
<!-- success messge-->
<div *ngIf="paymentMessage">
	<div class="success"><i class="la la-check pr-2"></i>{{paymentMessage}}</div>
</div>