.imgdata{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top :150px;
    width: 9%;
  }
  .nodata
  {
      text-align: center;
      font-size: 20px;
      line-height: 28px;
      color: lightslategray;
      font-weight: 600;
  
  }
  .refresh
  {
      text-align: center;
      font-size: 19px;
      color:lightslategray;
  }
  .library
  {
      display: block;
      width:100%;
      height:100%
  }
  .terms
  {
      color:red;
      font-weight: bold
  }
  .policy
  {
      color:red;
      font-weight: bold;
      margin-top:20px;
  }

  .owl-stage-outer {
	position: relative;
    height: 100%;
  }

  .owl-stage-outer div:not(.owl-stage-outer) {
    height: 100%;
}

  .owl-item {
    height: 100%;  
  }