<section class="dashboard profile-page mainLogoscreen" *ngIf="!AttorneyList">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/back.svg" alt="menu" [routerLink]="['/main/connections']">
		</div>
		<div class="page-title">
			<h2>Attorney List</h2>
		</div>
		<div>
			<img src="assets/images/svg/filter.svg" alt="filter" (click)="OpenFilter()">
		</div>
	</div>
	<div class="page-contain">
		<div class="attorney-person" (click)="OpenAttorneyList(i)" *ngFor="let i of attorneyArr"
			(scrolled)="onWindowScroll()">
			<div class="attorney-user">
				<img [src]="i.profile_url ? i.profile_url : 'assets/images/no-image-user.png'" alt="user">
			</div>
			<div class="attorney-user-right">
				<div class="attorney-user-detail">
					<div class="attorney-user-name">
						<h5>{{i.full_name}}</h5>
					</div>
					<div class="attorney-experience">
						<h6>Experience</h6>
					</div>
				</div>
				<div class="attorney-user-detail">
					<div class="attorney-location">
						<h4><img src="assets/images/svg/location.svg" alt="location">{{i.state}},{{i.country}} </h4>
					</div>
					<div class="attorney-experience-year">
						<span>{{i.experience}} years</span>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="noDataList" (click)="attorneyDataList()">
			<img class="imgdata" src="assets/images/color-logo.png"><br>
			<h2 class="nodata">No data avaiable to show.</h2>
			<p class="refresh">Click here to refresh</p>
		</div>
	</div>
</section>
<div #loading></div>

<section class="dashboard profile-page attorney-profile mainLogoscreen" *ngIf="AttorneyList">
	<div class="top-header">
		<div>
			<img src="assets/images/svg/back.svg" alt="menu" (click)="back()">
		</div>
		<div class="page-title">
			<h2>Profile</h2>
		</div>
		<div></div>
	</div>
	<div class="page-contain">
		<div class="profile-detail">
			<div class="profile-detail-img">
				<img [src]="attorneyData.profile_url ? attorneyData.profile_url : 'assets/images/no-image-user.png'"
					alt="user" class="profile-user-img">
			</div>
			<div class="profile-name-detail" style="padding-right: 50px;">
				<h2>{{attorneyData.full_name}}</h2>
				<h4><img src="assets/images/svg/location.svg" alt="location"
						class="pr-2">{{attorneyData.state}},{{attorneyData.country}}</h4>
				<!-- Chat-btn -->
				<div class="chat-btn">
					<img src="assets/images/svg/color-messages.svg" alt="chat"
						(click)="intiateGroupChat(attorneyData.quickbloxId,attorneyData.full_name,attorneyData._id)">
				</div>
			</div>

		</div>
		<div class="my-detail">
			<h5 class="profile-page-label">About</h5>
			<div class="white-box">
				<div class="form-group form-group-icn">
					<div class="label-icn">
						<img src="assets/images/svg/firm.svg" alt="firm">
					</div>
					<div class="pl-3 label-detail">
						<label class="form-label">Name of firm</label>
						<h4>{{attorneyData.name_of_firm}}</h4>
					</div>
				</div>
				<div class="form-group form-group-icn">
					<div class="label-icn">
						<img src="assets/images/svg/licence.svg" alt="licence">
					</div>
					<div class="pl-3 label-detail">
						<label class="form-label">Law License number</label>
						<h4>{{attorneyData.license_no}}</h4>
					</div>
				</div>
				<div class="form-group form-group-icn">
					<div class="label-icn">
						<img src="assets/images/svg/licence.svg" alt="licence">
					</div>
					<div class="pl-3 label-detail">
						<label class="form-label">Law License photo</label>
						<div class="licence-img">
							<img [src]="attorneyData.license_photo ? attorneyData.license_photo : 'assets/images/no-image-user.png'"
								alt="licence">
						</div>
					</div>
				</div>
				<div class="form-group form-group-icn">
					<div class="label-icn">
						<img src="assets/images/svg/username.svg" alt="username">
					</div>
					<div class="pl-3 label-detail">
						<label class="form-label">Description of Service</label>
						<p>{{attorneyData.description}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="my-detail pt-0" *ngIf="!ratings">
			<h5 class="profile-page-label">Reviews & Ratings</h5>
			<div class="review-box">
				<div class="review-star-part">
					<div class="review-star">
						<star-rating [value]="ratingReview.avgRating" checkedcolor="red" uncheckedcolor="black"
							size="20px"></star-rating>

					</div>

					<div class="review-star-number">
						<h5><span>{{ratingReview.avgRating}}</span>/5 stars</h5>
					</div>
				</div>
				<div class="show-review">
					<div class="review-person" *ngFor="let img of ratingUsers | slice:0:3	">
						<span>
							<img src="{{img.profile_url}}" alt="user">
						</span>
					</div>
					<div class="show-btn">
						<p>and {{totalcount}} more people have reviewed this attorney</p>
					</div>
					<a href="javascript:;" class="gradient-text"
						[routerLink]="['/main/user-attorney-rating',attorneyData._id,'show']">Show</a>
				</div>
			</div>
		</div>
		<div class="text-center col-12">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="button"
				[routerLink]="['/main/user-attorney-rating',attorneyData._id,'rate']">Rate Now</button>
		</div>
	</div>
</section>


<!-- Custom modal  -->
<div class="custom-modal">
	<div class="custom-modal-header">
		<h2>Filters</h2>
		<img src="assets/images/svg/color-close.svg" alt="menu" (click)="CloseFilter()" class="closefilter">
	</div>
	<form autocomplete="off" class="signupform">
		<div class="row">
			<div class="form-group col-12">
				<label class="form-label">Country</label>
				<div>
					<ng-select [items]="countryArr" name="countryname" [(ngModel)]="attorney.country_id"
						#countryname="ngModel" id="countryname" bindLabel="countryname" bindValue="_id"
						(change)="changeCountry($event)" [clearable]="false" required>
					</ng-select>
				</div>
			</div>
			<div class="form-group col-12">
				<label class="form-label">State</label>
				<div>
					<ng-select [items]="stateArr" name="statename" [(ngModel)]="attorney.state_id" #statename="ngModel"
						id="statename" bindLabel="statename" bindValue="_id" [clearable]="false" required>
					</ng-select>
				</div>
			</div>
			<h4 class="col-12 label-title">Experience</h4>
			<div class="form-group col-12">
				<ng5-slider [(value)]="attorney.minValue" (valueChange)="minRangeValues($event)"
					(highValueChange)="maxRangeValues($event)" [(highValue)]="attorney.maxValue" [options]="options">
				</ng5-slider>
			</div>
		</div>
		<div class="text-center col-12">
			<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit"
				(click)=" attorneyList('attorney')">Apply</button>
		</div>
		<div class="logout">
			<button class="btn btn-primary logout-btn btn-block" (click)="clearFilter()" type="button">CLEAR
				FILTER</button>
		</div>
	</form>
</div>