<app-menu [type]="role"></app-menu>
<form #profileForm="ngForm" (ngSubmit)="submitEditUserForm(profileForm, userArr)" autocomplete="off" class="my-form">
	<section class="dashboard profile-page mainLogoscreen" *ngIf="!Edit">
		<div class="top-header">
			<div>
				<img src="assets/images/svg/menu.svg" alt="menu" (click)="OpenMenu()">
			</div>
			<div class="page-title">
				<h2>Profile</h2>
			</div>
			<div>
				<img src="assets/images/svg/edit.svg" alt="edit" (click)="edit()">
			</div>
		</div>
		<div class="page-contain">
			<div class="profile-detail">
				<div class="profile-detail-img">
					<img [src]="userArr.profile_url ? userArr.profile_url :'assets/images/no-image-user.png'" alt="user"
						class="profile-user-img">
					<span>
						<img src="assets/images/svg/male.svg" alt="male" class="mr-1">
						{{userArr.age}}
					</span>
				</div>
				<div class="profile-name-detail">
					<h2>{{userArr.full_name}}</h2>
					<h4>@{{userArr.username}}</h4>
				</div>
			</div>
			<div class="my-detail">
				<h5 class="profile-page-label">Photos</h5>
				<owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide>
						<div class="slider-img">
							<img [src]="userArr.profile_pic_1 ? userArr.profile_pic_1 : 'assets/images/no-image-user.png'"
								alt="Slide">
						</div>
					</ng-template>
					<ng-template carouselSlide>
						<div class="slider-img">
							<img [src]="userArr.profile_pic_2 ? userArr.profile_pic_2 : 'assets/images/no-image-user.png'"
								alt="Slide">
						</div>
					</ng-template>
					<ng-template carouselSlide>
						<div class="slider-img">
							<img [src]="userArr.profile_pic_3 ? userArr.profile_pic_3 : 'assets/images/no-image-user.png'"
								alt="Slide">
						</div>
					</ng-template>
					<ng-template carouselSlide>
						<div class="slider-img">
							<img [src]="userArr.profile_pic_4 ? userArr.profile_pic_4 : 'assets/images/no-image-user.png'"
								alt="Slide">
						</div>
					</ng-template>
					<ng-template carouselSlide>
						<div class="slider-img">
							<img [src]="userArr.profile_pic_5 ? userArr.profile_pic_5 : 'assets/images/no-image-user.png'"
								alt="Slide">
						</div>
					</ng-template>
					<ng-template carouselSlide>
						<div class="slider-img">
							<img [src]="userArr.profile_pic_6 ? userArr.profile_pic_6 : 'assets/images/no-image-user.png'"
								alt="Slide">
						</div>
					</ng-template>
				</owl-carousel-o>
			</div>
			<div class="my-detail pt-0">
				<h5 class="profile-page-label">About</h5>
				<p class="my-contain" style="word-wrap:break-word">{{userArr.about_me}}
				</p>
			</div>
			<div class="row my-detail">
				<div class="form-group col-6">
					<label class="form-label">Do I have children?
						<h4>{{ userArr.have_child == true ? 'Yes' : 'No'}}</h4>
					</label>
				</div>
				<div class="form-group col-6">
					<label class="form-label">Do I want children?
					   <h4>{{ userArr.want_child == true ? 'Yes' : 'No'}}</h4>
					</label>
				</div>
				<div class="form-group col-6">
					<label class="form-label">Do I smoke?
						<h4>{{ userArr.i_smoke == true ? 'Yes' : 'No'}}</h4>
					</label>
				</div>
				<div class="form-group col-6">
					<label class="form-label">Do I drink?
						<h4>{{ userArr.i_drink == true ? 'Yes' : 'No'}}</h4>
					</label>
				</div>
				<div class="form-group col-6">
					<label class="form-label">Highest Education
						<h4>{{ userArr.education ? userArr.education : '--' }}</h4>
					</label>
				</div>
				<div class="form-group col-6">
					<label class="form-label">Birth year
						<h4>{{birthdayYear}}</h4>
					</label>
				</div>
			</div>
			<div class="my-detail pt-0">
				<h5 class="profile-page-label" *ngIf="noVideodisplay">Video</h5>
				<a data-fancybox href="#profileVideo" *ngIf="userArr?.video_url">
					<video class="library" width="100%" height="100%" id="profileVideo" muted controls autoplay
						playsinline>
						<source [src]="userArr?.video_url" type='video/mp4'>
					</video>
				</a>
			</div>
		</div>
	</section>


	<section class="dashboard profile-page mainLogoscreen" *ngIf="Edit">
		<div class="top-header">
			<div>
				<img src="assets/images/svg/back.svg" alt="menu" (click)="back()">
			</div>
			<div class="page-title">
				<h2>Edit Profile</h2>
			</div>
			<div>

			</div>
		</div>
		<div class="page-contain">
			<div class="my-detail pt-0">
				<div class="user-profile">
					<div class="profile-pic-wrapper">
						<div>
							<img class="center-block"
								[src]="image ? (image | safeHtml):'assets/images/no-image-user.png'" />
						</div>
						<label class="photo-upload">
							<a href="javascript:;" (click)="OpenOption();">
								<span class="add-user"><img src="assets/images/camera.png">
								</span>
							</a>
							<div class="custom-dropdown text-center" [ngClass]="{'active':OptionFlag}">
								<input class="center-block file-input" type="file" id="profile" #profile
									(click)="profile.value = null" name="profile_photo"
									(change)="fileChangeEvent($event,'profile')" accept="image/*">
								<a class="custom-dropdown-item" href="javascript:;" (click)="openfile($event)">
									<i style="vertical-align: text-top;"></i> Use Gallery
								</a>
								<a class="custom-dropdown-item" href="javascript:;" (click)="CloseOption();">
									<i style=" vertical-align: text-top;"></i> Cancel
								</a>
							</div>
						</label>
					</div>
				</div>

				<div class="form-group row m-0">
					<label class="form-label">Upload images</label>
					<p class="sub-label">You can also upload these images later from your Profile</p>
					<div class="uploaded-images">
						<div class="col-8 p-0">
							<div class="uploaded-images-wrapper main-images">
								<a id="profileDropdown1" (click)="FirstOpenOption(0)">
									<img
										[src]="(SecondImageArray[0].profile2? (SecondImageArray[0].profile2 |safeHtml): 'assets/images/no-image-user.png')">
									<video #firstVideo id="firstVideo" class="video-block2"
										[hidden]="!(videoVisible1 || canvasVisible1)" autoplay></video>
									<canvas #firstCanvas *ngIf="canvasVisible1" class="video-block2" id="firstCanvas"
										class="canvas-block"></canvas>
								</a>

								<div class="take-photo-2 row" *ngIf="takePicButton1">
									<button type="button" (click)="takePic('firstCanvas1',currentImageIndex,0)"
										class="btn btn-primary col-md-6 mb-3">TAKE
										PHOTO</button>
									<button type="button" class="btn btn-primary col-md-6"
										(click)="uploadimageCancel()">
										Cancel</button>
								</div>
							</div>
						</div>


						<div class="col-4 p-0 sub-imges">
							<div class="uploaded-images-wrapper">
								<a id="profileDropdown1" (click)="FirstOpenOption(1)">
									<img
										[src]="(SecondImageArray[1].profile2? (SecondImageArray[1].profile2 |safeHtml): 'assets/images/no-image-user.png')">
									<video #firstVideo id="firstVideo" class="video-block2"
										[hidden]="!(videoVisible1 || canvasVisible1)" autoplay></video>
									<canvas #firstCanvas *ngIf="canvasVisible1" class="video-block2" id="firstCanvas"
										class="canvas-block"></canvas>
								</a>

							</div>
							<div class="uploaded-images-wrapper">
								<a id="profileDropdown1" (click)="FirstOpenOption(2)">
									<img
										[src]="(SecondImageArray[2].profile2? (SecondImageArray[2].profile2 |safeHtml): 'assets/images/no-image-user.png')">
									<video #firstVideo id="firstVideo" class="video-block2"
										[hidden]="!(videoVisible1 || canvasVisible1)" autoplay></video>
									<canvas #firstCanvas *ngIf="canvasVisible1" class="video-block2" id="firstCanvas"
										class="canvas-block"></canvas>
								</a>
							</div>
						</div>
						<div class="col-12 p-0 d-flex">
							<div class="uploaded-images-wrapper">
								<a id="profileDropdown1" (click)="FirstOpenOption(3)">
									<img
										[src]="(SecondImageArray[3].profile2? (SecondImageArray[3].profile2 |safeHtml): 'assets/images/no-image-user.png')">
								</a>
							</div>
							<div class="uploaded-images-wrapper">
								<a id="profileDropdown1" (click)="FirstOpenOption(4)">
									<img
										[src]="(SecondImageArray[4].profile2? (SecondImageArray[4].profile2 |safeHtml): 'assets/images/no-image-user.png')">
									<video #firstVideo id="firstVideo" class="video-block2"
										[hidden]="!(videoVisible1 || canvasVisible1)" autoplay></video>
									<canvas #firstCanvas *ngIf="canvasVisible1" class="video-block2" id="firstCanvas"
										class="canvas-block"></canvas>
								</a>
							</div>
							<div class="uploaded-images-wrapper">
								<a id="profileDropdown1" (click)="FirstOpenOption(5)">
									<img
										[src]="(SecondImageArray[5].profile2? (SecondImageArray[5].profile2 |safeHtml): 'assets/images/no-image-user.png')">
								</a>
							</div>
						</div>

						<div class="custom-dropdown text-center" [ngClass]="{'active':FirstOptionFlag}">
							<input style="display:none" class="center-block file-input " type="file" #profile2
								(click)="'profile2'.value = null" [id]="'profile2'+currentImageIndex" name="profile2"
								accept=" image/*" (change)="fileChangeEvent($event,'profile2',currentImageIndex)">
							<a class=" custom-dropdown-item" href="javascript:;" (click)="FirstOpenFile($event)">
								<i style="vertical-align: text-top;"></i> Use Gallery
							</a>
							<a class="custom-dropdown-item" href="javascript:;" (click)="FirstCloseOption();">
								<i style="vertical-align: text-top;"></i> Cancel
							</a>
						</div>
					</div>

					<div class="form-group">
						<label class="form-label">Upload Video</label>
						<p class="sub-label">If You Would Like To Introduce Yourself By A Video Greeting, Please Upload
							It
							Here.A Video Greeting Is The Best Way To Showcase Your Personality.</p>

						<div class="upload-video">
							<div>
								<div *ngIf="videoOptions">
									<video #videorec id="videorec" width="100%" height="100%" autoplay="true"></video>
								</div>
							</div>
							<div class="profile-pic-wrapper">
								<a (click)="VideoOpenOption()">
									<!-- <a data-fancybox [href]="'#'+(i+y)" *ngIf="message?.attachments[0].type=='video'"> -->

									<img [src]="videoPreview ? videoPreview :'assets/images/svg/video.svg'">
								</a>
							</div>

							<label class="video-upload ml-3">
								<span class="add-video">
									<p>UPLOAD VIDEO</p>
								</span>
							</label>
						</div>

						<div class="custom-dropdown text-center" [ngClass]="{'active':VideoOpenOptionFlag}">
							<input style="display:none" class="center-block file-input " type="file" #profile3
								(click)="'profile3'.value = null" [id]="'profile3'+currentImageIndex" name="profile3"
								accept="video/*" (change)="fileChangeEvent($event,'profile3',currentImageIndex)">
							<a class=" custom-dropdown-item" href="javascript:;"
								(click)="FirstOpenFile($event,'video')">
								<i style="vertical-align: text-top;"></i> Use Gallery
							</a>

							<a class="custom-dropdown-item" href="javascript:;" (click)="VideoCloseOption();">
								<i style="vertical-align: text-top;"></i> Cancel
							</a>
						</div>
						<!-- video upload dropdown ends -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-12">
					<label class="form-label">Full Name</label>
					<div>
						<input class='form-control' type="text" name="full_name" [(ngModel)]="userArr.full_name"
							id="full_name" required #full_name="ngModel" autocomplete="off">
						<div *ngIf="nameError" class="error-block">
							<span><i class="la la-exclamation-triangle pr-2"></i>{{nameMessage}}</span>
						</div>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Username</label>
					<div>
						<input class='form-control' type="text" name="username" [(ngModel)]="userArr.username"
							placeholder="Username" id="username" required #username="ngModel" />
						<div *ngIf="usernamecheck" class="error-block"><span> <i
									class="la la-exclamation-triangle pr-2"></i>
								{{usernameData}}</span>
						</div>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">More about me</label>
					<div>
						<textarea class='form-control' type="text" name="about_me" [(ngModel)]="userArr.about_me"
							#about_me="ngModel" placeholder="Short bio about yourself" id="about"></textarea>
						<div *ngIf="aboutCheck" class="error-block"><span> <i
									class="la la-exclamation-triangle pr-2"></i>
								{{aboutMe}}</span>
						</div>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Select Gender</label>
					<div>
						<ng-select [items]="genderList " bindLabel="name" bindValue="name" autofocus
							placeholder="Select Gender" name="gender" #gender="ngModel" [(ngModel)]="userArr.gender"
							[clearable]='false' labelForId="test">
						</ng-select>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Interested In </label>
					<div>
						<ng-select [items]="genderList" bindLabel="name" autofocus bindValue="name"
							placeholder="Select Gender" name="interested_in" #interested_in="ngModel"
							[(ngModel)]="userArr.interested_in" [clearable]='false'>
						</ng-select>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Highest Education</label>
					<div>
						<ng-select [items]="educationArr" name="education_id" [(ngModel)]="userArr.education_id"
							#edu_name="ngModel" id="education" bindLabel="edu_name" bindValue="_id"
							placeholder="Select Education" [clearable]='false' required>
						</ng-select>
						<div *ngIf="educationCheck" class="error-block"><span> <i
									class="la la-exclamation-triangle pr-2"></i>
								{{educationErr}}</span>
						</div>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">Birthday</label>
					<div>
						<input type="text" class="form-control" name="birthday" [(ngModel)]="birthday"
							autocomplete="off" bsDatepicker (bsValueChange)="onValueChange($event)"
							[bsConfig]="{ dateInputFormat: 'DD MMM YYYY' }">
						<div *ngIf="birthdayError" class="error-block"><span> <i
									class="la la-exclamation-triangle pr-2"></i>
								{{birthdayMessage}}</span>
						</div>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">I live in</label>
					<div>
						<ng-select [items]="countryArr" name="live_in_id" [(ngModel)]="userArr.live_in_id"
							#countryname="ngModel" id="countryname" bindLabel="countryname" bindValue="_id"
							placeholder="Select Country" [clearable]='false' required>
						</ng-select>
					</div>
				</div>
				<div class="form-group col-12">
					<label class="form-label">I’m a citizen of</label>
					<div>
						<ng-select [items]="countryArr" name="citizen_of_id" [(ngModel)]="userArr.citizen_of_id"
							#countryname="ngModel" id="countryname" bindLabel="countryname" bindValue="_id"
							placeholder="Select Country" [clearable]='false' required>
						</ng-select>
					</div>
				</div>
				<div class="form-group col-12 custom-switch">
					<label class="form-label">Have Children? </label>
					<ui-switch labelOn="No" labelOff="Yes" name="have_child" defaultBgColor="#fff"
						[(ngModel)]="userArr.have_child" (change)="changeStatus($event,'have_child')"
						defaultBoColor="#EDEDED"></ui-switch>
				</div>
				<div class="form-group col-12 custom-switch">
					<label class="form-label">Want Children? </label>
					<ui-switch labelOn="No" labelOff="Yes" name="want_child" defaultBgColor="#fff"
						[(ngModel)]="userArr.want_child" (change)="changeStatus($event,'want_child')"
						defaultBoColor="#EDEDED">
					</ui-switch>
				</div>
				<div class="form-group col-12 custom-switch">
					<label class="form-label">Smoke?</label>
					<ui-switch labelOn="No" labelOff="Yes" name="i_smoke" defaultBgColor="#fff" defaultBoColor="#EDEDED"
						[(ngModel)]="userArr.i_smoke" (change)="changeStatus($event,'i_smoke')">
					</ui-switch>
				</div>
				<div class="form-group col-12 custom-switch">
					<label class="form-label">Drink Alcohol? </label>
					<ui-switch labelOn="No" labelOff="Yes" name="i_drink" defaultBgColor="#fff"
						[(ngModel)]="userArr.i_drink" (change)="changeStatus($event,'i_drink')"
						defaultBoColor="#EDEDED">
					</ui-switch>
				</div>
				<div class="text-center col-12">
					<button class="btn btn-primary btn-block mt-3 d-inline-block" type="submit">Save</button>
				</div>
			</div>
		</div>
	</section>
</form>

<div class="error-block" *ngIf="birthdayVal">
	<span>
		<i class="la la-exclamation-triangle pr-2"></i>{{birthdayVal}}
	</span>
</div>