/* .videorec video{
    height:100vh;
} */
#icon {
    font: normal normal normal 16px/1 LineAwesome;
    font-size: inherit;
    font-size: -webkit-xxx-large;
    text-decoration: blink;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
}
.library
{
    display: block;
    width:100%;
    height:100%
}