/* You can add global styles to this file, and also import other style files */
 @import "sass/base/import";
 @import "~@ng-select/ng-select/themes/default.theme.css";
 @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~ngx-toastr/toastr';
/* ======general purpose classes========== */
 body{
     background: $body-bg;
     font-family: $font-global;
     font-size: $font-size-base;
     line-height:$line-height-base;
     color: $color-body;
     font-weight: $font-regular;
     padding-right: 0 !important;
     @include sm {
         font-size: $font-size-base - 1px;
    }
    /* Apply CSS to iOS affected versions only */
     &.iosBugFixCaret.modal-open {
         position: fixed;
         width: 100%;
    }
    &.asideleft-on{
        overflow: hidden;
    }
}
html,body{
    height: 100%;
}
/* =====Begin: Links============*/
:focus{
    text-decoration:none;
    outline:0;
    box-shadow: none;
}
a {
    text-decoration:none;
    color:$color-body;
    cursor:pointer;
    outline: 0;
    &:hover, &:focus{
        text-decoration:none;
        outline:0;
        color:$color-primary;
    }
}
[class^="la-"], [class*=" la-"] {
    font-size: 1.3rem;
    /*vertical-align: middle;*/
}
.w-50px{width: 50px !important;}
.text-link{
    color: $color-primary;
    position: relative;
    display: inline-block;
    &:after{
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        top: 1rem;
        left: 0;
        width: 0%;
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
        -o-transition: width 0.3s ease;
        transition: width 0.3s ease;
    }
    &:hover{
        color: $color-primary;
        text-decoration: none;
        &:after{
            border-bottom:1px solid $border-primary;
            width: 100%;
            opacity: 0.5 ;
            filter: alpha(opacity=50) ;
        }
    }
}
/* =====End: Links ============*/
/* =====Begin: helper Classe============*/
p {
    padding:0 0 10px 0;
    margin:0;
}
img{
    max-width: 100%;
}
hr{
    border-top:1px dashed $border-color;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    &.thickborder{
        border-top:2px solid $border-color;
    }
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* =====Begin: badge Style======*/
.badge{
    font-size:$font-size-base - 3px;
    color: $color-white;
    font-weight: $font-medium;
    &.badge-primary{
        background:$bg-primary;
        color: $color-white;
    }
    &.badge-success{
        background:$bg-success;
        color: $color-white;
    }
    &.badge-info{
        background: $bg-info;
        color: $color-white;
    }
    &.badge-danger{
        background: $bg-danger;
        color: $color-white;
    }
    &.badge-warning{
        background: $bg-warning;
        color: $color-white;
    }
    &.badge-secondary{
        background: $bg-secondary;
        color: $color-white;
    }
}
/*===========End: badge Style===================*/
/*===========End: text Style===================*/
.text-gray{
    color: $color-gray !important;
}
.text-info{
    color:$color-info !important;
}
.text-danger{
    color:$color-danger !important;
}
.text-success{
    color:$color-success !important;
}
.text-warning{
    color:$color-warning !important;
}
.text-brand{
    color:$color-primary !important;
}
.bg-info{
    background:$bg-info !important;
}
.bg-danger{
    background:$bg-danger !important;
}
.bg-success{
    background:$bg-success !important;
}
.bg-warning{
    background:$bg-warning !important;
}
.bg-brand{
    background:$bg-primary !important;
}
/*===========End: Text Style===================*/
/*===== Begin: Button Style ======================*/
.button-group{
    .btn{
        &:first-child:not(:last-child){
            margin-right:10px;
        }
    }
}
.btn {
    font-weight:$font-regular;
    font-family: $font-global;
    cursor: pointer;
    box-shadow: none;
    @include border-radius($border-radius);
    @include button-size($padding-y, $padding-x, $font-size-base, $line-height-base, $box-shadow);
    &:focus, &.focus {
        outline: 0;
        box-shadow: none !important;
    }
    &.disabled, &:disabled {
        opacity: .6;
    }
    &:active, &.active {
        background-image: none;
        box-shadow: none !important;
    }
    &.btn-primary {
        @extend .btn;
        background: $btn-primary;
        color: $color-white;
        border-color: $border-primary;
        /*@include x-linear-gradient($direction, $fallback, $from, $to);*/
        &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
             background: darken($btn-primary,10);
             border-color: darken($btn-primary,10);
        }
    }
     &.btn-secondary {
        @extend .btn;
        background: $btn-secondary;
        color: $color-primary;
        border-color: $btn-secondary;
        &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
            background: darken($btn-secondary,10);
            border-color: darken($btn-secondary,10);
            color: $color-primary;
        }
    }
     &.btn-default {
         @extend .btn;
         background: $btn-default;
         color: $color-primary;
         border-color: $border-primary;
         &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
             background:$btn-primary;
             border-color: $border-primary;
             color: $color-white;
        }
    }
     &.btn-success {
         @extend .btn;
         background: $btn-success;
         color: $color-white;
         border-color: $border-success;
         &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
            background: darken($btn-success,10);
            border-color: darken($btn-success,10);
        }
    }
     &.btn-warning {
         @extend .btn;
         background: $btn-warning;
         color: $color-white;
         border-color: $border-warning;
         &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
            background: darken($btn-warning,10);
            border-color: darken($btn-warning,10);
        }
    }
     &.btn-danger {
         @extend .btn;
         background: $btn-danger;
         color: $color-white;
         border-color: $border-danger;
         &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
            background: darken($btn-danger,10);
            border-color: darken($btn-danger,10);
        }
    }
     &.btn-info {
         @extend .btn;
         background: $btn-info;
         color: $color-white;
         border-color: $border-info;
         &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
            background: darken($btn-info,10);
            border-color: darken($btn-info,10); 
        }
    }
     &.btn-outline-primary {
         @extend .btn;
         background: $bg-white;
         color: $color-primary;
         border-color: $border-primary;
         &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
             background:$bg-primary;
             border-color: $border-primary;
             color: $color-white;
        }
    }
     &.btn-outline-danger{
         @extend .btn-outline-primary;
         background: $bg-white;
         color: $color-danger;
         border-color: $border-danger;
         &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
             background:$bg-danger;
             border-color: $border-danger;
             color: $color-white;
        }
    }
     &.btn-lg {
         @include button-size(1rem, 1.429rem, 1.285rem,$line-height-base, $box-shadow);
    }
     &.btn-sm {
         @include button-size(0.393rem, 0.75rem, 0.857rem,1.25rem, $box-shadow);
    }
     &.btn-xs {
         @include button-size(0.429rem, 0.714rem, 0.857rem, $line-height-base, $box-shadow);
    }
    &.btn-icon{
        width: 40px;
        font-size:$font-size-base + 4px;
        padding-right: 0;
        padding-left: 0;
    }
    @include xxs{
         white-space: inherit;
    }
    [class^="la-"], [class*=" la-"]{
        vertical-align: middle;
    }
}
.btn-brand {
    background: $btn-primary;
    color: $color-white;
    border-color: $btn-primary;
    &:focus, &:hover:not(:disabled), &:active , &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
        background: darken($btn-primary,10);
        border-color: darken($btn-primary,10);
        box-shadow: none;
    }
}
.btn-link {
    color: $color-gray;
    border: none;
    padding: 0;
    min-width: auto;
    font-weight:$font-regular;
    &:focus, .focus {
        box-shadow: none;
        outline: 0;
    }
    &:hover{
        color: $color-primary;
        text-decoration: none;
    }
}
.xxs-btnblock{
    @include xs{
        display: block;
        width: 100%;
    }
}
/*========End: Button Style ======================*/
/*========Begin: Toggle button =========================*/
.switch-checkbox{
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    label{
        font-weight: $font-medium;
        margin-bottom: 0;
        input{
            &:empty{
                margin-left: -999px;
                height: 0;
                width: 0;
                overflow: hidden;
                position: absolute;
                opacity: 0 ;
                filter: alpha(opacity=0) ;
            }
            &:empty ~ span{
                display: inline-block;
                position: relative;
                float: left;
                width: 66px;
                height: 36px;
                line-height:36px;
                text-indent: 0;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                @include border-radius(20px);
                &:before,&:after{
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    content: ' ';
                    -webkit-transition: all 100ms ease-in;
                    transition: all 100ms ease-in;
                    width:66px;
                    @include border-radius(20px);
                }
                &:after{
                    height: 30px;
                    width: 30px;
                    line-height:30px;
                    top: 3px;
                    bottom: 3px;
                    margin-left: 3px;
                    font-size: 0.9em;
                    text-align: center;
                    vertical-align: middle; 
                }
                &:before{
                     background-color:$bg-secondary;
                }
                 &:after{
                     background-color:$bg-white;
                     color: $color-primary;
                }
   
            }
            &:checked ~ span{
                &:before{
                    background-color:$bg-primary;
                    box-shadow: none;
                }
                &:after{
                    margin-left: 32px;
                    background-color:$bg-white;
                    color: $color-primary;
                }
            }
        }
    }
}
.custom-touchspin{
     .input-group-btn{
         .btn{
             border:1px solid $border-color;
             background: none;
             height: 36px;
             padding: 0.5rem 10px;
             i{
                 font-size: 1rem;
            }
             &:hover,&:focus{
                 background:$bg-primary;
                 color: $color-white;
            }
             &.bootstrap-touchspin-down{
                 border-radius:0;
                 margin-right: -1px;
            }
             &.bootstrap-touchspin-up{
                 margin-left:-1px !important;
                 border-radius:0 4px 4px 0;
            }
        }
    }
     &.input-group{
        >.input-group-prepend{
             &.icontext{
                 width: auto;
            }
             .input-group-text{
                 line-height: 16px;
            }
        }
         .form-control{
             padding: 0.5rem 10px;
             min-width: 30px;
        }
    }
}
/*========End: Toggle button =========================*/
/*========Begin: Checkobox/Radio =====================*/
.custom-radio,.custom-checkbox{
    &.vertical{
        label{
            display: block;
        }
    }
    label{
        vertical-align: top;
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding:0 0 0 25px; 
        margin:0 10px 7px 0; 
        color: $color-body;
        font-weight:$font-regular;
        line-height: 18px;
        font-size:$font-size-base;
        input[type="checkbox"], input[type="radio"]{
            display: none;
        }
        input[type="checkbox"]{
            + span{
                display: inline-block; 
                width:18px; 
                height:18px; 
                margin-right:10px; 
                position:absolute; 
                left:0; 
                @include border-radius(2px);
                background:$bg-white; 
                border:1px solid $border-color;
                font-family: 'LineAwesome'; 
                &:after{
                    content: "";
                    position:absolute;
                    display: none;
                    font-weight:$font-bold;
                }
            }
            &:checked + span{
                border:1px solid $border-primary;
                color: $color-primary;
                transition: all 0.3s;
                &:after{
                    content: "\f17b";
                    display: block;
                    top: 50%;
                    left: 50%;
                    -webkit-transform:translate(-50%,-50%);
                       -moz-transform:translate(-50%,-50%);
                        -ms-transform:translate(-50%,-50%);
                         -o-transform:translate(-50%,-50%);
                            transform:translate(-50%,-50%);
                }
            }
            &:disabled{
                opacity: 0.6;
                + span{
                    opacity: 0.6;
                }
            }
        }
        input[type="radio"]{
            + span{
                display: inline-block; 
                width:18px; 
                height:18px; 
                margin-right:10px; 
                position:absolute; 
                left:0; 
                @include border-radius(50%);
                background:$bg-white; 
                border:1px solid $border-color;
                &:after{
                    content: "";
                    position:absolute;
                    display: none;
                    font-weight:$font-bold;
                }
            }
            &:checked + span{
                border:1px solid $border-primary;
                color: $color-primary;
                transition: all 0.3s;
                &:after{
                    content: "";
                    display: block;
                    top: 50%;
                    width: 8px;
                    height: 8px;
                    background: $bg-primary;
                    @include border-radius(50%);
                    left: 50%;
                    -webkit-transform:translate(-50%,-50%);
                       -moz-transform:translate(-50%,-50%);
                        -ms-transform:translate(-50%,-50%);
                         -o-transform:translate(-50%,-50%);
                            transform:translate(-50%,-50%);
                }
            }
            &:disabled{
                opacity: 0.6;
                + span{
                    opacity: 0.6;
                }
            }
        }
    }
}
/*========End: Checkobox/Radio =====================*/
/*========Begin: Form Control ========================*/
label{
    font-weight: $font-medium;
}
.form-group{
    margin-bottom:20px;
}
textarea{
     resize: none;
}
.col-form-label{
    color: $color-gray;
}
input:focus::-webkit-input-placeholder {
    color:transparent;
}
/* WebKit browsers */
input:focus:-moz-placeholder {
    color:transparent;
}
/* Mozilla Firefox 4 to 18 */
input:focus::-moz-placeholder {
    color:transparent;
}
/* Mozilla Firefox 19+ */
input:focus:-ms-input-placeholder {
    color:transparent;
}
/* Internet Explorer 10+ */
input[type='file'] {
    opacity:0;
    display: none;
}
.form-control{
    font-family: $font-global;
    @include border-radius($border-radius);
    color: $color-body;
    line-height:1.429rem;
    padding: 0.5rem 1.071rem;
    border:1px solid $input-border-color;
    font-size: 1em;
    @include placeholder{
        color:$color-gray;
    }
    &.form-control-sm{
        padding:0.358rem 1.071rem;
        font-size: 0.875rem;
        line-height:1.35rem;
    }
    &.focus, &:focus {
        border-color:$border-primary;
        color:$color-primary;
        box-shadow: none;
        @include placeholder{
            color:$color-primary;
        }
    }
    &[readonly]{
        color: $color-gray;
    }
    &.line-input{
        border:none;
        border-bottom:1px solid $input-border-color;
        @include border-radius(0);
        padding:1rem 0;
        @include placeholder{
            color:$color-gray;
        }
        &.focus, &:focus {
            border-color:$border-primary;
            color:$color-primary;
            @include placeholder{
                color:$color-primary;
            }
        }
    }
}
.form-control-feedback{
    font-weight:$font-regular;
    font-size: .85rem;
}
.has-danger{
    color: $color-danger;
    .form-control{
        border:1px solid $color-danger;
    }
    .ng-select .ng-select-container{
        border:1px solid $color-danger;
    }
}
.outline-icon{
    position: relative;
    span.iconright{
        position: absolute;
        right: -15px;
        top: 9px;
        cursor: pointer;
        color: $color-primary;
        @include lg{
            right: -9px;
        }
        @include md {
            top:36px;
            right:-7px;
        }
    }
}
.input-group{
    .input-group-append , .input-group-prepend{
        >.input-group-text{
            border:1px solid $border-color;
            background: $bg-light;
            >i{
                color: $color-primary;
            }
        }
    }
}
/*========Begin: Loading Style================*/
.loading-bar-fixed{
    #loading-bar-spinner{
        color: $color-secondary !important;
        .spinner-icon{
            color: $color-secondary !important;
        }
    }
    #loading-bar{
        .bar{
            background: $bg-primary !important;
        }
    }
}
/*===DropDown==========*/
.dropdown-menu{
    border:1px solid $border-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    font-size: 1em;
    &.show{
        -webkit-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
        -moz-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
        -ms-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
        -o-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
        animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
    }
    .custom-checkbox{
        padding: 5px 13px;
        label{
            margin-right: 0;
            margin-bottom: 0;
            display: block;
        }
    }
    .dropdown-item{
        padding:10px 15px;
        border-bottom:1px solid $border-color;
        white-space: inherit;
        display: block;
        &:first-child{
            border-radius:4px 4px 0 0;
        }
        &:last-child{
            border-bottom: none;
        }
        &:focus,&:hover{
            color: $color-body;
            background:$bg-light;
        }
        &.active,&:active{
            color: $color-body;
            background: $bg-secondary;

        }
    } 
}
@-webkit-keyframes dropdown-fade-in {
from {
opacity: 0; }
to {
opacity: 1; } }

@-moz-keyframes dropdown-fade-in {
from {
opacity: 0; }
to {
opacity: 1; } }

@-o-keyframes dropdown-fade-in {
from {
opacity: 0; }
to {
opacity: 1; } }

@keyframes dropdown-fade-in {
from {
opacity: 0; }
to {
opacity: 1; } }
@-webkit-keyframes dropdown-move-up {
  from {
    margin-top: 10px; }
  to {
    margin-top: 0; } }

@-moz-keyframes dropdown-move-up {
  from {
    margin-top: 10px; }
  to {
    margin-top: 0; } }

@-o-keyframes dropdown-move-up {
  from {
    margin-top: 10px; }
  to {
    margin-top: 0; } }

@keyframes dropdown-move-up {
  from {
    margin-top: 10px; }
  to {
    margin-top: 0; } }
/*=========Begin: Modal ======================================*/
.modal-backdrop.show{
     opacity: 0.2;
}
.modal-open{
     overflow: hidden !important;
}

.modal{
    .modal-content{
        box-shadow: none;
        @include border-radius(0);
        border:none;
        .modal-header{
            padding: 30px;
            .modal-title{
                font-size: 1.286rem;
                color: $color-body;
                font-weight: $font-medium;
            }
            .close{
                color: $color-primary;
                opacity: 1;
            }
        }
        .modal-close{
            position: absolute;
            right:0;
            top:0;
            font-size: 1.4rem;
            padding: 8px;
            color:$color-primary;
            i{
                font-size: 1.4rem;
                &:hover{
                    color: darken($color-primary,10);
                }
            }
        }
        .modal-body{
            padding: 30px;
        }
        .modal-footer{
            padding: 30px;
        }
    }
    .modal-dialog{
        .edit-assetmodal , .defect-modal{
            .modal-header{
                 border-bottom: none;
                 padding-bottom: 0;
            }
        }
    }
}
/*=========Begin: DateRange ===========================*/
.daterangepicker{
    &.opensleft:before {
        position: absolute;
        top: -7px;
        right: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0,0,0,.2);
        content: '';
    }
    .daterangepicker_input{
        i{
            top:10px;
        }
    }
    .ranges{
        ul{
            li{
                color: $color-gray;
                font-size: 1rem;
                margin-bottom: 5px;
                &.active{
                    background: $bg-primary;
                    color: $color-white;
                    &:hover{
                        color:$color-white;
                    }
                }
                &:hover{
                    color: $color-gray;
                }
            }
        }
        .range_inputs{
            .btn{
                @include border-radius($border-radius);
                padding: 0.5rem 1.6rem;
            }
        }
    }
    tbody{
        td{
            &.in-range , &.active{
                background:$bg-primary;
                &:hover{
                    background: $bg-primary;
                }
            }
            &.today{
                background: $bg-primary;
            }
        }
    }
    select{
        &.monthselect,&.yearselect{
            width: 46%;
        }
    }
}
/*==========Begin: DataTables Style======================*/
.datatable-columnsorting{
    position: relative;
}
.datatable-filter{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.sort-column-outer{
    cursor: pointer;
    position: relative;
}


.table-columnfix{
    overflow: hidden;
    .colfixed{
        width: 168px;
        float: left;
    }
    .table-responsive{
        width: calc(100% - 168px);
    }
    .dataTables_wrapper{
        .dataTable{
            thead tr th{
                &:first-child{
                   padding-left: 15px !important;
                }
            }
            tbody tr td{
                white-space: nowrap;
                &:first-child{
                   padding-left: 15px;
                }
            }
            tr:nth-child(even){
                background: $body-bg;
            }
        }
    }
}

.dataTables_wrapper{
    .dataTables_info,.dataTables_length,.dataTables_filter,.dataTables_paginate{
        display: none;
    }
    .dataTable{
        margin-bottom: 0;
        thead{
            th{
                background-color: $bg-secondary;
                border: none;
                font-weight: $font-semibold;
                font-size: $font-size-base;
                padding: 14px 15px;
                line-height: 1.6;
                background-image: none;
                position: relative;
                cursor: pointer;
                white-space: nowrap;
                vertical-align: middle;
                &.thcursor{
                    pointer-events: none;
                }
                &:focus{
                    outline: 0;
                }
                .sort-column {
                    width: 20px;
                    position: relative;
                    text-align: center;
                    i{
                        color: $color-primary;
                        vertical-align: middle;
                        display: inline-block;
                        position: absolute;
                        font-size: 1.2rem;
                        &.la-arrows-v{
                            display: none;
                            color:$color-gray;
                            &.default{
                                display: inline-block;
                            }
                        }
                        &.la-arrow-down,&.la-arrow-up{
                            display: none;
                        }
                        &.sorted{
                            display: inline-block;
                        }
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    position: relative;
                    border:none;
                    vertical-align: middle;
                    .custom-checkbox{
                        vertical-align: top;
                        top:2px;
                        margin: 0;
                        label{
                            padding: 0;
                        }
                    }
                    .badge{
                        min-height:14px;
                        min-width: 14px;
                        line-height: 14px;
                    }
                    &.norecord-msg{
                        background: $body-bg;
                        text-align: center;
                    }
                    .switch-checkbox{
                        height: 36px;
                    }


                }
                &:nth-child(odd),&:hover{
                    background: $body-bg;
                }
            }
            /*Start Datatable Row details plugins css*/
            >tr.child{
                span.dtr-title{
                    font-weight: $font-semibold;
                    font-size: $font-size-base;
                    padding-right: 5px;
                }
                span.dtr-data{
                }
                ul.dtr-details{
                    display: block;
                    >li{
                        border-bottom: none;
                        padding: 0.357em 0;
                    }
                }
            }
            /*End Datatable Row details plugins css*/
        }
        tbody th, tbody td{
            padding: 14px 15px;
            line-height: 1.6;
            .datatable-icon-only{
                .la-edit{
                    color: $color-primary;
                }
                .la-trash{
                    color: $color-danger;
                }
            }
        }
        /*Start Datatable plugins css*/
        tr.even{
            background: $body-bg;
            &.parent + .child {
                 background: $body-bg;
            }
        }
        &.hover,&.display{
            tbody tr:hover{
                background-color: $body-bg;
            }
        }
        &.no-footer{
            border:none;
        }
        &.dtr-inline.collapsed > tbody{
            tr{
                td.child{
                    padding-top: 4px;
                }
            }
            >tr[role="row"]{
                >td:first-child:before,>th:first-child:before{
                    content: "\f0da";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    border:none;
                    box-shadow: none;
                    background: none;
                    color: $color-primary;
                    top: 50%;
                    margin-top: -8px;
                    left: 12px;
                    font-size: 1.2rem;
                    width: auto;
                    height: auto;
                }
            }
            tr.parent{
                >td:first-child:before,>th:first-child:before{
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
        }
        /*End Datatable plugins css*/
    }
}
/*===Begin: Pagination============================*/
.pagination{
    display: inline-block;
    @include border-radius($border-radius);
    margin-bottom: 0;
    li{
        float: left;
        vertical-align: top;
        &.page-item.active {
            .page-link{
                background: none;
                color: $color-primary;
                border-color:$input-border-color;
                font-weight: $font-medium;
            }
        }
        .page-link{
            border: none;
            color: $color-body;
            font-size: $font-size-base;
            padding: 0.608rem 0.75rem;
            min-width: 36px;
            border:1px solid $input-border-color;
            margin-left: -1px;
            display: inline-block;
            text-align: center;
            &:hover{
                background:none;
                color: $color-primary;
            }
            &:focus{
                outline: 0;
                box-shadow: none;
            }
        }
        &.page-item{
            &.disabled{
                .page-link{
                    cursor: not-allowed;
                    color: $color-gray;
                    pointer-events: inherit;
                }
            }
            &:first-child{
                .page-link{
                    border-top-left-radius:4px;
                    border-bottom-left-radius:4px;
                }
            }
            &:last-child{
                .page-link{
                    border-top-right-radius:4px;
                    border-bottom-right-radius:4px;
                }
            }
        }
    }
}
.custom-pagination{
    margin-top: 20px;
    .datatable-pagesize{
        @include md{
            margin-bottom:15px;    
        }
        .ng-select{
            width: 100px;
            display: inline-block;
            text-align: left;
        }
        span.item-text{
            margin-left: 10px;
            display: inline-block;
            vertical-align: top;
            line-height:36px;
        }
    } 
}
/*===table Multiple Style================*/
table{
    &.table{
        tbody th, tbody td{
            padding: 14px 15px;
            line-height: 1.6;
        }
        &.col-table{
            thead th{
                vertical-align:middle;
                background-color: $bg-secondary;
                text-transform: uppercase;
            }
             tbody td{
                 padding: 14px 15px;
                 line-height: 1.6;
                 vertical-align:middle;
                 &.table-col1{
                     width: 25%;
                     background-color: $bg-secondary;
                     font-weight: $font-semibold;
                     font-size: $font-size-base;
                     text-transform: uppercase;
                     span{
                         text-transform: capitalize;
                         font-size: 0.95rem;
                         padding-left: 4px;
                         display: inline-block;
                    }
                }
                 &.table-col2{
                     width: 24%;
                }
                 span{
                     display: block;
                }
            }
        }
    }
    /*===Small table===*/
    &.sm-table{
         tbody th, tbody td{
             padding:5px 10px 5px 0;
             line-height: 1.3;
             border:none;
             &:first-child{
                 color:$color-gray;
            }
        }
         @include md{
             margin: 0 auto;
        }
    }
}
/*=========================Begin: Angular Selectbox and Multiselect Style===========================*/
.ng-select{
    &.ng-select-single{
        .ng-select-container{
            .ng-value-container{
                .ng-input {
                    padding-left: 1.071rem;
                    top: 6px;
                }
            }
        }
    }
    &.ng-select-disabled{
        .ng-arrow-wrapper{
            background: #f9f9f9;
        }
    }
    &.ng-select-opened{
        >.ng-select-container{
            border:1px solid $border-primary;
            @include border-radius($border-radius);
            .ng-arrow{
                top: 2px;
                border-color: transparent;
                border-width: 0;
            }
        }
        &.ng-select-top{
            >.ng-select-container{
                @include border-radius($border-radius);
            }
        }
        &.ng-select-bottom{
            >.ng-select-container{
                 @include border-radius($border-radius);
            }
        }
    }
    .ng-select-container {
        border:1px solid $input-border-color;
        color: $color-body;
        &:hover{
             box-shadow:none;
        }
        .ng-value-container{
            padding-left: 1.071rem;
            padding-right: 1.071rem;
            .ng-placeholder{
                color: $color-gray;
            }
        }
    }
    .ng-arrow-wrapper{
        background:$bg-white;
        z-index: 1;
        .ng-arrow{
            width: 6px !important;
            height: 14px !important;
            top: 2px;
            border:none;
            &:after{
                width: 0;
                height: 0;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                border-top: 6px solid $border-primary;
                content:"";
                right: 0;
                bottom:0;
                position: absolute;
            }
            &:before{
                width: 0;
                height: 0;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                border-bottom: 6px solid $border-primary;
                content:"";
                position: absolute;
                right:0;
                top:0;
            }
        }
    }
    .ng-dropdown-panel{
        @include box-shadow();
        border:none;
        z-index: 1001;
        &.ng-select-bottom{
            margin-top: 0;
            @include border-radius($border-radius);
        }
        &.ng-select-top{
            margin-bottom: 0;
            @include border-radius($border-radius);
        }
        .ng-dropdown-panel-items{
            .ng-option{
                white-space: inherit;
                padding: 8px 1.071rem;
                position: relative;
                &.ng-option-marked,&.ng-option-selected{
                    background: $dropdown-hover;
                    color: $color-body;
                    .ng-option-label{
                        font-weight: $font-regular;
                    }
                }
            }
        }
    }
    .ng-clear-wrapper{
        width: 12px !important;
        color: $color-body;
        z-index: 1;
        background: $bg-white;
        .ng-clear{
            line-height: 1.3 !important;
            color: $color-primary;
            &:hover{
                color: $color-danger;
            }
        }
    }
    &.ng-select-focused:not(.ng-select-opened){
        .ng-select-container{
            box-shadow: none;
            border:1px solid $border-primary;
        }
    }
    &.ng-select-focused .ng-placeholder{
        display: none;
    }
    &:focus{
        outline: 0;
        @include border-radius($border-radius);
    }
    &.ng-select-multiple{
        .ng-select-container{
            .ng-value-container{
                .ng-placeholder{
                    top:7px;
                }
                .ng-value{
                    border:1px solid $border-primary;
                    background: $bg-secondary;
                    white-space: inherit !important;
                    position: relative;
                    .ng-value-icon{
                        &.left{
                            border-right: 1px solid $border-primary;
                            position: absolute;
                            height: 100%;
                        }
                        &:hover{
                            background: darken($btn-secondary,10);
                            border-right: 1px solid $border-primary;
                            color: $color-primary;
                        }
                    }
                    .ng-value-label{
                        padding: 0px 5px 0px 22px;
                    }
                }
            }
        }
    }
    &.ng-select-sm{
        &.ng-select-single{
            .ng-select-container{
                min-height: 30px;
                height: 30px;
                .ng-value-container{
                    .ng-value{
                        font-size: 0.875rem;
                    }
                    .ng-input{
                        top: inherit;
                    }
                }
            }
        }
        &.ng-select-multiple{
            .ng-select-container{
                .ng-value-container{
                    padding-top: 3px;
                    padding-left: 1.071rem;
                    .ng-placeholder{
                        top:5px;
                        padding-left: 0;
                    }
                    .ng-value{
                        margin-bottom: 3px;
                    }
                    .ng-input{
                        padding-left: 0;
                    }
                }
            }
        }
        .ng-select-container{
             min-height: 30px;
        }
        .ng-value-container{
            .ng-placeholder{
                top: 5px;
                font-size: 0.875rem;
            }
            .ng-input>input{
                font-size: 0.875rem;
            }
        }
        .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
            padding: 6px 1.071rem;
            font-size: 0.875rem;
        }
    }
    .action-select-dropdown{
        color: $color-danger;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -9px;
        i{
            color: $color-danger;
        }
    }
    .fielddelete{
         padding-right: 15px;
    }
}

/*======Begin: Angular Bootstrap datepicker==============*/
.bs-datepicker{
    @include box-shadow();
    @include border-radius($border-radius);
    .bs-datepicker-container{
        @include sm{
            padding: 10px;
            .bs-datepicker-body{
                min-height: 190px;
                min-width: 250px;
                table{
                    td{
                        &:before,span:before{
                            top:2px;
                            bottom: 2px;
                        }
                    }
                    &.days{
                        span{
                            width: 24px;
                            height: 24px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        .bs-datepicker-head{
            background: $bg-primary;
        }
        .bs-datepicker-body {
            table{
                th{
                    color: $color-primary;
                }
                td{
                    color: $color-gray;
                    &.week{
                        span{
                            color: $color-primary;
                        }
                    }
                    span{
                        &.selected{
                            background: $bg-primary;
                        }
                    }
                }
            }
        }
    }
}
/*====Begin: Custom Scroll bar==================*/
.mCSB_inside > .mCSB_container{
    margin-right: 0;
}
.horizontalScroll{
    .mCSB_horizontal{
         .mCSB_container{
             margin-bottom: 8px;
        }
    }
    .mCSB_scrollTools{
        &.mCSB_scrollTools_horizontal{
            .mCSB_dragger{
                .mCSB_dragger_bar{
                    height:4px;
                    background:$bg-gray;
                }
            }
            .mCSB_draggerRail{
                background-color: rgba(0,0,0,0.1);
                height: 4px;
            }
        }
    }
}
.verticalScroll{
    .mCSB_scrollTools{
        .mCSB_dragger{
            .mCSB_dragger_bar{
                width:4px;
                background:$bg-gray;
            }
        }
        .mCSB_draggerRail{
            background-color: rgba(0,0,0,0.1);
            width: 4px;
        }
    }
}
.darkScroll{
    .mCSB_scrollTools{
        .mCSB_dragger{
            .mCSB_dragger_bar{
                width:4px;
                background:#000;
            }
        }
        .mCSB_draggerRail{
            background-color: rgba(0,0,0,0.4);
            width: 4px;
        }
    }
}
.maxscroll{
    max-height: 250px;
    overflow-y: auto;
}
/*============Begin: CK Editor Style=====================*/
.ckeditor{
    .cke_chrome{
        @include border-radius(4px);
        border:1px solid $border-color;
        box-shadow: none;
        color:$color-body;
        .cke_top{
            border-bottom: 1px solid $input-border-color;
            box-shadow:none;
            background:#f7f8fa;
            background-image:none;
        }
        .cke_bottom{
            box-shadow:none;
            background:#f7f8fa;
            background-image:none;
            border-top: 1px solid $input-border-color;
        }
        .cke_resizer{
            border-color: transparent $color-gray transparent transparent;
        }
        .cke_toolgroup{
            background: $bg-white;
            border: 1px solid $input-border-color;
            @include border-radius(4px);
            box-shadow:none;
            background-image:none;
            padding-right: 0;
        }
        a.cke_combo_button{
            background: $bg-white !important;
            border: 1px solid $input-border-color !important;
            border-radius: 4px !important;
            box-shadow:none !important;
            background-image:none !important;
            padding: 1px !important;
            margin: 0 !important;
        }
        a.cke_button_off, a.cke_button_disabled{
            &:hover,&:focus,&:active{
                background: $bg-light;
                border:1px solid transparent;
                box-shadow: none;
            }
        }
        a.cke_button_disabled{
            &:hover,&:focus,&:active{
                background: $bg-light;
                border:none;
                box-shadow: none;
            }
        }
        .cke_combo_off{
            a.cke_combo_button{
                &:hover,&:focus{
                    background: $bg-light !important;
                    padding: 1px !important;
                    margin: 0 !important;
                }
                 &:active{
                    background: $bg-light !important;
                    box-shadow: none;
                    border: 1px solid $input-border-color !important;
                    padding: 1px !important;
                    margin: 0 !important;
                }
            }
        }
        .cke_button_on{
            a.cke_combo_button{
                &:hover,&:focus{
                    background: $bg-light !important;
                    margin: 0 !important;
                }
                 &:active{
                    background: $bg-light !important;
                    box-shadow: none;
                    border: 1px solid $input-border-color !important;
                    margin: 0 !important;
                }
            }
        }
         .cke_combo_on{
            a.cke_combo_button{
                background: $bg-light !important;
                &:hover,&:focus{
                    background: $bg-light !important;
                    padding: 1px !important;
                    margin: 0 !important;
                }
                &:active{
                    background: $bg-light !important;
                    box-shadow: none;
                    border: 1px solid $input-border-color !important;
                    padding: 1px !important;
                    margin: 0 !important;
                }
            }
        }
        a.cke_button_on{
            background: $bg-light !important;
            box-shadow: none;
            border: 1px solid $input-border-color !important;
        }
        .cke_combo_text{
            text-shadow: none;
            color: $color-gray;
        }
        .cke_toolbar_separator{
            box-shadow: none;
            background-color: $border-color;
        }
        .cke_toolbar{
            .cke_combo{
                margin-right: 5px;
            }
        }
    }
}
.cke_panel.cke_combopanel{
    @include box-shadow(0, 0, 10px, 0, rgba(0,0,0,0.1), $inset: false);
    @include border-radius(4px);
    border:none;
    outline: 0;
}
.cke_panel_grouptitle{
    color: $color-body;
    background: $dropdown-hover;
}
.cke_panel_list{
    margin: 0;
    li{
        a{
            background: $bg-white;
            color: $color-gray;
            font-size: 1rem;
            font-family: $font-global;
            &:hover{
                background: $dropdown-hover;
                color: $color-body;
                box-shadow: none;
            }
        }
    }
}
.cke_dialog_background_cover{
    background: rgba(0,0,0,0.2) !important;
}
.cke_dialog_body{
    background: $bg-white !important;
    border-radius: 0 !important;
    border:none !important;
    box-shadow: none !important;
}
.cke_dialog_title,.cke_dialog_footer{
    border-bottom: none !important;
    box-shadow:none !important;
    background:none !important;
    background-image:none !important;
    font-size: 1rem !important;
    color: $color-body !important;
    text-shadow: none !important;
    padding: 10px 15px !important;
    outline: 0 !important;
}
.cke_dialog_ui_labeled_label{
    color: $color-gray !important;
    font-family: $font-global !important;
    font-size: 1rem !important;
    font-weight: $font-medium !important;
}
input.cke_dialog_ui_input_text,select.cke_dialog_ui_input_select{
    font-family: $font-global !important;
    border-radius: 4px !important;
    color: $color-body !important;
    line-height:1.429rem !important;
    padding: 0.5rem 1.071rem !important;
    border:1px solid $input-border-color !important;
}
select.cke_dialog_ui_input_select{
    height: auto !important;
}
.cke_resizer{
    border-color: transparent $color-gray transparent transparent !important;
}
 a.cke_dialog_ui_button{
    font-weight:$font-regular !important;
    font-family: $font-global !important;
    cursor: pointer !important;
    box-shadow: none !important;
    border-radius: 4px !important;
    &:focus, &.focus {
        outline: 0;
        box-shadow: none;
    }
    &.disabled, &:disabled {
        opacity: .6;
    }
    &:active, &.active {
        background-image: none;
        box-shadow: none;
    }
    &.cke_dialog_ui_button_ok{
        background: $btn-primary !important;
        color: $color-white !important;
        border-color: $border-primary !important;
        &:focus, &:hover, &:active , &:active, &.active, .show > &.dropdown-toggle {
            background: darken($btn-primary,10) !important;
            border-color: darken($btn-primary,10) !important;
        }
    }
    &.cke_dialog_ui_button_cancel{
        background: $btn-secondary !important;
        color: $color-primary !important;
        border-color: $btn-secondary !important;
        &:focus, &:hover, &:active , &:active, &.active, .show > &.dropdown-toggle {
            background: darken($btn-secondary,10) !important;
            border-color: darken($btn-secondary,10) !important;
        }
    }
}
.cke_toolgroup a.cke_button:last-child:after, .cke_toolgroup a.cke_button.cke_button_disabled:hover:last-child:after,.cke_combo:after{
    display: none;
}
/*=====Tinymce Editor Style===*/
.tinyeditor{
    .mce-panel{
        border:1px solid $border-color;
        @include border-radius($border-radius);
        background: $dropdown-hover;

        .mce-menubar{
            border:none;
        }
        .mce-last{
            border:none;
        }
        .mce-btn-group:not(:first-child){
            border:none;
        }
        .mce-btn{
            border:1px solid $border-color;
            background: $bg-white;
            border-radius: 4px;
        }
        .mce-btn.mce-disabled button, .mce-btn.mce-disabled:hover button{
            background: #f4f5f8;
            border: 1px solid transparent;
            box-shadow: none;
        }
    }    
}

/*======Sweet Alert Style ==============*/
html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), 
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){
    height: 100% !important;
}
.swal2-container{
    .swal2-popup{
        padding: 30px;
        font-size: 1em;
        .swal2-title{
            color: $color-body;
            font-size: 1.5em;
            line-height: 1.3;
            font-weight: $font-medium;
        }
        .swal2-content{
            font-size: 1em;
            color: $color-body;
            font-weight: $font-regular;
        }
        .swal2-input,.swal2-file,.swal2-textarea{
            font-family: $font-global;
            @include border-radius($border-radius);
            color: $color-body;
            line-height:1.429rem;
            padding: 0.5rem 1.071rem;
            border:1px solid $input-border-color;
            font-size: 1em;
            box-shadow: none;
            @include placeholder{
                color:$color-gray;
            }
            &.focus, &:focus {
                border-color:$border-primary;
                color:$color-primary;
                box-shadow: none;
                @include placeholder{
                    color:$color-primary;
                }
            } 
            &.swal2-inputerror{
                border-color:$border-danger !important;
                color:$color-danger!important;
                box-shadow: none!important;
                @include placeholder{
                    color:$color-danger;
                }
            }
            &[readonly]{
                color: $color-gray;
            }
        }
        .swal2-actions{
            margin-top: 10px;
            .btn{
                margin:0 5px;
            }
        }
    }    
}

/*==============Print CSS============*/
@media print{
    body,html,.m-body .m-content{
        background: #f3f8f8;
        -webkit-print-color-adjust: exact;
    }
}
/*============BootStarp 4 Order CSS*/
.order1{order:1;}
.order2{order:2;}
.order3{order:3;}
.order4{order:4;}
.order5{order:5;}
.order6{order:6;}
.order7{order:7;}
.order8{order:8;}
.order9{order:9;}
.order10{order:10;}
.order11{order:11;}
.order12{order:12;}
.order13{order:13;}
.order14{order:14;}
.order15{order:15;}
/*=======Range Slider Css=========*/
.irs-with-grid{
    height: 50px;
    .irs{
        height: 34px;
    }
}
.irs-grid{
    height: 15px;
}
 .irs-bar {
    background:$bg-primary;
}
.irs-slider{
    width: 12px;
    height: 12px;
    top: 23px;
    &.from{
         background:$bg-primary;
         border-radius: 50%;
    }
     &.to{
         background:$bg-primary;
         border-radius: 50%;
    }
}
.irs-from, .irs-to, .irs-single{
     background: $bg-primary;
     &:after{
         border-top-color:$border-primary;
    }
}

.irs-line,.irs-line-left,.irs-line-mid,.irs-line-right,.irs-bar{height: 8px;}
.irs-line-left, .irs-line-right{
    border-radius: 4px;
    background: #e1e4e9;
}   
/*===Full calendar==*/
.fc-unthemed{
    .fc-toolbar{
        h2{
            margin-top: 0;
        }
    }
    td.fc-today{
        background: #f6f5fc;
    }
    .fc-view, .fc-view > table{
        color: $color-gray;
    }
    .fc-day-grid-event .fc-content,.fc-time-grid-event .fc-time{
        white-space: inherit;
    }
    .fc-popover{
        .fc-header {
            background: #fff;
            border-bottom: 1px solid #f7f8fa;
            .fc-close{
                color: #cfcedb;
                &:hover{
                    color:#a4a2bb;
                }
            }
        }
        
    } 
    a.fc-more{
        color:$color-gray;
    }
}
.fc-unthemed .fc-event .fc-title, .fc-unthemed .fc-event-dot .fc-title{
    color: $color-white;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{
   border-color:$border-color;
}
.fc-unthemed th.fc-day-header > a, .fc-unthemed th.fc-day-header > span{ color: $color-gray; }
.fc-unthemed .fc-event.fc-not-start.fc-end.m-fc-event--solid-primary,
.fc-unthemed .fc-event.fc-not-start.fc-not-end.m-fc-event--solid-primary, 
.fc-unthemed .fc-event.fc-start.m-fc-event--solid-primary,
.fc-unthemed .fc-event-dot.fc-not-start.fc-end.m-fc-event--solid-primary,
.fc-unthemed .fc-event-dot.fc-not-start.fc-not-end.m-fc-event--solid-primary,
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--solid-primary {
    background: $bg-primary;}
.fc-unthemed .fc-event.fc-start.m-fc-event--primary .fc-content:before, 
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--primary .fc-content:before{
    background: $bg-primary;}

.fc-unthemed .fc-event.fc-not-start.fc-end.m-fc-event--solid-warning, 
.fc-unthemed .fc-event.fc-not-start.fc-not-end.m-fc-event--solid-warning, 
.fc-unthemed .fc-event.fc-start.m-fc-event--solid-warning, 
.fc-unthemed .fc-event-dot.fc-not-start.fc-end.m-fc-event--solid-warning, 
.fc-unthemed .fc-event-dot.fc-not-start.fc-not-end.m-fc-event--solid-warning, 
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--solid-warning{
    background: $bg-warning;}
.fc-unthemed .fc-event.fc-start.m-fc-event--warning .fc-content:before,
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--warning .fc-content:before {
  background: $bg-warning; }

.fc-unthemed .fc-event.fc-not-start.fc-end.m-fc-event--solid-danger, 
.fc-unthemed .fc-event.fc-not-start.fc-not-end.m-fc-event--solid-danger, 
.fc-unthemed .fc-event.fc-start.m-fc-event--solid-danger, 
.fc-unthemed .fc-event-dot.fc-not-start.fc-end.m-fc-event--solid-danger, 
.fc-unthemed .fc-event-dot.fc-not-start.fc-not-end.m-fc-event--solid-danger, 
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--solid-danger{
    background: $bg-danger;}
.fc-unthemed .fc-event.fc-start.m-fc-event--danger .fc-content:before, 
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--danger .fc-content:before{
    background: $bg-danger;}

.fc-unthemed .fc-event.fc-not-start.fc-end.m-fc-event--solid-success, 
.fc-unthemed .fc-event.fc-not-start.fc-not-end.m-fc-event--solid-success, 
.fc-unthemed .fc-event.fc-start.m-fc-event--solid-success,
.fc-unthemed .fc-event-dot.fc-not-start.fc-end.m-fc-event--solid-success,
.fc-unthemed .fc-event-dot.fc-not-start.fc-not-end.m-fc-event--solid-success,
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--solid-success {
  background: $bg-success; }
.fc-unthemed .fc-event.fc-start.m-fc-event--success .fc-content:before,
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--success .fc-content:before {
  background: $bg-success; }

.fc-unthemed .fc-event.fc-start.m-fc-event--info .fc-content:before,
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--info .fc-content:before {
  background: $bg-info; }

.fc-unthemed .fc-event.fc-not-start.fc-end.m-fc-event--solid-info, .fc-unthemed .fc-event.fc-not-start.fc-not-end.m-fc-event--solid-info, .fc-unthemed .fc-event.fc-start.m-fc-event--solid-info,
.fc-unthemed .fc-event-dot.fc-not-start.fc-end.m-fc-event--solid-info,
.fc-unthemed .fc-event-dot.fc-not-start.fc-not-end.m-fc-event--solid-info,
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--solid-info {
  background: $bg-info; }

.fc-unthemed .fc-event.fc-start.m-fc-event--focus .fc-content:before,
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--focus .fc-content:before {
  background: #9816f4; }

.fc-unthemed .fc-event.fc-not-start.fc-end.m-fc-event--solid-focus, .fc-unthemed .fc-event.fc-not-start.fc-not-end.m-fc-event--solid-focus, .fc-unthemed .fc-event.fc-start.m-fc-event--solid-focus,
.fc-unthemed .fc-event-dot.fc-not-start.fc-end.m-fc-event--solid-focus,
.fc-unthemed .fc-event-dot.fc-not-start.fc-not-end.m-fc-event--solid-focus,
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--solid-focus {
  background: #9816f4; }  
.fc-unthemed .fc-event.fc-start.m-fc-event--light .fc-content:before,
.fc-unthemed .fc-event-dot.fc-start.m-fc-event--light .fc-content:before {
  background: #ffffff; }
.fc .fc-row .fc-content-skeleton table tr.tradd td{
    padding: 15px; 
    background: $bg-white;
    @include box-shadow();
    border:1px solid $border-color;
    a{
        color: $color-body;
    }
}
/*===Custom Accordion===*/
.custom-accordion{
    &.has-danger-active{
        margin-top: 0.2rem;
        font-size: 0.85rem;
        color: $color-danger;
    }
    .panel{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom:0;
        }
        &.active{
            .card{
                border:1px solid $border-primary;
                .card-header{
                    background:$bg-primary;
                }
                .panel-title{
                    h5{
                        color: $color-white;
                    }
                }    
            }
            
        }
        &.has-danger-accordion{
            .card{
                border:1px solid $border-danger;
                .card-header{
                    background:$bg-danger;
                }
                .panel-title{
                    h5{
                        color: $color-white;
                    }
                }    
            }
        }
    }
    .card-body{
        padding: 1rem;
        padding-bottom: 0;
    }
    .card{
        @include border-radius(4px); 
        border:1px solid $border-color;
        .card-header{
            border-bottom: none;
            padding: 0.715rem 1rem;
            background: $bg-white;
            overflow: hidden;
            transition: all 0.3s;
            cursor: pointer;
            &:hover{
                background: $bg-light;    
            }
        }
        
    }    
    .panel-title{
        h5{
            font-size: 1rem;
            margin: 0;
            padding-right: 30px;
            position: relative;
            font-weight: $font-light;
            line-height: 1;
            display: flex;
            align-items: center;
            color: $color-gray;
            i{
                margin-right: 4px;
            }
            span{
                font-family: "LineAwesome";
                font-size: 1.3rem;
                position: absolute;
                right: 0;
                &:after{
                    content: "\f2c2";
                }
            }
        }
    }
    .panel-open{
        
        .card-header{
            background: $bg-light;
        }
        .panel-title{
            h5{
                span{
                    &:after{
                        content: "\f28e";
                    }
                }
            }
        }
        .collapse{
            transition: height 0.35s ease;
        }
    }
}
/*===owl-carousel===*/
.owl-carousel{
    &.owl-theme{
        .owl-item{
            img{width: auto; display: inline-block;}
        } 
        .owl-nav{
            position: absolute;
            margin-top: 0;
            top: -67px;
            right: -11px;
            button{
                &.owl-next{
                    color: $color-white;
                }
                &.owl-prev{
                    color: $color-white;
                }
            }
        }
        .owl-dots {
            counter-reset: slides-num; /* Initialize counter. */ 
            position: absolute;
            top: -62px;
            left: -10px;
            margin-top:0;

            &:after {
                content: counter(slides-num);
                display: inline-block;
                font-size: 1.286rem;
                /*font-weight: 700;*/
                vertical-align: middle;
                padding-left: 5px;
                color:$color-white;
            }
            .owl-dot {
                display: inline-block;
                counter-increment: slides-num;
                margin-right:0;
                font-size: 1.286rem;
                color:$color-white;
                cursor: default;
                span {
                    display: none;
                }
                &.active {
                    width: 30px;
                    position: relative;
                    &:before {
                        content:  counter(slides-num);
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 1.286rem;
                    }
                    &:after {
                        content: "/";
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 1.286rem;
                        position: absolute;
                        right: -1px;
                        top: 1px;
                    }
                }
            }
        }
    }    
}
.owl-theme .owl-nav [class*=owl-]{
    margin: 3px;
    &:hover{
        background: none;
    }
}


/*===========Begin: Login page=======================*/
.loginpage{
    background:$bg-white;
    height: 100%;
    .login-order{
        padding:40px;
        background:$bg-white;
        @include md{
            order: 13;
            display: flex;
            flex-direction: column;
            padding:30px;
        }
    }
    .login-overly{
        padding:40px;
        color: $color-white;
        @include x-linear-gradient(225deg, $fallback, $from, $to);
        @include md{
            display: flex;
            flex-direction: column;
            padding:30px;
        }
        h2{
            color: $color-white;
        }
    }
    .login-logo{
        margin-bottom: 30px;
        text-align: center;
        img{
            max-width:300px;
        }
    }
    .form-outer{
        max-width: 400px;
        margin:0 auto;
    }
    .forgotlink{
        text-align: right;
        @include xs{
            text-align: left;
        }
    }
    .form-center{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        h4{
            margin-bottom: 30px;
        }
    }
}
/*===Page Wrap===*/
.page-wrap {
    min-height: 100%;
    margin-bottom: -60px;
    &:after{
        content: "";
        display: block;
        height: 60px;       
    }
}
.page-footer{
    height: 60px;
    margin-left: 250px;
    box-shadow: -2px -8px 41px -14px rgba(202, 210, 222, 0.61);
    background: $bg-white;
    padding: 0 15px;
    display: flex;
    align-items: center;
    @include md{
        margin-left: 0;
    }
}
.admin-wrapper{
   /* display: flex; 
    flex-direction: row;*/
    position: relative;
    padding-top:70px;
    padding-left: 250px;
   /* -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;*/
    @include md{
        padding-left: 0;
    }
    .admin-aside-left{
        width:250px;
        flex: 0 0 auto;
        background: $bg-dark; 
        border-right:1px solid rgba(61,61,61,0.1);
        height: calc(100vh - 70px); 
        padding:0; 
        position: fixed;
        overflow-y: auto;
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
         z-index: 1041;
        @include md{
            left: -260px;
        }
        .m-aside-left-close{
            display: none;
        }
    }
    .admin-content-wrapper{}
}
.header{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1042;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background: $bg-white;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    @include md{
        background: $bg-dark;
    }
}
.header-stack{
    display: flex;
    height: 100%;
    .header-brand{
        width: 250px;
        background: $bg-dark;
        display: flex;
        padding: 0 20px;
        @include md{
            width: 100%;
        }
        .header-brand-inner{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .brand-logo{
                max-width: 50px;
                @include md{
                    img{
                        max-height: 40px;
                    }
                }
            }
            .brand-tools{
                display: table-cell;
                vertical-align: middle;
                text-align: right;
                a{
                    font-size: 30px;
                    color: $color-primary;
                }
            }
        }
    } 
    .header-right{
        width: calc(100% - 250px);
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        @include md{
        display: none;
        }
        .header-menu{
            width: auto;
            display: table;
            height: 100%;
            float: left;
        }
        .header-topbar{
            display: flex;
            width: auto;
            height: 100%;
            padding: 0;
            -webkit-transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -ms-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            transition: all 0.6s ease;
            
        }
    }   
}
.topbar-nav{
    margin: 0 20px 0 30px;
    display: inline-block;
    width: auto;
    height: 100%;
    li{
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        a{
            display: flex;
            height: 100%;
            align-items: center;
            &.dropdown-toggle{
                i{
                    font-size:30px;
                    &:before{
                        @include x-linear-gradient(225deg, $fallback, $from, $to);
                        background-clip: text;
                        text-fill-color: transparent;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;    
                    }
                }
                &:after{
                    display: none;
                }
                span{
                    position: relative;
                    animation-duration: 3s;
                    animation-delay: 2s;
                    animation-iteration-count: infinite;
                    .badge{
                        border-radius: 50%;
                        right: -6px;
                        padding: 4px 6px;
                        top: -6px;
                        position: absolute;
                    }
                }
            }
        }
        &.profile-dropdown{
            margin-left: 10px;
        }
    }
}
.user-info{
    display: table; 
    position: relative;
    .user-pic{
        width: 46px; 
        height: 46px; 
        display: inline-block; 
        vertical-align: top; 
        border-radius: 50%; 
        overflow: hidden;
        border: 1px solid #e5e5e5;        
    }
}
/*==================Start AsideLeft Panel Collepse Css===*/
.asideleft-minimize{
    @include mdUp{
        .admin-wrapper{
            padding-left: 70px;
           /* -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;*/
            .admin-aside-left{
                width: 70px;
                position: absolute;
                height: 100%;
                overflow-y: inherit;
                .mCustomScrollBox,.mCSB_container{
                    overflow: inherit;
                }
                .sidebar{
                    li{
                        &.nav-item{
                            position: relative;
                            &:hover{
                                .nav__submenu{
                                    display:block;
                                    -webkit-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
                                    -moz-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
                                    -ms-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
                                    -o-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
                                    animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
                                }
                            }
                            .nav__submenu{
                                position: absolute;
                                left: 70px;
                                width: 250px;
                                background:$bg-dark;
                                border-radius:0  4px 4px 0;
                                top: 0;
                                display: none;
                                .nav__subnav{
                                    li{
                                        .nav-link-icon{
                                            width: 30px;
                                        }
                                        .nav-link-text{
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
        .sidebar li .nav-link{
            .nav-link-text,.nav-link-arrow{
                display: none;    
            }
            .nav-link-icon{
                width: auto;
                text-align: center;
            }
            &:hover{
                + .nav__submenu{
                    display: block;
                }
            }
        }
        .header-brand{
            width: 70px;
            .header-brand-inner{
                justify-content: center;
            }
            .brand-logo{
                display: none;
            }    
        }
        .header-right{
            width: calc(100% - 70px);
        } 
        .page-footer{
            margin-left: 70px;
        }
    }
}
/*==================End AsideLeft Panel Collepse Css===*/
/*==================Start less than 992 Panel  Css===*/
.asideleft-on{
    @include md {
        .admin-aside-left{
            top: 0;
            -webkit-transition: all 0.8s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            left: 0;
            z-index: 1041;
            height: 100vh;
            padding-top: 40px;

        .m-aside-left-close{
            left:225px;
            width: 24px;
            height: 24px;
            border-radius: 3px;
            top:5px;
            background: $bg-primary;
            position: fixed;
            border: none;
            color:$color-white;
            display: block;
        }
        }
        .m-aside-left-overlay{
        display: block;
        }  
    }
    
}
/*==================End less than 992 Panel  Css===*/
.m-aside-left-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1040;
    background: rgba(0, 0, 0, 0.1);
    display: none;
    @include mdUp{
        display: none;
    }
}
/*===Left SideBar====*/
.sidebar{
    margin:0;
    padding: 0;
    list-style: none;
    li{
        &.nav-item{
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            display: block;
             &.active{
                .nav-link-arrow{
                    &:before{
                        transform: rotate(90deg);
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -ms-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }   
                }
                .nav__submenu{
                    display: block;
                }
            }
        } 
        .nav-link{
            color: $color-secondary;
            padding: 10px 20px;
            
            width:100%;
            display: table;
            table-layout: fixed;
            position: relative;
            .nav-link-icon{
                width: 30px;
                text-align: left;
                font-size: 1.4em;
                display: table-cell;
                height: 100%;
                vertical-align: middle;
            }
            .nav-link-text{
                font-size: 0.85em;
                font-weight:$font-medium;
                display: table-cell;
                height: 100%;
                width: 100%;
                vertical-align: middle;
            }
            .nav-link-arrow{
                width: 20px;
                text-align: right;
                font-size: 0.85em;
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                &:before{
                    transform: rotate(0deg);
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    display: inline-block;
                }
            }
        }
        &:hover,&.active{
            background: rgba(255, 255, 255, 0.05);
        }
        .nav__submenu{
            display: none;
            float: none;
            margin: 0;
            padding: 0;
            list-style: none;
            .nav__subnav{
                padding:0;
                margin: 0;
                .nav-item{
                    border-bottom: none;
                    .nav-link{
                        color: $color-gray;
                    }
                }
            }
        }
        
    }
}
/*====Breadcrumbs - Page Title Section - QuickLink*/
.m-subheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 30px 0;
    .m-subheader_left,.m-subheader_right{
        @include md{
            width: 100%;
        }
    }
    .m-subheader_right{
        .btn{margin-left:5px;}
    }
    .m-subheader__title{
        display: inline-block;
        padding: 7px 25px 7px 0;
        font-size: 1.5em;
        font-weight: 500;
        vertical-align: middle;
        margin: 0 15px 0 0;
        color: #3f4047;
        border-right: 1px solid #e2e5ec;
    }
    .m-subheader__breadcrumbs{
        display: inline-block;
        width: auto;
        height: 100%;
        li{
            display: inline-block;
            vertical-align: middle;
            &.m-nav__item{
                .m-nav__link{
                    span{
                        color: $color-gray;
                        &:hover{
                            color:$color-primary;
                        }
                    }
                    .m-nav__link-icon{
                        font-size: 1.3em;
                        color: $color-gray;
                        &:hover{
                            color:$color-primary;
                        }
                    }
                }    
            } 
            
        }
        .m-nav__separator{
            color: $color-gray;
            padding: 0 5px;
        }
    }
}
/*===Content Body====*/
.m-content{
    padding: 30px;
}
.m-portlet {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    background-color:$bg-white;
    .m-portlet__head{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 22px 30px;
        border-bottom: 1px solid $border-color;
        .m-portlet__head-title{
            display: table;
            height: 100%;
            table-layout: fixed;
            .m-portlet__head-icon{
                display: table-cell;
                vertical-align: middle;
                font-size: 1.5em;
                color: $color-gray;
                width: 30px;
            }
            h3{
                font-size: 1.25em;
                margin: 0;
                display: table-cell;
                vertical-align: middle;
            }
        }
        
    }
    .m-portlet__body{
        padding: 30px;
        margin-bottom: 30px;
    }
    &.m-portlet--full-height{
        @include mdUp{
            height: calc(100% - 2.2rem);
        }
    }

}

/*===Thumb Image with UserName*/
.img-user{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 50px;
    min-height: 36px;
    .thumb-img{
        width:36px;
        height:36px;
        border-radius:50%;
        overflow: hidden; 
        display:table-cell;
        vertical-align: middle;
        margin-right: 10px;
        position: absolute;
        transform: translateY(-50%);
        top:50%;
        left:0;
    }
    .username{
      display:table-cell;
      vertical-align: middle;   
    }
}
/*Notification,Message dropDown*/
.notification-dropdown,.message-dropdown,.profile-dropdown{
    .dropdown-menu{
        width: 310px;
    }
    .dropdown-item{
        h6{
            overflow: hidden;
            font-size:$font-size-base;
            color:$color-body;
            line-height:$line-height-base;
            font-weight:$font-medium;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            margin: 0;
        }
        span{
            display: block;
            font-size: $font-size-base - 2px;
            color: $color-gray;
        }
        p{
            font-size: $font-size-base;
            color: $color-gray;
            padding-bottom: 0;
        }
    }
    .seeall{
        padding: 10px 20px;
        text-align: center;
        width: 100%;
        display: inline-block;
        border-top:1px solid $border-color;
        .text-link{
            display: inline-block;
            font-size: $font-size-base;
        }
    }
}

.profile-bg{
    background: $bg-primary;
    border-radius: 4px 4px 0 0;
    padding: 15px 20px;
    margin-left: -1px;
    .img-user{
        min-height: 50px;
        padding-left: 60px;
        .thumb-img{
            width: 50px;
            height: 50px;
        }
        .username{
            
            h6{
                color: $color-white;
                margin-bottom: 0; 
                font-weight: $font-regular;   
            }
            span{
                color: $color-white;
                display: block
            }
        }
    }
}
/*===Profile Page*/
.profile-img{
    position: relative;
    overflow:hidden;
    border:1px solid $border-color;
    @include border-radius($border-radius);
    width: 150px;
    img{
        max-width: 100%;
    } 
    .upload-file{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .la{
            color: $color-white;
            position: absolute;
            top:0;
            right:0;
            width:40px;
            height:40px;
            border-radius: 50%;
            background: $bg-primary;
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 26px;
            font-size: $font-size-base + 2px;
        }
    }
}
/*notification-setting*/
.notification-setting{
    .custom-checkbox{
        label{
            font-size: 1.2em;
            margin-bottom: 15px;
            span{
                font-size: 1em;
            }
        }
    } 
}
/*===Dashboard===*/
.overview{
    position: relative;
    padding-left: 65px;
    .icon{
        position: absolute;
        top:50%;
        left:0;
        background: $body-bg;
        width: 50px;
        height: 50px;
        color: $color-primary;
        
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
                i{
                    font-size: 2rem;
                }
                
    }
}
.overview-list{
    li{
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom:1px solid $border-color;
        &:last-child{
            border-bottom:none;
        }
    }
    .img-user{
        padding-left: 65px;
        min-height: 50px;
        .thumb-img{
            width: 50px;
            height: 50px;
        }
        .username{
            width: 100%;
            p{
            padding: 0;
        }
        h6{
            margin-bottom: 0.5em;
                span{
                    float: right;
                    font-size: $font-size-base;
                    color: $color-gray;
                    font-weight: $font-regular;
                }
            }
        }
        
    } 
}
.success
{
    color: green;
    background: lightgreen;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
}

